@model List<KindStoreDTO>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Stocks Types";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject IViewLocalizer localizer

<div class="text-center">
    <h1 class="mb-2">@localizer["Stocks Types"] </h1>
</div>

<div class="container pt-2">
    <div class="d-flex justify-content-between mb-2 gap-2">
        <div>
            <a asp-area="Stocks" asp-controller="StockType" asp-action="Add_StockType" class="btn btn-sm btn-primary fs-6" style="width:150px">
                @localizer["Add Stock Type"]
            </a>
        </div>
    </div>
    <div class="overflow-auto" style="max-height:calc(100vh - 145px)">
        <table id="myTable" class="table table-bordered table-hover overflow-auto" style="width:100%;">
            <thead class="table-dark">
                <tr>
                    <th class="align-middle">
                        @localizer["StockType ID"]
                    </th>
                    <th class="align-middle">
                        @localizer["Stock Type"]
                    </th>
                    <th class="align-middle">
                        @localizer["Stock Kind"]
                    </th>
                    <th class="align-middle">
                        @localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">@item.KId</td>
                        <td class="align-middle">@item.KName</td>
                        <td class="align-middle">
                            @if (item.StockType == 6)
                                @localizer["Full Production"]
                            else if (item.StockType == 7)
                                @localizer["Materials"]

                        </td>
                        <td class="text-center align-middle" style="width: 325px;">
                            <a asp-controller="StockType" asp-action="Edit_StockType" asp-route-id="@item.KId" class="btn btn-sm btn-success mb-1 fs-6" style="width: 150px">@localizer["Edit"]</a>
                            <form asp-action="Delete_StockType" method="post" class="d-inline">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@item.KId" />
                                <button class="btn btn-sm btn-danger mb-1 fs-6" onclick="return confirm('Are you sure you want to delete this one?')" style="width: 150px">@localizer["Delete"]</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
