@{
    List<MainItemViewDTO> GetMainLevel_3(string code) //function recieve maincode
    {
        string subString = code.Substring(0, 1);
        List<MainItemViewDTO> mainLevel_3 = (List<MainItemViewDTO>)ViewBag?.MainLevel_3;

        return mainLevel_3.Where(obj => obj.MainCode.Substring(0, 1) == subString).ToList();
    }
    List<MainItemViewDTO> GetMainLevel_4(string code)
    {
        string subString = code.Substring(0, 3);
        List<MainItemViewDTO> mainLevel_4 = (List<MainItemViewDTO>)ViewBag?.MainLevel_4;

        return mainLevel_4.Where(obj => obj.MainCode.Substring(0, 3) == subString).ToList();
    }
    List<MainItemViewDTO> GetMainLevel_5(string code)
    {
        string subString = code.Substring(0, 5);
        List<MainItemViewDTO> mainLevel_5 = (List<MainItemViewDTO>)ViewBag?.MainLevel_5;

        return mainLevel_5.Where(obj => obj.MainCode.Substring(0, 5) == subString).ToList();
    }
    List<MainItemViewDTO> GetMainLevel_6(string code)
    {
        string subString = code.Substring(0, 7);
        List<MainItemViewDTO> mainLevel_6 = (List<MainItemViewDTO>)ViewBag?.MainLevel_6;

        return mainLevel_6.Where(obj => obj.MainCode.Substring(0, 7) == subString).ToList();
    }
    
    string F_Year = User.Claims.FirstOrDefault(c => c.Type == "F_Year").Value;
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}
@inject IViewLocalizer localizer

<!DOCTYPE html>
<html lang="en" dir="@(isRTL ? "RTL" : "LTR")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Items Guide</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout_MedAnalysis.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
</head>
<body>
    <div class="d-flex">
        <div id="mySidebar" class="col-2 bg-dark p-0">
            <div class="vh-100 p-1 d-flex flex-column">
                <a asp-area="Stocks" asp-controller="MainItem" asp-action="index" class="d-flex my-2 justify-content-center text-white text-decoration-none">
                    <span class="fs-3 d-sm-inline">@localizer["Items Guide"]</span>
                </a>
                <a asp-area="Stocks" asp-controller="MainItem" asp-action="MainLevel_2" onclick="openLevel(event)" class="d-flex my-2 justify-content-start ps-2 text-white text-decoration-none fs-4">
                    @localizer["The Items"]
                </a>
                <ul class="nav nav-pills flex-column p-0">
                    @foreach (var item in ViewBag?.MainLevel_2)
                    {
                    <li class="nav-item has-submenu">
                        <a asp-area="Stocks" asp-controller="MainItem" asp-action="MainLevel_3" asp-route-id="@item.MainCode" class="nav-link hover-link">
                            <i class="fa-solid fa-caret-@(isRTL ? "left ms-1" : "right me-1")"></i>
                            @item.MainName
                        </a>
                        <ul class="submenu collapse p-0">
                            @foreach (var sub in GetMainLevel_3(item.MainCode))
                            {
                            <li class="nav-item has-submenu">
                                <a asp-area="Stocks" asp-controller="MainItem" asp-action="MainLevel_4" asp-route-id="@sub.MainCode" class="nav-link hover-link @(isRTL ? "pe-4" : "ps-4")">
                                    <i class="fa-solid fa-caret-@(isRTL ? "left ms-1" : "right me-1")"></i>
                                    @sub.MainName
                                </a>
                                <ul class="submenu collapse p-0">
                                    @foreach (var subitem in GetMainLevel_4(sub.MainCode))
                                    {
                                    <li class="nav-item">
                                        <a asp-area="Stocks" asp-controller="MainItem" asp-action="MainLevel_5" asp-route-id="@subitem.MainCode" class="nav-link hover-link @(isRTL ? "me-2 pe-4" : "ms-2 ps-4")">
                                            <i class="fa-solid fa-caret-@(isRTL ? "left ms-1" : "right me-1")"></i>
                                            @subitem.MainName
                                        </a>
                                        <ul class="submenu collapse p-0">
                                            @foreach (var subSubitem in GetMainLevel_5(subitem.MainCode))
                                            {
                                            <li class="nav-item">
                                                <a asp-area="Stocks" asp-controller="MainItem" asp-action="MainLevel_6" asp-route-id="@subSubitem.MainCode" class="nav-link hover-link @(isRTL ? "me-3 pe-4" : "ms-3 ps-4")">
                                                    <i class="fa-solid fa-caret-@(isRTL ? "left ms-1" : "right me-1")"></i>
                                                    @subSubitem.MainName
                                                </a>
                                                <ul class="submenu collapse p-0">
                                                    @foreach (var lastitem in GetMainLevel_6(subSubitem.MainCode))
                                                    {
                                                    <li class="nav-item">
                                                        <a @* asp-area="Stocks" asp-controller="MainItem" asp-action="MainLevel_6" asp-route-id="@lastitem.MainCode" *@ class="nav-link hover-link @(isRTL ? "me-4 pe-4" : "ms-4 ps-4")">
                                                            @* <i class="fa-solid fa-caret-@(isRTL ? "left ms-1" : "right me-1")"></i> *@
                                                            @lastitem.MainName
                                                        </a>
                                                    </li>
                                                    }
                                                </ul>
                                            </li>
                                            }
                                        </ul>
                                    </li>
                                    }
                                </ul>
                            </li>
                            }
                        </ul>
                    </li>
                    }
                </ul>

            </div>
        </div>

        <div class="content pb-3 position-relative" style="flex: 1; ">
            <div class="d-flex justify-content-between align-items-center gap-2 p-2 shadow-sm rounded">
                <button class="toggler btn btn-secondary rounded-4" onclick="toggleNav()">☰</button>
                <a class="btn btn-secondary rounded-circle" href="/Home/Index" title="go to modules">
                    <i class="fa-solid fa-chevron-@(isRTL ? "right" : "left")"></i>
                </a>
                <span class="fw-bold text-capitalize">@User.Identity.Name</span>
                <span class="fw-bold">@F_Year</span>
                <div class="d-flex align-items-center gap-2 @(isRTL ? "me-auto" : "ms-auto")">
                    <partial name="_SelectLanguagePartial" />
                    <a asp-action="Logout" asp-controller="Account" class="btn btn-secondary">@localizer["Log out"]</a>
                </div>
            </div>
            @RenderBody()
        </div>

        @* Overlay for sidebar in small screen *@
        <div class="overlay position-absolute" onclick="toggleNav()"></div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/popup.js" asp-append-version="true"></script>
    <script type="text/javascript">
        function toggleNav() {
            const navBar = document.getElementById("mySidebar");
            navBar.classList.toggle("nav-open");

            const overlay = document.querySelector(".overlay");
            overlay.classList.toggle("lay-active");
        }

        function openLevel(e) {
            e.preventDefault();
            let flag1 = localStorage.getItem("flag1");
            let link = e.target;
            let action = `${link.getAttribute("href")}?flag1=${flag1}`;
            window.location.href = action;
        }

        // console.log(document.querySelectorAll("#mySidebar .nav-link"));
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll("#mySidebar .nav-link").forEach(function (element) {
                element.addEventListener("click", function (e) {
                    let nextEl = element.nextElementSibling;
                    let parentEl = element.parentElement;

                    if (nextEl) {
                        e.preventDefault();
                        // let mycollapse = new bootstrap.Collapse(nextEl);

                        if (nextEl.classList.contains("show")) {
                            // mycollapse.hide();

                            nextEl.classList.remove("show");
                            // let href = element.getAttribute("href");
                            // window.location.href = href;
                            openLevel(e);
                        }
                        else {
                            nextEl.classList.add("show");
                        }
                    }
                });
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
