@model ReportDailyAssistanceDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Daily assistance for Voucher level";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");

    SelectList branches = new SelectList(Model.branchs, "BranchId", "BranchDesc");
    SelectList JournalTypes = new SelectList(Model.JournalTypes, "JournalCode", "JournalName");

}
@inject IViewLocalizer localizer
<style>
    .hide {
        display: none !important;
    }
    /*  .image {
                        top: 0px;
                        left: 0px;
                        width: 100%;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-attachment: fixed;
                        background-size: cover;
                        background-position: center;
                        opacity: 0.5;
                        z-index: -1;
                    } */
</style>
<div class="container pt-2 " style="min-height:100vh;">
    @* <img class="image" src="/background.jpg" style="position:absolute;" /> *@

    <div class="d-flex justify-content-between align-items-center flex-column flex-md-row mt-4">
        <h1 class="header">@localizer["Daily assistance for Voucher level"]</h1>
        <div class="d-flex gap-2">
            <a class="btn btn-sm btn-primary fs-6" style="width:150px" onclick="AssistanceJournals(event)">
                @localizer["Assistance Journals"]
            </a>
        </div>
    </div>

    <div class="overflow-auto filter-box">
        <div class=" d-flex justify-content-between align-items-center flex-column flex-md-row gap-3 px-1 my-2">
            <div class="d-flex align-items-center flex-column flex-md-row w-100">
                <label for="branches" class="@(isRTL ? "ms-3" : "me-3") mb-1 mb-md-0">@localizer["Branches"]</label>
                <select id="branches" asp-items="branches" class="form-control text-center w-100">
                    <option value="100">@localizer["All Baranches"]</option>
                </select>
            </div>
            <div class="d-flex align-items-center flex-column flex-md-row w-100">
                <label for="journals" class="@(isRTL ? "ms-3" : "me-3") mb-1 mb-md-0">@localizer["Journal"]</label>
                <select id="journals" asp-items="JournalTypes" class="form-control text-center w-100">
                    <option value="100">@localizer["All Journals"]</option>
                </select>
            </div>
                <div class="d-flex align-items-center w-100">
                    <label style="width:60% !important;">@localizer["From Period"]</label>
                    <input id="fromPeriod" type="date" class="form-control text-center" />
                </div>
                <div class="d-flex align-items-center w-100">
                    <label style="width:60% !important;">@localizer["To Period"]</label>
                    <input id="toPeriod" type="date" class="form-control text-center" />
                </div>
        </div>
    </div>

    <div class="report">
    </div>
</div>
<script>
    var branches = document.getElementById("branches")
    var journal = document.getElementById("journals");
    var fromPeriod = document.getElementById("fromPeriod");
    var toPeriod = document.getElementById("toPeriod");

    //for AssistanceJournals //
    function AssistanceJournals(e) {
        if (!fromPeriod.value) {
            fromPeriod.focus();
            return;
        }
        if (!toPeriod.value) {
            toPeriod.focus();
            return;
        }
        var headReport = document.querySelector(".report");

        var journalName = journal.options[journal.selectedIndex].textContent;
        let title = "@localizer["Assistance Journal Review"] @localizer["From"] " + fromPeriod.value + " @localizer["To"] " + toPeriod.value + " - " + journalName;

        headReport.innerHTML =
            `
                <div class="report-head d-flex justify-content-center align-items-center mt-4">
                     <h2 class="header">${title}</h2>
                     <button onclick="printReport()" class="btn btn-success" style="margin-inline-start: auto;">Print</button>
                </div>
            `;

        let url = `/Accounts/ReportDailyAssistance/GetDailyAssistance/${journal.value}?fromPeriod=${fromPeriod.value}&toPeriod=${toPeriod.value}&branche=${branches.value}`;
        var reportTablesContainer = document.createElement("div");
        reportTablesContainer.className = "report-tables-container";
        headReport.appendChild(reportTablesContainer);

        $.ajax({
            url: url,
            success: function (result) {
                for (let item of result) {
                    // Create new table for Master
                    let masterTable = document.createElement("table");
                    masterTable.className = "table table-bordered table-hover Master-table";
                    masterTable.style.width = "100%";
                    masterTable.innerHTML = `
                        <thead class="table-dark">
                            <tr>
                                <th class="align-middle text-center" rowspan="2">@localizer["Voucher No"]</th>
                                <th class="align-middle text-center" rowspan="2">@localizer["Voucher Date"]</th>
                                <th class="align-middle text-center" rowspan="2">@localizer["Currency"]</th>
                                <th class="align-middle text-center" rowspan="2">@localizer["Total Voucher"]</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    `;
                    let masterTableBody = masterTable.querySelector("tbody");
                    let transDate = new Date(item.transDate).toISOString().split('T')[0];
                    const dataM = document.createElement("tr");
                    dataM.innerHTML = `
                        <td class="align-middle">${item.transNo}</td>
                        <td class="align-middle">${transDate}</td>
                        <td class="align-middle">${item.curenncyName}</td>
                        <td class="align-middle">${item.totalTrans}</td>
                    `;
                    masterTableBody.appendChild(dataM);
                    reportTablesContainer.appendChild(masterTable);

                    // Create new table for Detail
                    let detailTable = document.createElement("table");
                    detailTable.className = "table table-bordered table-hover Detail-table";
                    detailTable.style.width = "100%";
                    detailTable.innerHTML = `
                       <thead class="table-active">
                            <tr>
                                <th class="align-middle text-center" rowspan="2">@localizer["Account (Main)"]</th>
                                <th class="align-middle text-center" rowspan="2">@localizer["Account (Sub)"]</th>
                                <th class="align-middle text-center" rowspan="2">@localizer["Debit"]</th>
                                <th class="align-middle text-center" rowspan="2">@localizer["Credit"]</th>
                                <th class="align-middle text-center" rowspan="2">@localizer["Debit"]</th>
                                <th class="align-middle text-center" rowspan="2">@localizer["Credit"]</th>
                                <th class="align-middle text-center" rowspan="2">@localizer["File Type"]</th>
                                <th class="align-middle text-center" rowspan="2">@localizer["File No"]</th>
                                <th class="align-middle text-center" rowspan="2">@localizer["File Date"]</th>
                                <th class="align-middle text-center" rowspan="2">@localizer["Note"]</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    `;
                    let detailTableBody = detailTable.querySelector("tbody");
                    var valDepSum = 0;
                    var valCreditSum = 0;
                    var valDepCurSum = 0;
                    var valCreditCurSum = 0;
                    for (let det of item.detailsDailyAssistanceDTOs) {
                        let docDate = new Date(det.docDate).toISOString().split('T')[0];
                        const dataD = document.createElement("tr");
                        dataD.innerHTML = `
                            <td class="align-middle">${det.mainName}</td>
                            <td class="align-middle">${det.subName}</td>
                            <td class="align-middle">${det.valDep}</td>
                            <td class="align-middle">${det.valCredit}</td>
                            <td class="align-middle">${det.valDepCur}</td>
                            <td class="align-middle">${det.valCreditCur}</td>
                            <td class="align-middle">${det.docStatus ? det.docStatus : ""}</td>
                            <td class="align-middle">${det.docNo}</td>
                            <td class="align-middle">${docDate}</td>
                            <td class="align-middle">${det.lineDesc}</td>
                        `;
                            valDepSum += det.valDep;
                            valCreditSum += det.valCredit;
                            valDepCurSum += det.valDepCur;
                            valCreditCurSum += det.valCreditCur
                        detailTableBody.appendChild(dataD);
                    }
                    //Sumition
                    var dataSum = document.createElement("tr");
                    dataSum.innerHTML = `
                            <td class="text-center" colspan="2">@localizer["The Total"]</td>
                            <td style="background-color: #e6dfdf;">${valDepSum.toFixed(2)}</td>
                            <td style="background-color: #e6dfdf;">${valCreditSum.toFixed(2)}</td>
                            <td style="background-color: #e6dfdf;">${valDepCurSum.toFixed(2)}</td>
                            <td style="background-color: #e6dfdf;">${valCreditCurSum.toFixed(2)}</td>
                        `;
                    detailTableBody.appendChild(dataSum);
                    reportTablesContainer.appendChild(detailTable);
                        let hrcreate = document.createElement("hr")
                        hrcreate.style.height ="10px"
                    reportTablesContainer.appendChild(hrcreate);

                }
            }
        });
    }
    function printReport() {
        let head = document.querySelector(".report-head");
        let tableReport = document.querySelector(".print-table");
        let originalContent = document.body.innerHTML;//all body

        head.querySelector("button").style.display = "none";
        document.body.innerHTML = head.outerHTML + tableReport.outerHTML;
        window.print();
        document.body.innerHTML = originalContent;
    }

</script>