@using ProSoft.EF.DTOs.Medical.HospitalPatData.Reports
@using ProSoft.UI.Global

@model ReceiptInquiryRequestDTO
@inject IViewLocalizer localizer

@{

    ViewData["Title"] = "Recepit Inquiry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container pt-2 ">
    <h3 class="text-center mt-4">@localizer["ReceiptInquiry"]</h3>

    <div class="row mt-4">
        <form asp-action="GetReceiptInquiry" class="col-12 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="row g-3 row-cols-lg-auto align-items-center">

                        <div class="col-6">
                            <label class="col-form-label">رقم الايصال</label>
                        </div>
                        <div class="col-6">
                            <input type="number" asp-for="ExInvoiceNo" class="form-control" />
                        </div>
                        <div class="col-6">
                            <label class="form-label">سنة الايصال :</label>
                        </div>
                        <div class="col-6">
                            <input type="number" class="form-control text-center no-arrows" value="2024" disabled />
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary">@localizer["Inquiry"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table id="ReceiptTable" class="table table-hover table-bordered display">
                        <thead>
                            <tr>
                                <th class="text-center">@localizer["#"]</th>
                                <th class="text-center">@localizer["Receipt"]</th>
                                <th class="text-center">@localizer["Date"]</th>
                                <th class="text-center">@localizer["Time"]</th>
                                <th class="text-center">@localizer["PatientCode"]</th>
                                <th class="text-center">@localizer["PatientName"]</th>
                                <th class="text-center">@localizer["Side"]</th>
                                <th class="text-center">@localizer["Clinic Service"]</th>
                                <th class="text-center">@localizer["Data Entry"]</th>
                                <th class="text-center">@localizer["Data Editor"]</th>
                                <th class="text-center">@localizer["ReceiptStatus"]</th>
                            </tr>
                        </thead>

                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

