@model List<ClassificationViewDTO>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Departments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject IViewLocalizer localizer

<div class="text-center">
    <h1 class="mb-2">@localizer["Department Codes"] </h1>
</div>

<div class="container pt-2" style=" min-height:100vh;">
    <div class="d-flex justify-content-between mb-2 gap-2">
        <div>
            <a asp-area="Shared" asp-controller="ClassificationCust" asp-action="Add_ClassCust" class="btn btn-sm btn-primary fs-6" style="width:150px">
                @localizer["Add Department"]
            </a>
        </div>
    </div>
    <div class="overflow-auto" style="height: 300px;">
        <table id="myTable" class="table table-bordered table-hover" style="width:100%;">
            <thead class="table-dark">
                <tr>
                    <th class="align-middle">
                        @localizer["Department Code"]
                    </th>
                    <th class="align-middle">
                        @localizer["Department Description"]
                    </th>
                    <th class="align-middle">
                        @localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">@item.ClassificationCust1</td>
                        <td class="align-middle">@item.ClassificationDesc</td>
                        <td class="text-center align-middle" style="width: 325px;">
                            <a asp-action="Edit_ClassCust" asp-route-id="@item.ClassificationCust1" class="btn btn-sm btn-success mb-1 fs-6" style="width: 150px">@localizer["Edit"]</a>
                            <form asp-action="Delete_ClassCust" method="post" class="d-inline">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@item.ClassificationCust1" />
                                <button class="btn btn-sm btn-danger mb-1 fs-6" onclick="return confirm('Are you sure you want to delete this one?')" style="width: 150px">@localizer["Delete"]</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

