@model AccSafeCheckEditAddDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit Disbursement Permission Check";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList journals = new SelectList(Model.journalTypes, "JournalCode", "JournalName");
    SelectList costCenters = new SelectList(Model.costCenters, "CostCode", "CostDesc");
    SelectList safeNames = new SelectList(Model.treasuryNames, "SafeCode", "SafeNames");
    SelectList accGlobalDef = new SelectList(Model.accGlobalDefs, "CodeNo", "CodeDesc");
    SelectList mainAccCodes = new SelectList(Model.accMainCodes, "MainCode", "MainName");
    SelectList banks = new SelectList(Model.banks, "SubCode", "SubName");
    SelectList subAccCodes = new SelectList(Model.accSubCodes, "SubCode", "SubName");

}
@inject IViewLocalizer localizer
@* <style>
    .image {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        z-index: -1;
    }
</style> *@
<div class="container pt-2" style="min-height:100vh;">
    @* <img class="image" src="/background.jpg" style="position:absolute;" /> *@

    <h1 class="mt-4">@localizer["Edit Disbursement Permission Check"]</h1>
    <form method="post" asp-action="Edit_DisbursementCheck" id="myForm">
        <div class="border p-3 mt-4">

            <div asp-validation-summary="ModelOnly"></div>
            @* hidden *@
            <input asp-for="SafeCeckId" hidden />
            <input asp-for="DocNo" hidden />
            <input asp-for="TranType" hidden />
            <input asp-for="FYear" hidden />
            <input asp-for="Flag" hidden />
            <input asp-for="FlagS" hidden />
            <input asp-for="FlagPayStatus" hidden />
            <input asp-for="DiscountVal" hidden />
            <input asp-for="ProfitTax" hidden />
            <input asp-for="FlagApr" hidden />
            <input asp-for="BranchId" hidden value="@ViewBag.branchId" />

            <!------------------------------------------------------------------------------->

            <div class="parent d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="mb-3" style="width: 100% !important;">
                    @* <label asp-for="Flag"></label> *@
                    <select asp-for="Flag" class="form-control text-center">
                        <option value="1">@localizer["Posting of Invoices"]</option>
                        <option value="2">@localizer["Posting of Treasury"]</option>
                        <option value="3">@localizer["Posting of Pharmacy"]</option>
                    </select>
                    <span asp-validation-for="Flag" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-center gap-3" style="width: 100% !important;">
                    <div class="mb-3 " style="width: 60% !important;">
                        @* <label asp-for="AccTransType"></label> *@
                        <select asp-for="AccTransType" asp-items="journals" class="form-control text-center">

                        </select>
                        <span asp-validation-for="AccTransType" class="text-danger"></span>
                    </div>
                    <div class="mb-3 " style="width: 40% !important;">
                        @* <label asp-for="AccTransNo"></label> *@
                        <input asp-for="AccTransNo" class="form-control" />
                        <span asp-validation-for="AccTransNo" class="text-danger"></span>
                    </div>

                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permission d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="mb-3" style="width: 100% !important;">
                    <label asp-for="DocNo"></label>
                    <input asp-for="DocNo" class="form-control text-center" disabled />
                    <span asp-validation-for="DocNo" class="text-danger"></span>
                </div>
                <div class="parent-permission d-flex justify-content-center gap-3" style="width: 100% !important;">
                    <div class="mb-3 " style="width: 50% !important;">
                        <label asp-for="CostCenterCode" class="ms-2"></label>
                        <select asp-for="CostCenterCode" asp-items="costCenters" class="form-control text-center">
                            <option value="">-- Choose --</option>
                        </select>
                        <span asp-validation-for="CostCenterCode" class="text-danger"></span>
                    </div>
                    <div class="mb-3 " style="width: 50% !important;">
                        <label asp-for="AprovedFlag"></label>
                        <select asp-for="AprovedFlag" class="form-control text-center">
                            <option value="NO">@localizer["No"]</option>
                            <option value="APR">@localizer["Yes"]</option>
                        </select>
                        <span asp-validation-for="AprovedFlag" class="text-danger"></span>
                    </div>

                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permission d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="parent-permission d-flex justify-content-center gap-3" style="width: 100% !important;">
                    <div class="mb-3 " style="width: 100% !important;">
                        <label asp-for="SafeCode"></label>
                        <select asp-for="SafeCode" asp-items="safeNames" class="form-control text-center">
                        </select>
                        <span asp-validation-for="SafeCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3" style="width: 100% !important;">
                    <label asp-for="DocDate"></label>
                    <input asp-for="DocDate" class="form-control" />
                    <span asp-validation-for="DocDate" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permission d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="parent-permission d-flex justify-content-center gap-3" style="width: 100% !important;">
                    <label asp-for="CurrencyCode" style="width: 48% !important;"></label>
                    <div class="mb-3 " style="width: 40% !important;">
                        <input asp-for="CurSer" class="form-control text-center" disabled value="1" />
                    </div>
                    <div class="mb-3 " style="width: 60% !important;">
                        <select asp-for="CurrencyCode" asp-items="accGlobalDef" class="form-control text-center">
                            <option value="">-- Choose --</option>
                        </select>
                        <span asp-validation-for="CurrencyCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3" style="width: 100% !important;">
                    <label asp-for="Rate1"></label>
                    <input asp-for="Rate1" class="form-control text-center" disabled value="1" />
                    <span asp-validation-for="Rate1" class="text-danger"></span>
                </div>
            </div>
            <!------------------------------------------------------------------------------->


            <div class="parent-permission d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="parent-permission d-flex justify-content-center gap-3" style="width: 100% !important;">
                    <div class="mb-3 " style="width: 100% !important;">
                        <label asp-for="ChekNo"></label>
                        <input asp-for="ChekNo" type="number" class="form-control" />
                        <span asp-validation-for="ChekNo" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3" style="width: 100% !important;">
                    <label asp-for="SattlDate"></label>
                    <input asp-for="SattlDate" class="form-control" />
                    <span asp-validation-for="SattlDate" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permission d-flex align-items-md-end justify-content-start  my-mobile gap-3 ">
                <div class="mb-3" style="width: 100% !important;">
                    <label asp-for="PersonName" style="width: 20% !important;"></label>
                    <input asp-for="PersonName" class="form-control" />
                    <span asp-validation-for="PersonName" class="text-danger"></span>

                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permission d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="mb-3" style="width: 100% !important;">
                    <label asp-for="ValuePay">@localizer["Net Check"]</label>
                    <input asp-for="ValuePay" type="number" class="form-control" onchange="getNumbersWord(event)" />
                    <span asp-validation-for="ValuePay" class="text-danger"></span>
                </div>
                <div class="mb-3" style="width: 100% !important;">
                    <input id="numberToWord" disabled class="form-control" />
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permission d-flex align-items-md-end justify-content-start  my-mobile gap-3 ">
                <div class="mb-3" style="width: 50% !important;">
                    <label asp-for="FlagPay" style="width: 50% !important;"></label>
                    <select asp-for="FlagPay" class="form-control text-center">
                        <option value="1">@localizer["Check"]</option>
                        <option value="2">@localizer["Transfer"]</option>
                        <option value="3">@localizer["Visa"]</option>
                    </select>
                    <span asp-validation-for="FlagPay" class="text-danger"></span>

                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permission d-flex align-items-md-end justify-content-start  my-mobile gap-3 ">
                <div class="mb-3" style="width: 50% !important;">
                    <label asp-for="CheckType" style="width: 50% !important;"></label>
                    <select asp-for="CheckType" class="form-control text-center">
                        <option value="">-- Choose --</option>
                        <option value="1">@localizer["Yes"]</option>
                        <option value="0">@localizer["No"]</option>
                    </select>
                    <span asp-validation-for="ValuePay" class="text-danger"></span>
                    <span asp-validation-for="FlagPay" class="text-danger"></span>

                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permission d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="parent-permission d-flex justify-content-center gap-3" style="width: 100% !important;">
                    <label style="width: 48% !important;">@localizer["Debit Account"]</label>
                    <div class="mb-3 " style="width: 50% !important;">
                        @* <label asp-for="MainCode"></label> *@
                        <select asp-for="MainCode" asp-items="mainAccCodes" class="form-control text-center" onchange="getSubCodes(event)">
                            <option value="">-- Choose --</option>
                        </select>
                        <span asp-validation-for="MainCode" class="text-danger"></span>
                    </div>
                    <div class="mb-3 " style="width: 50% !important;">
                        @* <label asp-for="SubCode"></label> *@
                        <select asp-for="SubCode" class="form-control text-center" asp-items="subAccCodes" onchange=" getNameSub(event)">
                            <option value="">-- Choose --</option>
                        </select>
                        <span asp-validation-for="SubCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3" style="width: 100% !important;">
                    <input id="mainAndSub" name="AccName" value="@Model.AccName" class="form-control text-center" style="pointer-events: none;background-color:#e9ecef;" />
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permission d-flex align-items-md-end justify-content-start  my-mobile gap-3 ">
                <div class="mb-3" style="width: 100% !important;">
                    <label asp-for="Commentt" style="width: 20% !important;"></label>
                    <input asp-for="Commentt" class="form-control" />
                    <span asp-validation-for="Commentt" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permission d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="mb-3" style="width: 100% !important;">
                    <label asp-for="SubCode2"></label>
                    <select asp-for="SubCode2" class="form-control text-center" asp-items="subAccCodes" onchange=" getNameSub2(event)">
                        <option value="">-- Choose --</option>
                    </select>
                    <span asp-validation-for="SubCode2" class="text-danger"></span>
                </div>
                <div class="mb-3" style="width: 100% !important;">
                    <input id="mainAndSub2" disabled class="form-control" />
                </div>
            </div>

            <!------------------------------------------------------------------------------->
            <input asp-for="mainName17" hidden value="@ViewBag.mainName17" />
            <input asp-for="mainName13" hidden value="@ViewBag.mainName13" />
            <!------------------------------------------------------------------------------->

            <div class="parent d-flex justify-content-md-center gap-2 ">
                <button type="submit" class="btn btn-success" style="width:150px">
                    @localizer["Save Changes"]
                </button>
                <a asp-controller="DisbursementPermissionCheck" asp-action="Index" asp-route-tranType="SFOUT" asp-route-flagType="oneANDtwo" class="btn btn-secondary" style="width:150px">
                    @localizer["Cancel"]
                </a>
            </div>
        </div>
    </form>
</div>
<script>
    function getNumbersWord(e) {
        let number = e.target.value;
        // console.log(number);

        $.ajax({
            url: `/Treasury/AccSafeCash/GetNumbersToWord/${number}`,
            success: function (result) {
                // console.log(result);
                let numberToWord = document.getElementById("numberToWord");
                numberToWord.value = result
            }
        });
    }
    function banks(e) {
        const selectedOptionText = e.target.options[e.target.selectedIndex].text;
        var personName = document.getElementById('PersonName');
        personName.value = '@localizer["Banks"]/' + selectedOptionText;
        // console.log(personName);
    }
    function getSubCodes(e) {
        let mainElement = e.target;
        let subElement = document.getElementById("SubCode");
        subElement.innerHTML = `<option value="">-- Choose --</option>`;
        let subElement2 = document.getElementById("SubCode2");
        subElement2.innerHTML = `<option value="">-- Choose --</option>`;


        let mainName = e.target.options[e.target.selectedIndex].text;
        // console.log(mainName)
        let mainAndSub = document.getElementById("mainAndSub");
        if (e.target.value) {
            mainAndSub.value = mainName;
        }
        else
            mainAndSub.value = "";

        $.ajax({
            url: `/Treasury/AccSafeCash/GetSubCodesFromAcc/${mainElement.value}`,
            success: function (result) {
          //      console.log(result);
                for (let item of result) {
                    subElement.innerHTML +=
                        `<option value="${item.subCode}">${item.subName}</option>`;
                    subElement2.innerHTML +=
                        `<option value="${item.subCode}">${item.subName}</option>`;
                }
            }
        });
    }
    function getNameSub(e) {

        let subName = e.target.options[e.target.selectedIndex].text;
        let mainAndSub = document.getElementById("mainAndSub");
        let oldValue = mainAndSub.value;
        if (e.target.value) {
            mainAndSub.value = oldValue + ' - ' + subName;
        }
        else
            mainAndSub.value = oldValue;

    }
    function getNameSub2(e) {

        let subName = e.target.options[e.target.selectedIndex].text;
        let mainAndSub = document.getElementById("mainAndSub2");

        let mainName17 = document.getElementById("mainName17").value;
        console.log(mainName17);
        let mainName13 = document.getElementById("mainName13").value;
        let checkType = document.getElementById("CheckType").value;

        if (checkType == 1) {
            mainAndSub2.value = mainName17 + ' - ' + subName;
        }
        else if (checkType == 0) {
            mainAndSub2.value = mainName13 + ' - ' + subName;
        }

    }
</script>