@model GTablelDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Add Source Of Catheter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject IViewLocalizer localizer

<div class="container pt-2">
    <h1 class="mt-4">@localizer["Add Catheter Procedure Name"]</h1>
    <form method="post" asp-action="Add">
        <div class="border p-3 mt-4">

            <div asp-validation-summary="ModelOnly"></div>

            <div class="parent d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="mb-3">
                    <label asp-for="GCode"></label>
                    <input asp-for="GCode" class="form-control" disabled value="@ViewBag.NewCode" />
                    <span asp-validation-for="GCode" class="text-danger"></span>
                </div>
                <div class="mb-3 ">
                    <label>@localizer["Catheter Procedure Name"]</label>
                    <input asp-for="GDesc" class="form-control" />
                    <span asp-validation-for="GDesc" class="text-danger"></span>
                </div>
            </div>
            <!------------------------------------------------------------------------------->
            <div class="parent d-flex justify-content-md-center gap-2 ">
                <button type="submit" class="btn btn-primary" style="width:150px">
                    @localizer["Add Procedure"]
                </button>
                <a asp-controller="ListOfCatheterProcedures" asp-action="Index" class="btn btn-secondary" style="width:150px">
                    @localizer["Cancel"]
                </a>
            </div>
        </div>
    </form>
</div>