@model List<JournalTypeDTO>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Journal Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject IViewLocalizer localizer
@* <style>
    .image {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        z-index: -1;
    }
</style> *@
<div class="container pt-2 " style="min-height:90vh;">
    @* <img class="image" src="/background.jpg" style="position:absolute;" /> *@

    <div class="d-flex justify-content-between align-items-center mt-4 ">
        <h1 class="header">@localizer["Journal Types"]</h1>
        <a asp-controller="JournalType" asp-action="Add_JournalType" class="btn btn-sm btn-primary fs-6" style="width:150px">
            @localizer["Add Journal"]
        </a>
    </div>
    <div class="overflow-auto" style="max-height:calc(100vh - 145px)">
        <table id="myTable" class="table table-bordered table-hover" style="width:100%">
            <thead class="table-dark">
                <tr>
                    <th>
                        @localizer["Code"]
                    </th>
                    <th>
                        @localizer["Journal Name"]
                    </th>
                    <th>
                        @localizer["Journal Type"]
                    </th>
                    <th>
                        @localizer["Serial Type"]
                    </th>
                    <th>
                        @localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var jou in Model)
                {
                    <tr class="align-middle">
                        <td>
                            @jou.JournalCode
                        </td>
                        <td>
                            @jou.JournalName
                        </td>
                        <td>
                            @if (jou.JournalType1 == "BNK")
                                @localizer["Banks"]
                            else if (@jou.JournalType1 == "SAF")
                                @localizer["Treasury"]
                            else if (@jou.JournalType1 == "0")
                                @localizer["Other"]

                        </td>
                        <td>
                            @if (jou.CounterFlag == "C")
                                @localizer["Mechanical"]
                            else if (jou.CounterFlag == "M")
                                @localizer["Manual"]
                            else if (jou.CounterFlag == "A")
                                @localizer["Edit"]
                        </td>
                        <td width="30%" class="text-center">
                            <a asp-controller="JournalType" asp-action="Edit_JournalType" asp-route-ID="@jou.JournalCode" class="btn btn-sm btn-success mb-1 fs-6" style="width:150px">
                                <i class="bi bi-pencil"></i> @localizer["Edit"]
                            </a>

                            <form asp-action="Delete_JournalType" method="post" class="d-inline">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@jou.JournalCode" />
                                <button type="submit" class="btn btn-sm btn-danger mb-1  fs-6" onclick="return confirm('Are you sure you want to delete this item ?');" style="width:150px">@localizer["Delete"] </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

