@using FastReport.Web
@using ProSoft.EF.DTOs.Stocks.Report.TransferAndReceiptTransactionReport
@using ProSoft.UI.Global
@model TransferAndReceiptTransactionReportRequestDTO
@inject IViewLocalizer localizer
@{
    ViewData["title"] = "Transfer And Receipt Transaction Report";
    Layout = "~/Views/Shared/_Layout.cshtml";

    WebReport? webReport = ViewBag.WebReport;
}

@Html.AntiForgeryToken()
<div class="container">
    <h1 class="text-center mt-3">@localizer["Transfer And Receipt Transaction Report"]</h1>
    <form method="post" asp-action="Index" asp-controller="TransferAndReceiptTransactionReport" class="filter-box mt-5 p-3">
        <div class="row mt-3">
            <div class="col-lg-4 col-md-6">
                <label class="form-label">@localizer["Branch"]</label>
                <select class="form-select form-control" asp-items="@ViewBag.Branchs" asp-for="@Model.BranchId" readonly></select>

            </div>

            <div class="col-lg-4 col-md-6">
                <label class="form-label">@localizer["Permission Type"]</label>
                <select class="form-select form-control" asp-items="@ViewBag.GeneralCodes" asp-for="@Model.UniqueType">
                    <option value="">@localizer["Choosee"]</option>
                </select>
            </div>

            <div class="col-lg-3 col-md-6 d-flex my-3 justify-content-center">
                <div class="form-check form-check-inline align-self-center ">
                    <input class="form-check-input" type="radio" name="reportType" id="Analytical" value="Analytical" checked>
                    <label class="form-check-label" for="Analytical">@localizer["Analytical"]</label>
                </div>
                <div class="form-check form-check-inline align-self-center">
                    <input class="form-check-input" type="radio" name="reportType" id="Overall" value="Overall">
                    <label class="form-check-label" for="Overall">@localizer["Overall"]</label>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-lg-3 col-md-6">
                <label class="form-label">@localizer["Period From"]</label>
                <input type="date" class="form-control" asp-for="@Model.FromDate" value="@(new DateTime(DateTime.Now.Year,1,1).ToString(GlobalConstants.FormatDate))" />
            </div>
            <div class="col-lg-3 col-md-6">
                <label class="form-label">@localizer["Until"]</label>
                <input type="date" class="form-control" asp-for="@Model.ToDate" value="@(DateTime.Now.ToString(GlobalConstants.FormatDate))" />
            </div>
            <div class="col-lg-3 col-md-6">
                <label class="form-label">@localizer["From Stock"]</label>
                <select class="form-select form-control" asp-items="@ViewBag.FromStocks" asp-for="@Model.FromStock">
                    <option value="">@localizer["Choosee"]</option>
                </select>
            </div>
            <div class="col-lg-3 col-md-6">
                <label class="form-label">@localizer["To Stock"]</label>
                <select class="form-select form-control" asp-items="@ViewBag.ToStocks" asp-for="@Model.ToStock">
                    <option value="">@localizer["Choosee"]</option>
                </select>
            </div>
        </div>
        <div class="row mb-3 d-flex">
            <div class="col-lg-3 col-md-6">
                <label class="form-label">@localizer["Search By Item Code"]</label>
                <input type="text" class="form-control" asp-for="@Model.SearchItemMaster" />
            </div>
            <div class="col-lg-3 col-md-6">
                <label class="form-label">@localizer["Search By Item Name"]</label>
                <input type="text" class="form-control" asp-for="@Model.SearchSubName" />
            </div>
            <div class="col-lg-2 col-md-6">
                <label class="form-label">@localizer["From Code"]</label>
                <input type="text" class="form-control" asp-for="@Model.SearchFromItemMaster" />
                <span asp-validation-for="@Model.SearchFromItemMaster" class="text-danger"></span>
            </div>
            <div class="col-lg-2 col-md-6">
                <label class="form-label">@localizer["To Code"]</label>
                <input type="text" class="form-control" asp-for="@Model.SearchToItemMaster" />
                <span asp-validation-for="@Model.SearchToItemMaster" class="text-danger"></span>

            </div>
            <div class="col-lg-2 col-md-6 align-self-end">
                <button type="submit" class="btn btn-primary">@localizer["View"]</button>
            </div>
        </div>
    </form>
     @if (webReport != null)
    { 

        <div class="webreport text-center">
            @await webReport.Render()
        </div>
     }

</div>

