@model TransMasterEditAddDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Add Items For Permission";
    Layout = "_Layout";
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}
@inject IViewLocalizer localizer

<div class="container pt-2">
    <h1 class="mt-4">@Model.PermissionName</h1>
    <div class="border p-2">
        <p class="d-flex justify-content-between align-items-center flex-column flex-md-row fs-4 m-0">
            <span class="fw-bold">@localizer["The Month"] : @Model.MonthName</span>
            <span class="fw-bold">@localizer["The Year"] : @Model.FYear</span>
            <span class="fw-bold">@localizer["Number of Permissions"] : @Model.PermissionsCount</span>
        </p>
        <p class="d-flex justify-content-between align-items-center flex-column flex-md-row fs-4 m-0">
            <span class="fw-bold">@localizer["Stock Name"] : @Model.StockName</span>
            <span class="fw-bold">@localizer["User Name"] : @Model.UserName</span>
        </p>
    </div>
    <form method="post" asp-action="Add_DisburseOrConvertForm">
        <div class="border p-3 mt-4">

            @* Hidden Inputs *@
            <input asp-for="DocNo" type="hidden" />
            <input asp-for="StockCode" type="hidden" />
            <input asp-for="TransType" type="hidden" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="parent-permForm d-flex align-items-md-end justify-content-between gap-md-1 my-mobile ">
                <div class="mb-3" style="width: 30%;">
                    <label asp-for="DocNo" style="width: 125px;"></label>
                    <input asp-for="DocNo" class="form-control" style="width: 210px;" disabled />
                    <span asp-validation-for="DocNo" class="text-danger"></span>
                </div>
                <div class="mb-3 justify-content-between" style="width: 35%;">
                    <label>@localizer["Voucher No"]</label>
                    <input asp-for="AccTransNo" class="form-control" style="width: 72%; pointer-events: none; background-color: #e9ecef" />
                </div>
                <div class="mb-3" style="width: 35%;">
                    <label style="width: 32%;">@localizer["User Journal"]</label>
                    <input asp-for="JournalName" class="form-control" style="width: 210px; pointer-events: none; background-color: #e9ecef" />
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permForm d-flex align-items-md-end justify-content-between gap-md-1 my-mobile ">
                <div class="mb-3" style="width: 30%">
                    <label style="width: 125px;">@localizer["Permission Date"]</label>
                    @if (Model.EnableModify)
                    {
                        <input asp-for="DocDate" type="date" class="form-control" style="width: 210px;" />
                    }
                    else
                    {
                        <input asp-for="DocDate" type="date" class="form-control" style="width: 210px; pointer-events: none; background-color: #e9ecef" />
                    }
                    <span asp-validation-for="DocDate" class="text-danger"></span>
                </div>
                <div class="mb-3 justify-content-between" style="width: 35%;">
                    <label asp-for="StockName" style="width: 20%;">@localizer["From Stock"]</label>
                    <input asp-for="StockName" class="form-control" style="width: 72%;" disabled />
                </div>
                <div class="mb-3" style="width: 35%;">
                    <label asp-for="Flag3" style="width: 32%;"></label>
                    <select asp-for="Flag3" class="form-control text-center" style="width: 78%;">
                        <option value="1">@localizer["No"]</option>
                        <option value="2">@localizer["Yes"]</option>
                    </select>
                    <span asp-validation-for="Flag3" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permForm d-flex align-items-md-end justify-content-between gap-md-1 my-mobile ">
                <div class="mb-3" style="width: 30%">
                    <label asp-for="StockCode2" style="width: 125px;"></label>
                    <select asp-for="StockCode2" class="form-control text-center" style="width: 210px;">
                        <option value="">-- Choose --</option>
                    </select>
                    <span asp-validation-for="StockCode2" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent d-flex justify-content-md-center gap-2">
                <button type="submit" class="btn btn-primary" style="width:150px">@localizer["Add"]</button>
                <a asp-controller="PermissionForm" asp-action="Index" class="btn btn-secondary" style="width:150px">
                    @localizer["Cancel"]
                </a>
            </div>
        </div>
    </form>
</div>
