@model List<CustCodeViewDTO>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Customers Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject IViewLocalizer localizer

<div class="text-center">
    <h1 class="mb-2">@localizer["Customers Data"] </h1>
</div>

<div class="container pt-2">
    <div class="d-flex justify-content-between mb-2 gap-2">
        <div>
            <a asp-area="Stocks" asp-controller="Customer" asp-action="Add_Customer" class="btn btn-sm btn-primary fs-6" style="width:150px">
                @localizer["Add New Customer"]
            </a>
        </div>
    </div>
    <div class="overflow-auto" style="height: 300px;">
        <table id="myTable" class="table table-bordered table-hover" style="width:100%;">
            <thead class="table-dark">
                <tr>
                    <th class="align-middle">
                        @localizer["Customer Code"]
                    </th>
                    <th class="align-middle">
                        @localizer["Customer Name"]
                    </th>
                    <th class="align-middle">
                        @localizer["Customer in Accounts"]
                    </th>
                    <th class="align-middle"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">@item.CustCode1</td>
                        <td class="align-middle">@item.CustName</td>
                        <td class="align-middle">@item.SubCode</td>
                        <td class="text-center align-middle" style="width: 325px;">
                            <a asp-action="Edit_Customer" asp-route-id="@item.Cust" class="btn btn-sm btn-success mb-1 fs-6" style="width: 150px">@localizer["Edit"]</a>
                            <form asp-action="Delete_Customer" method="post" class="d-inline">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@item.Cust" />
                                <button class="btn btn-sm btn-danger mb-1 fs-6" onclick="return confirm('Are you sure you want to delete this one?')" style="width: 150px">@localizer["Delete"]</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
