@inject IViewLocalizer localizer

@{
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
    var F_Year = User.Claims.FirstOrDefault(c => c.Type == "F_Year");
}
<!DOCTYPE html>
<html lang="en" dir="@(isRTL ? "RTL" : "LTR")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modules</title>
    @if (isRTL)
    {
        <link rel="stylesheet" href="~/css/bootstrap-rtl.min.css" asp-append-version="true" />

    }
    else
    {

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    }
    <link rel="stylesheet" href="~/css/layout_ourModules.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
</head>
<body>



    <div class="d-flex">
        <nav id="navbarContainer">
            @*    <ul>
            <li class="eis-dropdown">
            <a href="#">file<span>&rsaquo;</span></a>
            <ul>
            <li class="eis-dropdown-two">
            <a href="#">new file<span>&rsaquo;</span></a>
            <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            </ul>
            </li>
            <li><a href="#">open file</a></li>
            <li><a href="#">open folder</a></li>
            <li><a href="#">save</a></li>
            </ul>
            </li>
            <li><a href="#">view</a></li>
            <li><a href="#">tool</a></li>
            </ul>*@
        </nav>


        @RenderBody()
        @*  <div class="content pb-3 position-relative" style="flex: 1;">
        <div class="d-flex justify-content-between align-items-center gap-2 p-2 shadow-sm rounded">
        <button class="toggler btn btn-secondary rounded-4" onclick="toggleNav()">☰</button>
        <span class="fw-bold text-capitalize">@User.Identity.Name</span>
        <span class="fw-bold"> / @(F_Year != null ? F_Year.Value : "No Financial Year")</span>
        <div class="d-flex align-items-center gap-2 @(isRTL ? "me-auto" : "ms-auto")">
        <partial name="_SelectLanguagePartial" />
        <a asp-action="Logout" asp-controller="Account" class="btn btn-secondary">@localizer["Log out"]</a>
        </div>
        </div>
        @RenderBody()
        </div>
        *@
        @* Overlay for sidebar in small screen *@
        @* <div class="overlay position-absolute" onclick="toggleNav()"></div> *@
    </div>
    @* Overlay for sidebar in small screen *@
    @* <div class="overlay position-absolute" onclick="toggleNav()"></div> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/navbarmanager.js" asp-append-version="true"></script>
    <script>
        // function toggleNav() {
        //     const navBar = document.getElementById("mySidebar");
        //     navBar.classList.toggle("nav-open");

        //     const overlay = document.querySelector(".overlay");
        //     overlay.classList.toggle("lay-active");
        // }


        const navbar = new NavbarManager('navbarContainer');
        navbar.createNav([
            {
                // Medical System
                text: '@localizer["Medical System"]',
                subMenu: [{
                    text: '@localizer["Main data"]',
                    subMenu: [
                        {
                            text: '@localizer["Definitions"]',
                            subMenu: []
                        },]
                },
                {
                    text: '@localizer["Transactions"]',
                    subMenu: []
                },
                {
                    text: '@localizer["Reports"]',
                    subMenu: []
                },
                ]
            }, {
                // Stocks System
                text: '@localizer["Stocks System"]',
                subMenu: [
                    {
                        text: '@localizer["Main data"]',
                        subMenu: [
                            {
                                text: '@localizer["Definitions"]',
                                subMenu:
                                    [
                                        {
                                            text: '@localizer["Stocks Types"]',
                                            href: '/Stocks/StockType/Index'
                                        },
                                        {
                                            text: '@localizer["Stocks"]',
                                            href: '/Stocks/Stock/Index'
                                        },
                                        {
                                            text: '@localizer["Sides"]',
                                            href: '/Stocks/Side/Index'
                                        },
                                        {
                                            text: '@localizer["Unit Codes"]',
                                            href: '/Stocks/UnitCode/Index'
                                        },
                                        {
                                            text: '@localizer["Departments"]',
                                            href: '/Shared/ClassificationCust/Index'
                                        },
                                        {
                                            text: '@localizer["The Sections"]',
                                            href: '/Shared/Section/Index'
                                        },
                                        {
                                            text: '@localizer["Joining Departments With Sections"]',
                                            href: '/Stocks/DepartmentsWithSections/Index'
                                        },
                                        {
                                            text: '@localizer["Customer Pricing"]',
                                            href: '/Stocks/ItemsCustPrice/Index'
                                        },
                                        {
                                            text: '@localizer["Permissions Names"]',
                                            href: '/Shared/PermitDefinition/Index'
                                        },
                                        {
                                            text: '@localizer["Joining Users With Transactions"]',
                                            href: '/Stocks/UserTransaction/Index'
                                        },
                                        {
                                            text: '@localizer["The Suppliers"]',
                                            href: '/Stocks/Supplier/Index'
                                        },
                                        {
                                            text: '@localizer["Customers"]',
                                            href: '/Stocks/Customer/Index'
                                        },
                                        {
                                            text: '@localizer["Joining Users With Stocks and Accounts"]',
                                            href: '/Stocks/UserStockTransaction/Index'
                                        },
                                        {
                                            text: '@localizer["Joining Users With Stock Type"]',
                                            href: '/Stocks/StockEmpFlag/Index'
                                        },
                                        {
                                            text: '@localizer["Users Group"]',
                                            href: '/Stocks/UsersGroup/Index'
                                        },
                                        {
                                            text: '@localizer["Joining Users With Side"]',
                                            href: '/Stocks/UserSide/Index'
                                        },
                                        {
                                            text: '@localizer["Joining Units with Items"]',
                                            href: '/Stocks/ItemUnits/Index'
                                        }
                                    ]

                            },
                        ]
                    }, {
                        text: '@localizer["The Balances"]',
                        subMenu: [
                            {
                                text: '@localizer["The Stock Balances"]',
                                href: '/Stocks/StockBalance/ChooseStockType'
                            },
                        ]
                    }, {
                        text: '@localizer["The Codes"]',
                        subMenu: [
                            {
                                text: '@localizer["Order Limit"]',
                                href: '/Stocks/OrderLimit/Index'
                            },
                            {
                                text: '@localizer["Items Guide"]',
                                href: '/Stocks/MainItem/ChooseStockType'
                            },
                        ]
                    },
                    {
                        text: '@localizer["Transactions"]',
                        subMenu: [
                            {
                                text: '@localizer["Permissions Forms"]',
                                href: '/Stocks/PermissionForm/Index'
                            },]
                    }, {
                        text: '@localizer["Closing Procedures"]',
                        subMenu: [{
                            text: '@localizer["Opening and closing Transactions"]',
                            href: '/Stocks/OpenCloseTransaction/Index'
                        },
                        ]
                    },
                    {
                        text: '@localizer["Reports"]',
                        subMenu: [
                            {
                                text: '@localizer["Analytical Customer Transaction Report"]',
                                href: '/Stocks/AnalyticalCustomerTransactionReport/Index'
                            },
                            {
                                text: '@localizer["Request Limit Item Report"]',
                                href: '/Stocks/RequestLimitItemsReport/Index'
                            },
                            {
                                text: '@localizer["Display Permissions Forms"]',
                                href: '/Stocks/PermissionForm/AllRermissionForm'
                            },
                            {
                                text: '@localizer["Quantity class card only"]',
                                href: '/Stocks/QuantityClassCard/Index'
                            },
                            {
                                text: '@localizer["Quantity And Value Class Card"]',
                                href: '/Stocks/QuantityClassCard/QuantityAndValueClassCard'
                            },
                            {
                                text: '@localizer["At Level Transaction Class Card"]',
                                href: '/Stocks/QuantityClassCard/AtLevelTransactionCard'
                            },
                            {
                                text: '@localizer["Transfer And Receipt Transaction"]',
                                href: '/Stocks/TransferAndReceiptTransactionReport/Index'
                            },
                            {
                                text: '@localizer["The Total Item Cards - Quantity"]',
                                href: '/Stocks/TotalItemCards/TotalItemCardsQuantity'
                            },
                            {
                                text: '@localizer["The Total Item Cards - Price"]',
                                href: '/Stocks/TotalItemCards/TotalItemCardsPrice'
                            },
                            {
                                text: '@localizer["The Total Item Cards - Detail"]',
                                href: '/Stocks/TotalItemCards/TotalItemCardsDetail'
                            },
                            {
                                text: '@localizer["Fast Transaction Report"]',
                                href: '/Stocks/TransactionReport/FastTransactionReport'
                            },
                            {
                                text: '@localizer["Slow Transaction Report"]',
                                href: '/Stocks/TransactionReport/SlowTransactionReport'
                            },
                            {
                                text: '@localizer["Zero Transaction Report"]',
                                href: '/Stocks/TransactionReport/ZeroTransactionReport'
                            },
                            {
                                text: '@localizer["Total Permits Transaction Report"]',
                                href: '/Stocks/TransactionReport/TotalPermitsTransactionReport'
                            },
                            {
                                text: '@localizer["Supplier Permits Transaction Report"]',
                                href: '/Stocks/TransactionReport/SupplierPermitsTransactionReport'
                            },
                            {
                                text: '@localizer["Stock Balance Report"]',
                                href: '/Stocks/StockBalanceReport/Index'
                            } 
                        ]
                    },
                ]
            }, {
                // Treasury System
                text: '@localizer["Treasury System"]', subMenu: [
                    {
                        text: '@localizer["Main data"]',
                        subMenu: [
                            {
                                text: '@localizer["Definitions"]',
                                subMenu: []
                            },
                        ]
                    },
                    {
                        text: '@localizer["Transactions"]',
                        subMenu: []
                    },
                    {
                        text: '@localizer["Reports"]',
                        subMenu: []
                    },
                ]
            }, {
                // Accounts System
                text: '@localizer["Accounts System"]', subMenu: [
                    {
                        text: '@localizer["Main data"]',
                        subMenu: [
                            {
                                text: '@localizer["Definitions"]',
                                subMenu: []
                            },
                        ]
                    },
                    {
                        text: '@localizer["Recording Restrictions"]',
                        subMenu: []
                    }, {
                        text: '@localizer["Closing Procedures"]',
                        subMenu: []
                    },
                    {
                        text: '@localizer["Reports"]',
                        subMenu: []
                    },
                ]
            }, {
                // System Tools
                text: '@localizer["System Tools"]', subMenu: [
                    {
                        text: '@localizer["Main data"]',
                        subMenu: []
                    },
                ]
            },


        ]);
    </script>

    <script type="text/javascript">
        // event name=>>DOMContentLoaded
        document.addEventListener("DOMContentLoaded", function () {
            // document.querySelectorAll("#mySidebar .nav-link").forEach(function (element) {
            //     element.addEventListener("click", function (e) {
            //         let nextEl = element.nextElementSibling;
            //         let parentEl = element.parentElement;

            //         if (nextEl) {
            //             //stop click on address like medical analysis
            //             e.preventDefault();

            //             if (nextEl.classList.contains("show")) {
            //                 // mycollapse.hide();
            //                 nextEl.classList.remove("show");
            //                 // let href = element.getAttribute("href");
            //                 // console.log(href);
            //                 // window.location.href = href;
            //             } else {
            //                 nextEl.classList.add("show");
            //             }
            //         }
            //     });
            // });
        });
        //DOMContentLoaded  end
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
