@inject IViewLocalizer localizer

@{
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
    var financialYearClaim = User.FindFirst(c => c.Type == "F_Year");

}

<!DOCTYPE html>
<html lang="en" dir="@(isRTL ? "RTL" : "LTR")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @if (isRTL)
    {
        <link rel="stylesheet" href="~/css/bootstrap-rtl.min.css" asp-append-version="true" />

    }
    else
    {
        
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    }
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fancygrid/client/fancy.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="~/lib/datatables.net-bs5/datatables.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/select2/css/select2.min.css" />
    <link rel ="stylesheet" href="~/datatables.net-scroller-bs5/scroller.bootstrap5.min.css" />
    <script src="https://kit.fontawesome.com/eb688b112b.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="d-flex justify-content-between align-items-center gap-2 p-2 shadow-sm rounded">

        @if (User.Identity != null && User.Identity.IsAuthenticated)
        {
            <a class="btn btn-secondary rounded-circle" href="/Home/Index" title="go to modules">
                <i class="fa-solid @(isRTL ? "fa-chevron-right" : "fa-chevron-left")"></i>
            </a>
            <span class="fw-bold text-capitalize">@User.Identity?.Name</span>
             
    
            <span class="fw-bold"> / @(financialYearClaim != null ? financialYearClaim.Value : "No Financial Year")</span>
        }

        <div class="d-flex align-items-center gap-2 @(isRTL ? "me-auto" : "ms-auto")">
            <partial name="_SelectLanguagePartial" />
            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <a asp-action="Logout" asp-controller="Account" asp-area="" class="btn btn-secondary">@localizer["Log out"]</a>
            }
        </div>
    </div>
    <div class="content pb-3 position-relative" style="flex: 1;">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/datatables.net/datatables.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/popup.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/js/tableframework.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/dayjs/dayjs.min.js"></script>
    <script src="~/lib/dayjs/plugin/customparseformat.min.js"></script>
    <script src="~/lib/tabledit/jquery.tabledit.min.js"></script>
    <script src="~/js/tablemanager.js" asp-append-version="true"></script>
    <script src="~/lib/datatables.net-bs5/datatables.bootstrap5.min.js"></script>
    <script src="~/select2/js/select2.min.js"></script>
    <script src="~/datatables.net-fixedcolumns/datatables.fixedcolumns.min.js"></script>
    <script src="~/datatables.net-select/datatables.select.min.js"></script>

        @* for two way validation *@
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
