@*@model TermsPriceListEditAddDTO*@
@*@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers*@

<!--@{
    ViewData["Title"] = "Add Price List DtL";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //SelectList mainList = new SelectList(Model.MainClinics, "ClinicId", "ClinicDesc");
    //// For Getting sub clinics depending on the selected clinic
    //SelectList subList = new SelectList(Model.SubClinics, "SClinicId", "SClinicDesc");

    //// For Getting service clinics depending on the selected sub clinics
    //SelectList serveList = new SelectList(Model.ServiceClinics, "ServId", "ServDesc");
}
@inject IViewLocalizer localizer

<div class="container pt-2">

    <h1 class="mt-4">@localizer["Edit Term To Price List"] : @Model.PLDetailCode</h1>
    <form method="post" asp-action="Edit_TermOfPriceList" id="myForm">
        <div class="border p-3 mt-4">

            <div asp-validation-summary="ModelOnly"></div>-->
            @* hidden *@
            <!--<input asp-for="PLDtlId" type="hidden" />-->

            @*<div class="parent d-flex align-items-md-end justify-content-center  my-mobile ">
                <div class="mb-3">
                    <label asp-for="PLDetailCode"></label>
                    <input asp-for="PLDetailCode" class="form-control" />
                    <span asp-validation-for="PLDetailCode" class="text-danger"></span>
                </div>
            </div>*@

            <!--<!------------------------------------------------------------------------------->

            <!--<div class="parent d-flex align-items-md-end justify-content-center my-mobile servise gap-3">-->
                @* from main clinic *@
                <!--<div class="mb-3 ">
                    <label asp-for="ClinicId"> </label>
                    <select asp-for="ClinicId" asp-items="mainList" class="form-control text-center" onchange="GetSubClinics()">
                        <option value="">-- Choose --</option>
                    </select>
                    <span asp-validation-for="ClinicId" class="text-danger"></span>
                </div>-->
                @* from sub clinic *@
                <!--<div class="mb-3">
                    <label asp-for="SClinicId"></label>
                    <select asp-for="SClinicId" class="form-control text-center" asp-items="subList" onchange="GetServeClinics()">
                        <option value="">-- Choose --</option>
                    </select>
                    <span asp-validation-for="SClinicId" class="text-danger"></span>
                </div>
            </div>-->

            <!------------------------------------------------------------------------------->
            <!--<div class="parent d-flex align-items-md-end justify-content-center my-mobile gap-3">-->
                @* from Serve clinic *@
                @*<div class="mb-3  servise">
                    <label asp-for="ServId"></label>
                    <select asp-for="ServId" class="form-control text-center" asp-items="serveList">
                        <option value="">-- Choose --</option>
                    </select>
                    <span asp-validation-for="ServId" class="text-danger"></span>
                </div>
                <div class="mb-3 ">
                    <label asp-for="ServBefDesc"></label>
                    <input asp-for="ServBefDesc" id="serviceValue" class="form-control" type="number" />
                    <span asp-validation-for="ServBefDesc" class="text-danger"></span>
                </div>
            </div>-->*@

            <!------------------------------------------------------------------------------->

            <!--<div class="parent d-flex align-items-md-end justify-content-center my-mobile gap-3">
                <div class="mb-3 ">
                    <label asp-for="DiscoutComp"></label>
                    <input asp-for="DiscoutComp" id="DiscoutComp" class="form-control" type="number" />
                    <span asp-validation-for="DiscoutComp" class="text-danger"></span>
                </div>
                <div class="mb-3 ">
                    <label asp-for="CompCovPercentage"></label>
                    <input asp-for="CompCovPercentage" id="CompCovPercentage" class="form-control" type="number" />
                    <span asp-validation-for="CompCovPercentage" class="text-danger"></span>
                </div>
            </div>-->

            <!------------------------------------------------------------------------------->
            <!--<div class="parent d-flex align-items-md-end justify-content-center my-mobile gap-3">

                <div class="mb-3 ">
                    <label>@localizer["After Discount"]</label>
                    <input id="afterDiscound" disabled type="number" class="form-control" value="0" />
                </div>
            </div>-->

            <!------------------------------------------------------------------------------->

            <!--<div class="parent d-flex align-items-md-end justify-content-center my-mobile gap-3">
                <div class="mb-3 ">
                    <label asp-for="PlValue2"></label>
                    <input asp-for="PlValue2" id="patientValue" class="form-control" type="number" />
                    <span asp-validation-for="PlValue2" class="text-danger"></span>
                </div>
                <div class="mb-3 ">
                    <label asp-for="PlValue3"></label>
                    <input asp-for="PlValue3" class="form-control" type="number" />
                    <span asp-validation-for="PlValue" class="text-danger"></span>
                </div>
            </div>-->

            <!------------------------------------------------------------------------------->

            <!--<div class="parent d-flex align-items-md-end justify-content-center my-mobile gap-3">
                <div class="mb-3 ">
                    <label asp-for="ExtraVal"></label>
                    <input asp-for="ExtraVal" class="form-control" type="number" />
                    <span asp-validation-for="ExtraVal" class="text-danger"></span>
                </div>
                <div class="mb-3 ">
                    <label asp-for="ExtraVal2"></label>
                    <input asp-for="ExtraVal2" class="form-control" type="number" />
                    <span asp-validation-for="ExtraVal2" class="text-danger"></span>
                </div>
            </div>-->

            <!------------------------------------------------------------------------------->

            <!--<div class="parent d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="mb-3">
                    <label asp-for="ServOnOff"></label>
                    <select asp-for="ServOnOff" class="form-control text-center">
                        <option value="1">@localizer["Yes"]</option>
                        <option value="2">@localizer["No"]</option>
                    </select>
                    <span asp-validation-for="ServOnOff" class="text-danger"></span>
                </div>
                <div class="mb-3 ">
                    <label asp-for="Covered"></label>
                    <select asp-for="Covered" class="form-control text-center">
                        <option value="1">@localizer["Yes"]</option>
                        <option value="2">@localizer["No"]</option>
                    </select>
                    <span asp-validation-for="Covered" class="text-danger"></span>
                </div>
            </div>-->


            <!------------------------------------------------------------------------------->

            <!--<button type="submit" class="btn btn-primary" style="width:150px">
                @localizer["Save Changes"]
            </button>
            <a asp-controller="PriceList" asp-action="Index" class="btn btn-secondary" style="width:150px">
                @localizer["Cancel"]
            </a>
        </div>
    </form>
</div>

<script>
    // for sub clinic
    function GetSubClinics() {
        var clinicId = document.getElementById("ClinicId").value;

        var subClinicId = document.getElementById("SClinicId");
        subClinicId.innerHTML = `<option value="">-- Choose --</option>`;

        $.ajax({
            url: `/Medical/ClinicTrans/GetSubClinic/${clinicId}`,
            success: function (result) {
                for (let item of result) {
                    subClinicId.innerHTML +=
                        `<option value="${item.sClinicId}">${item.sClinicDesc}</option>`
                }
            }
        });
    }

    // for serve clinic
    function GetServeClinics() {
        var subClinicId = document.getElementById("SClinicId").value;

        var serveClinicId = document.getElementById("ServId");
        serveClinicId.innerHTML = `<option value="">-- Choose --</option>`;

        $.ajax({
            url: `/Medical/ClinicTrans/GetServeClinic/${subClinicId}`,
            success: function (result) {
                for (let item of result) {
                    serveClinicId.innerHTML +=
                        `<option value="${item.servId}">${item.servDesc}</option>`;
                }
            }
        });
    }

    document.getElementById('DiscoutComp').addEventListener('input', function () {
        // Get the value entered in the Discount Comp input
        var discountCompValue = parseFloat(this.value);
        var afterDiscound = document.getElementById('afterDiscound').value
        var patientValuee = document.getElementById('patientValue').value;
        if (discountCompValue == 0)
            var compCovPercentageValue = 100;
        // Calculate the Comp Cov Percentage (for example, let's say it's 100 minus the Discount Comp value)
        var compCovPercentageValue = (100 - discountCompValue) - ((patientValuee / afterDiscound) * 100);
        // Update the value in the CompCovPercentage input
        document.getElementById('CompCovPercentage').value = compCovPercentageValue; // Adjust to your formatting needs

        var serviceValuee = document.getElementById('serviceValue').value;
        document.getElementById('afterDiscound').value = serviceValuee - (serviceValuee * (discountCompValue / 100));
    });
    ////////////////
    document.getElementById('serviceValue').addEventListener('input', function () {
        // Get the value entered in the Discount Comp input
        var serviceValuee = parseFloat(this.value);
        //  console.log(serviceValuee)

        // Update the value in the CompCovPercentage input
        var discountCompValue = document.getElementById('DiscoutComp').value;
        document.getElementById('afterDiscound').value = serviceValuee - (serviceValuee * (discountCompValue / 100));
        document.getElementById('CompCovPercentage').value = (100 - discountCompValue) - ((patientValuee / afterDiscound) * 100);

        // console.log(document.getElementById('afterDiscound').value)
    });
    //////////////////
    document.getElementById('patientValue').addEventListener('input', function () {

        var patientValuee = parseFloat(this.value);
        var serviceValuee = document.getElementById('serviceValue').value;
        var discountCompValue = document.getElementById('DiscoutComp').value;
        var afterDiscound = document.getElementById('afterDiscound').value;
        afterDiscound = serviceValuee - (serviceValuee * (discountCompValue / 100));


        document.getElementById('CompCovPercentage').value = (100 - discountCompValue) - ((patientValuee / afterDiscound) * 100);
        document.getElementById('afterDiscound').value = serviceValuee - (serviceValuee * (discountCompValue / 100));
        // console.log(document.getElementById('afterDiscound').value)
    });
</script>-->