@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Permissions Forms";
    Layout = "_Layout";
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");

    var stocks = new SelectList(ViewBag.stocks, "Stkcod", "Stknam");
}
@inject IViewLocalizer localizer

<div class="container pt-2">
    <div class="page-head d-flex justify-content-between align-items-center flex-column flex-md-row gap-3 my-2">
        <div class="d-flex align-items-center flex-column flex-md-row w-50">
            <label for="stocks" class="@(isRTL ? "ms-3" : "me-3") mb-1 mb-md-0" style="width: 100px">@localizer["Stock"]</label>
            <select id="stocks" asp-items="stocks" class="form-control text-center w-100" onchange="getOrderLimits(event)">
                <option value="">-- Choose --</option>
            </select>
        </div>
    </div>
    <div class="page-head d-flex justify-content-between align-items-center flex-column flex-md-row gap-2 my-2">
        <div class="d-flex align-items-center flex-column flex-md-row w-50">
            <label for="fromItem" class="@(isRTL ? "ms-3" : "me-3") mb-1 mb-md-0" style="width: 100px">@localizer["From Item"]</label>
            <input id="fromItem" class="form-control text-center w-100" />
        </div>
        <div class="d-flex align-items-center flex-column flex-md-row w-50">
            <label for="toItem" class="@(isRTL ? "ms-3" : "me-3") mb-1 mb-md-0" style="width: 100px">@localizer["To Item"]</label>
            <input id="toItem" class="form-control text-center w-100" />
        </div>
        <button class="btn btn-primary" style="width: 150px">@localizer["Search"]</button>
    </div>
    <div class="page-head d-flex justify-content-between align-items-center flex-column flex-md-row gap-2 my-2">
        <div class="d-flex align-items-center flex-column flex-md-row w-50">
            <label for="fromDate" class="@(isRTL ? "ms-3" : "me-3") mb-1 mb-md-0" style="width: 100px">@localizer["From Date"]</label>
            <input id="fromDate" type="date" class="form-control text-center w-100" />
        </div>
        <div class="d-flex align-items-center flex-column flex-md-row w-50">
            <label for="toDate" class="@(isRTL ? "ms-3" : "me-3") mb-1 mb-md-0" style="width: 100px">@localizer["To Date"]</label>
            <input id="toDate" type="date" class="form-control text-center w-100" />
        </div>
        <button class="btn btn-primary" style="width: 150px">@localizer["Search"]</button>
    </div>
    <div class="page-head d-flex justify-content-between align-items-center flex-column flex-md-row gap-3 my-2">
        <div class="d-flex align-items-center flex-column flex-md-row w-50 gap-2">
            <input id="fromDate" type="text" class="form-control text-center w-100" />
            <button class="btn btn-primary" style="width: 150px">@localizer["Code Search"]</button>
        </div>
        <div class="d-flex align-items-center flex-column flex-md-row w-50 gap-2">
            <input id="toDate" type="text" class="form-control text-center w-100" />
            <button class="btn btn-primary" style="width: 150px">@localizer["Name Search"]</button>
        </div>
    </div>

    <div class="overflow-auto" style="height: 225px;">
        <table id="myTable" class="table table-bordered table-hover" style="width:100%;">
            <thead class="table-dark">
                <tr class="align-middle">
                    <th class="text-center" style="min-width: 100px;">
                        @localizer["Item Code"]
                    </th>
                    <th style="min-width: 100px;">
                        @localizer["Item Name"]
                    </th>
                    <th class="text-center" style="min-width: 100px;">
                        @localizer["Order Limit"]
                    </th>
                    <th class="text-center" style="min-width: 100px;">
                        @localizer["Max Quantity"]
                    </th>
                    <th class="text-center" style="min-width: 100px;">
                        @localizer["Min Quantity"]
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="spinner-container d-flex justify-content-center align-items-center d-none" style="height: 100px;">
            <div class="spinner"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function getOrderLimits(e) {
            let stock = e.target;
            let dateFrom = document.getElementById("fromDate");
            let dateTo = document.getElementById("toDate");
            console.log(dateFrom.value == "");
        }
    </script>
}
