@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Order Limits";
    Layout = "_Layout";
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");

    var stocks = new SelectList(ViewBag.stocks, "Stkcod", "Stknam");
}
@inject IViewLocalizer localizer

<div class="text-center">
    <h2 class="mb-2">@localizer["Order Limit"] </h2>
</div>

<div class="container pt-2">
    <div class="page-head d-flex justify-content-between align-items-center flex-column flex-md-row gap-3 my-2">
        <div class="d-flex align-items-center flex-column flex-md-row w-50">
            <label for="stocks" class="@(isRTL ? "ms-3" : "me-3") mb-1 mb-md-0" style="width: 100px">@localizer["Stock"]</label>
            <select id="stocks" asp-items="stocks" class="form-control text-center w-100" onchange="getOrderLimits()">
                <option value="">-- Choose --</option>
            </select>
        </div>
    </div>
    <div class="page-head d-flex justify-content-between align-items-center flex-column flex-md-row gap-2 my-2">
        <div class="d-flex align-items-center flex-column flex-md-row w-50">
            <label for="fromItem" class="@(isRTL ? "ms-3" : "me-3") mb-1 mb-md-0" style="width: 100px">@localizer["From Item"]</label>
            <input id="fromItem" class="form-control text-center w-100" />
        </div>
        <div class="d-flex align-items-center flex-column flex-md-row w-50">
            <label for="toItem" class="@(isRTL ? "ms-3" : "me-3") mb-1 mb-md-0" style="width: 100px">@localizer["To Item"]</label>
            <input id="toItem" class="form-control text-center w-100" />
        </div>
        <button class="btn btn-primary" style="width: 150px">@localizer["Search"]</button>
    </div>
    <div class="page-head d-flex justify-content-between align-items-center flex-column flex-md-row gap-2 my-2">
        <div class="d-flex align-items-center flex-column flex-md-row w-50">
            <label for="fromDate" class="@(isRTL ? "ms-3" : "me-3") mb-1 mb-md-0" style="width: 100px">@localizer["From Date"]</label>
            <input id="fromDate" type="date" class="form-control text-center w-100" />
        </div>
        <div class="d-flex align-items-center flex-column flex-md-row w-50">
            <label for="toDate" class="@(isRTL ? "ms-3" : "me-3") mb-1 mb-md-0" style="width: 100px">@localizer["To Date"]</label>
            <input id="toDate" type="date" class="form-control text-center w-100" />
        </div>
        <button onclick="getOrderLimits()" class="btn btn-primary" style="width: 150px">@localizer["Search"]</button>
    </div>
    <div class="page-head d-flex justify-content-between align-items-center flex-column flex-md-row gap-3 my-2">
        <div class="d-flex align-items-center flex-column flex-md-row w-50 gap-2">
            <input id="fromDate" type="text" class="form-control text-center w-100" />
            <button class="btn btn-primary" style="width: 150px">@localizer["Code Search"]</button>
        </div>
        <div class="d-flex align-items-center flex-column flex-md-row w-50 gap-2">
            <input id="toDate" type="text" class="form-control text-center w-100" />
            <button class="btn btn-primary" style="width: 150px">@localizer["Name Search"]</button>
        </div>
    </div>

    <div class="overflow-auto" style="height: 225px;">
        <table id="myTable" class="table table-bordered table-hover" style="width:100%;">
            <thead class="table-dark">
                <tr class="align-middle">
                    <th class="text-center" style="min-width: 100px;">
                        @localizer["Item Code"]
                    </th>
                    <th style="min-width: 100px;">
                        @localizer["Item Name"]
                    </th>
                    <th class="text-center" style="min-width: 100px;">
                        @localizer["Order Limit"]
                    </th>
                    <th class="text-center" style="min-width: 100px;">
                        @localizer["Max Quantity"]
                    </th>
                    <th class="text-center" style="min-width: 100px;">
                        @localizer["Min Quantity"]
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="spinner-container d-flex justify-content-center align-items-center d-none" style="height: 100px;">
            <div class="spinner"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function getOrderLimits() {
            let stock = document.getElementById("stocks");
            let dateFrom = document.getElementById("fromDate");
            let dateTo = document.getElementById("toDate");
            console.log(dateFrom.value == "");

            if (!stock.value) {
                stock.focus();
                return;
            }
            if (!dateFrom.value) {
                dateFrom.focus();
                return;
            }
            if (!dateTo.value) {
                dateTo.focus();
                return;
            }

            let orderLimits = document.querySelector("#myTable tbody");
            let spinner = orderLimits.parentElement.parentElement.querySelector(".spinner-container");
            spinner.classList.remove("d-none");

            orderLimits.innerHTML = "";

            $.ajax({
                url: `/Stocks/OrderLimit/GetOrderLimits?date1=${dateFrom.value}&date2=${dateTo.value}&stockID=${stock.value}`,
                success: function (result) {
                    spinner.classList.add("d-none");
                    console.log(result);
                    // let totalValue = 0, totalQuantity = 0, totalTax = 0;
                    for (let item of result) {
                        const orderLmt = document.createElement("tr");
                        orderLmt.innerHTML +=
                            `
                            <td class="align-middle text-center">${item.itemCd}</td>
                            <td class="align-middle text-center">${item.itemName}</td>
                            <td class="align-middle text-center">${item.reordQty}</td>
                            <td class="align-middle text-center">${item.maxQty}</td>
                            <td class="align-middle text-center">${item.minQty}</td>
                            <td class="text-center align-middle" style="width: 325px;">
                                <a href="/Stocks/PermissionFormDetails//${item.itemReorderID}" class="btn btn-sm btn-success mb-1 fs-6" style="width: 150px">@localizer["Edit"]</a>
                                <form action="/Stocks/PermissionFormDetails/Delete_TransDetail" method="post" class="d-inline">
                                        @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="${item.itemReorderID}" />
                                    <button type="button" onclick="openModalListener(event)" class="btn btn-sm btn-danger mb-1  fs-6" data-modal-target style="width: 150px">@localizer["Delete"]</button>
                                    <div class="modal-container">
                                        <div class="modal 4" id="modal">
                                            <div class="modal-header fs-4">
                                                <div class="title">@localizer["Confirm Delete"]</div>
                                                <button type="button" onclick="closeModelListener(event)" data-close-button class="close-button">&times;</button>
                                            </div>
                                            <div class="modal-body fs-4">
                                                @localizer["Are you sure you want to delete this item ?"]
                                            </div>
                                            <div class="modal-footer fs-4">
                                                <button type="button" onclick="closeModelListener(event)" data-close-button class="btn btn-secondary">@localizer["No"]</button>
                                                <button class="btn btn-danger">@localizer["Yes"]</button>
                                            </div>
                                        </div>
                                        <div onclick="overlayListener(event)" id="overlay"></div>
                                    </div>
                                </form>
                            </td>
                            `;
                        orderLimits.appendChild(orderLmt);
                    }
                }
            });
        }
    </script>
}
