@model ReportAssistantProfessorDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Assistant Professor(Analytical/Overall)";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");

    SelectList branches = new SelectList(Model.branchs, "BranchId", "BranchDesc");
    SelectList JournalTypes = new SelectList(Model.JournalTypes, "JournalCode", "JournalName");
    SelectList mainAccCodes = new SelectList(Model.accMainCodes, "MainCode", "MainName");
    SelectList costcenter = new SelectList(Model.costCenters, "CostCode", "CostDesc");

}
@inject IViewLocalizer localizer
<style>
    .hide {
        display: none !important;
    }
    /*  .image {
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
                background-position: center;
                opacity: 0.5;
                z-index: -1;
            } */
</style>
<div class="container pt-2 " style="min-height:100vh;">
    @* <img class="image" src="/background.jpg" style="position:absolute;" /> *@

    <div class="d-flex justify-content-between align-items-center flex-column flex-md-row mt-4">
        <h1 class="header">@localizer["Assistant Professor(Analytical/Overall)"]</h1>
        <div class="d-flex gap-2">
            <a class="btn btn-sm btn-primary fs-6" style="width:150px" onclick="Analytical(event)">
                @localizer["Analytical"]
            </a>
            <a class="btn btn-sm btn-primary fs-6" style="width:150px" onclick="OverAll(event)">
                @localizer["Overall"]
            </a>
        </div>
    </div>

    <div class="overflow-auto filter-box">
        <div class=" d-flex justify-content-between align-items-center flex-column flex-md-row gap-3 px-1 my-2">
            <div class="d-flex align-items-center flex-column flex-md-row w-100">
                <label for="branches" class="@(isRTL ? "ms-3" : "me-3") mb-1 mb-md-0">@localizer["Branches"]</label>
                <select id="branches" asp-items="branches" class="form-control text-center w-100">
                    <option value="100">@localizer["All Baranches"]</option>
                </select>
            </div>
            <div class="d-flex align-items-center flex-column flex-md-row w-100">
                <label for="journals" class="@(isRTL ? "ms-3" : "me-3") mb-1 mb-md-0">@localizer["Journal"]</label>
                <select id="journals" asp-items="JournalTypes" class="form-control text-center w-100">
                    <option value="100">@localizer["All Journals"]</option>
                </select>
            </div>
            <div class="d-flex align-items-center w-100">
                <label style="width:60% !important;">@localizer["From Period"]</label>
                <input id="fromPeriod" type="date" class="form-control text-center" />
            </div>
            <div class="d-flex align-items-center w-100">
                <label style="width:60% !important;">@localizer["To Period"]</label>
                <input id="toPeriod" type="date" class="form-control text-center" />
            </div>
        </div>

        <hr /><!---------------------------------------------------------->

        <div class=" d-flex justify-content-between align-items-center flex-column flex-md-row gap-3 px-1 my-2">
            <div class="d-flex align-items-center w-100">
                <label asp-for="MainCode" style="width:60% !important;"></label>
                <select asp-for="MainCode" asp-items="mainAccCodes" class="form-control text-center" onchange="getSubCodes(event)">
                    <option value="">-- Choose --</option>
                </select>
                <span asp-validation-for="MainCode" class="text-danger"></span>
            </div>
            <div class="d-flex align-items-center w-100">
                <label asp-for="SubCode" style="width:60% !important;"></label>
                <select asp-for="SubCode" class="form-control text-center">
                    <option value="">-- Choose --</option>
                </select>
                <span asp-validation-for="SubCode" class="text-danger"></span>
            </div>
            <div class="d-flex align-items-center flex-column flex-md-row w-100">
                <label for="costCode" style="width:60% !important;" class="@(isRTL ? "ms-3" : "me-3") mb-1 mb-md-0">@localizer["Cost Center"]</label>
                <select id="costCode" asp-items="costcenter" class="form-control text-center w-100">
                    <option value="100">-- @localizer["All"] --</option>
                </select>
            </div>
        </div>

        <!---------------------------------------------------------->
    </div>

    <div class="report">
    </div>
</div>
<script>
    ////for variables /////
    var branche = document.getElementById("branches");
    var journal = document.getElementById("journals");
    var fromPeriod = document.getElementById("fromPeriod");
    var toPeriod = document.getElementById("toPeriod");
    var mainCode = document.getElementById("MainCode");
    var subCode = document.getElementById("SubCode");
    var costCode = document.getElementById("costCode");

    //for report Analytical//
    function Analytical(e) {
        if (!fromPeriod.value) {
            fromPeriod.focus();
            return;
        }
        if (!toPeriod.value) {
            toPeriod.focus();
            return;
        }
        if (!mainCode.value) {
            mainCode.focus();
            return;
        }
        if (!subCode.value) {
            subCode.focus();//Must Choose
            return;
        }
        var headReport = document.querySelector(".report");

        let title;
        title = "@localizer["Analytical Assistant Professor From"] " + fromPeriod.value + " @localizer["To"] " + toPeriod.value;

        headReport.innerHTML =
            `
                    <div class="report-head d-flex justify-content-center align-items-center mt-4">
                         <h2 class="header">${title}</h2>
                             <button onclick="printReport()" class="btn btn-success" style="margin-inline-start: auto;">Print</button>
                    </div>

                    <div class="print-table p-0 mb-2 overflow-auto">

                        <table id="myTable" class="table table-bordered table-hover Voucher-table" style="width:100%">
                            <thead class="table-dark">
                                <tr>
                                <th class="align-middle text-center" rowspan="2">
                                        @localizer["Serial"]
                                </th>
                                <th class="align-middle text-center" rowspan="2">
                                        @localizer["Balance"]
                                </th>

                                <th class="align-middle text-center" rowspan="2">
                                        @localizer["Debit Value"]
                                </th>
                                <th class="align-middle text-center" rowspan="2">
                                        @localizer["Credit Value"]
                                </th>
                                <th class="align-middle text-center" rowspan="2">
                                        @localizer["Note"]
                                </th>
                                <th class="align-middle text-center" rowspan="2">
                                        @localizer["Cost Center"]
                                </th>
                                <th class="align-middle text-center" rowspan="2">
                                        @localizer["Voucher No"]
                                </th>
                                <th class="align-middle text-center" rowspan="2">
                                        @localizer["Voucher Date"]
                                </th>
                                </tr>

                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                `;
        let url = `/Accounts/ReportAssistantProfessor/GetAnalytical/${branche.value}?journal=${journal.value}&mainCode=${mainCode.value}&subCode=${subCode.value}&costCode=${costCode.value}&fromPeriod=${fromPeriod.value}&toPeriod=${toPeriod.value}`;

        var dataa = document.querySelector(".Voucher-table tbody");
        dataa.innerHTML = "";  // Empty data
        $.ajax({
            url: url,
            success: function (result) {
                //  console.log(result);
                var index = 0;
                var valDepSum = 0;
                var valCreditSum = 0;
                var balance = 0;
                for (let item of result) {
                    let transDate = item.transDate == null ? "" : new Date(item.transDate).toISOString().split('T')[0];
                    var transNo = item.transNo == 0 ? "" : item.transNo;
                    const data = document.createElement("tr");
                    balance += item.valDep;
                    balance -= item.valCredit;

                    data.innerHTML += `
                            <td class="align-middle">${index}</td>
                            <td class="align-middle">${balance}</td>
                            <td class="align-middle">${item.valDep}</td>
                            <td class="align-middle">${item.valCredit}</td>
                            <td class="align-middle">${item.transDesc}</td>
                            <td class="align-middle">${item.costDesc}</td>
                            <td class="align-middle">${transNo}</td>
                            <td class="align-middle">${transDate}</td>
                            `;
                    index++;
                    valDepSum += item.valDep;
                    valCreditSum += item.valCredit;
                    dataa.appendChild(data);
                }
                const dataForSum = document.createElement("tr");
                //    dataForSum.style.backgroundColor = "#e6dfdf";
                dataForSum.innerHTML =
                    `
                            <td colspan="2"></td>
                            <td style="background-color: #e6dfdf;">${valDepSum}</td>
                            <td style="background-color: #e6dfdf;">${valCreditSum}</td>
                            <td colspan="4" class="align-middle">اجمالي الحركات من اول الفترة حتي نهاية الفترة</td>
                        `;
                dataa.appendChild(dataForSum);

            }
        });
    }

    function OverAll(e) {
        if (!fromPeriod.value) {
            fromPeriod.focus();
            return;
        }
        if (!toPeriod.value) {
            toPeriod.focus();
            return;
        }
        if (!mainCode.value) {
            mainCode.focus();
            return;
        }

        var headReport = document.querySelector(".report");

        let title;
        title = "@localizer["OverAll Assistant Professor From"] " + fromPeriod.value + " @localizer["To"] " + toPeriod.value;

        headReport.innerHTML =
            `
                        <div class="report-head d-flex justify-content-center align-items-center mt-4">
                             <h2 class="header">${title}</h2>
                                 <button onclick="printReport()" class="btn btn-success" style="margin-inline-start: auto;">Print</button>
                        </div>

                        <div class="print-table p-0 mb-2 overflow-auto">

                            <table id="myTable" class="table table-bordered table-hover Voucher-table" style="width:100%">
                                <thead class="table-dark">
                                    <tr>
                                        <th class="align-middle text-center" rowspan="2">
                                                    @localizer["Serial"]
                                        </th>
                                        <th class="align-middle text-center" rowspan="2">
                                                @localizer["Note"]
                                        </th>
                                        <th class="align-middle text-center" colspan="2">
                                                @localizer["Previous Balance"]
                                        </th>
                                            <th class="align-middle text-center" colspan="2">
                                                @localizer["OverAll Transaction"]
                                        </th>
                                            <th class="align-middle text-center" colspan="2">
                                                 @localizer["Balance"]
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="align-middle text-center" >
                                              @localizer["Debit"]
                                        </th>
                                        <th class="align-middle text-center" >
                                              @localizer["Credit"]
                                         </th>
                                        <th class="align-middle text-center" >
                                                @localizer["Debit"]
                                        </th>
                                        <th class="align-middle text-center" >
                                                    @localizer["Credit"]
                                         </th>
                                        <th class="align-middle text-center" >
                                                @localizer["Debit"]
                                        </th>
                                        <th class="align-middle text-center" >
                                                @localizer["Credit"]
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    `;
        let url = `/Accounts/ReportAssistantProfessor/GetOverAll/${branche.value}?journal=${journal.value}&mainCode=${mainCode.value}&costCode=${costCode.value}&fromPeriod=${fromPeriod.value}&toPeriod=${toPeriod.value}`;

        var dataa = document.querySelector(".Voucher-table tbody");
        dataa.innerHTML = "";  // Empty data
        $.ajax({
            url: url,
            success: function (result) {
                //  console.log(result);
                var index = 1;
                var valDepSum = 0;
                var valCreditSum = 0;
                var transValDepSum = 0;
                var transValCreditSum = 0;
                var balance = 0;
                var positiveSum = 0;
                var negativeSum = 0;
                
                for (let item of result) {
                    const data = document.createElement("tr");
                     balance = (item.valDep - item.transValCredit + item.transValDep - item.valCredit - item.lcGapValCredit + item.lcGapValDep).toFixed(2);

                    // Determine what to display in the balance columns
                    var positiveColumn = balance >= 0 ? balance : 0;
                    var negativeColumn = balance < 0 ? Math.abs(balance) : 0; data.innerHTML += `
                        <td class="align-middle">${index}</td>
                        <td class="align-middle">${item.subCode}</td>
                        <td class="align-middle">${item.valDep}</td>
                        <td class="align-middle">${item.valCredit}</td>
                        <td class="align-middle">${item.transValDep}</td>
                        <td class="align-middle">${item.transValCredit}</td>
                        <td class="align-middle">${positiveColumn}</td>
                        <td class="align-middle">${negativeColumn}</td>

                        `;
                    index++;
                    valDepSum += item.valDep;
                    valCreditSum += item.valCredit;        
                    transValDepSum += item.transValDep;
                    transValCreditSum += item.transValCredit;
                    positiveSum += parseFloat(positiveColumn);
                    negativeSum += parseFloat(negativeColumn);
                    dataa.appendChild(data);
                }
                const dataForSum = document.createElement("tr");
                //    dataForSum.style.backgroundColor = "#e6dfdf";
                dataForSum.innerHTML =
                    `
                            <td class="text-center" colspan="2">@localizer["The Total"]</td>
                            <td style="background-color: #e6dfdf;">${valDepSum}</td>
                            <td style="background-color: #e6dfdf;">${valCreditSum}</td>
                            <td style="background-color: #e6dfdf;">${transValDepSum}</td>
                            <td style="background-color: #e6dfdf;">${transValCreditSum}</td>
                            <td style="background-color: #e6dfdf;">${positiveSum.toFixed(2)}</td>
                            <td style="background-color: #e6dfdf;">${negativeSum.toFixed(2)}</td>
                    `;
                dataa.appendChild(dataForSum);
                const dataForSumSum = document.createElement("tr");
                //    dataForSum.style.backgroundColor = "#e6dfdf";
                dataForSumSum.innerHTML =
                    `
                                <td class="text-center" colspan="6"></td>
                                <td style="background-color: #e6dfdf;">${positiveSum.toFixed(2)}</td>
                                <td style="background-color: #e6dfdf;">${negativeSum.toFixed(2)}</td>
                        `;
                dataa.appendChild(dataForSumSum);

            }
        });
    }


    function printReport() {
        let head = document.querySelector(".report-head");
        let tableReport = document.querySelector(".print-table");
        let originalContent = document.body.innerHTML;//all body

        head.querySelector("button").style.display = "none";
        document.body.innerHTML = head.outerHTML + tableReport.outerHTML;
        window.print();
        document.body.innerHTML = originalContent;
    }
   
    function getSubCodes(e) {
        let mainElement = e.target;
        let subElement = document.getElementById("SubCode");

        subElement.innerHTML = `<option value="">-- Choose --</option>`;

        $.ajax({
            url: `/Treasury/AccSafeCash/GetSubCodesFromAcc/${mainElement.value}`,
            success: function (result) {
                // console.log(result);
                for (let item of result) {
                    subElement.innerHTML +=
                        `<option value="${item.subCode}">${item.subName}</option>`;
                }
            }
        });
    }
</script>