@using ProSoft.EF.DTOs.Stocks
@model BedRequestDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Add Bed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject IViewLocalizer localizer

<div class="container pt-2">
    <h1 class="mt-4">@localizer["Add Bed"]</h1>
    <form method="post" asp-action="AddBed">
        <div class="border p-3 mt-4">

            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Id" value="@ViewBag.NewCode" />
            <input type="hidden" asp-for="DegreeId" value="@ViewBag.DegreeId" />
            <input type="hidden" asp-for="RoomId" value="@ViewBag.RoomId" />
            <input type="hidden" asp-for="Branch" value="@ViewBag.Branch" />
            <input type="hidden" asp-for="BookId" value="@ViewBag.BookId" />
            <input type="hidden" asp-for="BedOnOff" value="@ViewBag.BedOnOff" />

            <div class="parent d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="mb-3">
                    <label>@localizer["Bed Code"]</label>
                    <input asp-for="Id" class="form-control" disabled value="@ViewBag.NewCode" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="mb-3 ">
                    <label>@localizer["Patient Price"]</label>
                    <input type="number" asp-for="PatientPrice" class="form-control" />
                    <span asp-validation-for="PatientPrice" class="text-danger"></span>
                </div>

                <div class="mb-3 ">
                    <label>@localizer["Relativet Price"]</label>
                    <input type="number" asp-for="RelativetPrice" class="form-control" />
                    <span asp-validation-for="RelativetPrice" class="text-danger"></span>
                </div>

            </div>
            <!------------------------------------------------------------------------------->
            <div class="parent d-flex justify-content-md-center gap-2 ">
                <button type="submit" class="btn btn-primary" style="width:150px">
                    @localizer["Save"]
                </button>
                <a asp-controller="DegreeAndRoomAndBed" asp-action="Index" class="btn btn-secondary" style="width:150px">
                    @localizer["Cancel"]
                </a>
            </div>
        </div>
    </form>
</div>