@using ProSoft.UI.Global


@{

    ViewData["Title"] = "Degree & Room & Bed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@inject IViewLocalizer localizer

<div class="container pt-2 ">
    <h1 class="text-center header">@localizer["Degree And Room And Bed"]</h1>

    <div class="d-flex justify-content-between align-items-center mt-4 ">
        <h3 class="text-center header">@localizer["Degrees"]</h3>

        <a asp-controller="DegreeAndRoomAndBed" asp-action="AddDegree" class="btn btn-sm btn-primary fs-6">
            @Html.Raw(GlobalConstants.InsertIcon) @localizer["Add Degree"]
        </a>
    </div>

    <div class="border rounded-2 border-dark mt-3 p-3">
        <table id="DegreeTable" class="table table-hover table-bordered display">
            <thead>
                <tr>
                    <th class="text-center">@localizer["Activation"]</th>
                    <th class="text-center">@localizer["The Code"]</th>
                    <th class="text-center">@localizer["The Description"]</th>
                    <th class="text-center">@localizer["Action"]</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-4 ">
        <h3 class="text-center header">@localizer["Rooms"]</h3>

        <a id="addRoomButton" asp-controller="DegreeAndRoomAndBed" asp-action="AddRoom" class="btn btn-sm btn-primary fs-6" disabled>
            @Html.Raw(GlobalConstants.InsertIcon) @localizer["Add Room"]
        </a>
    </div>

    <div class="border rounded-2 border-dark mt-3 p-3">
        <table id="RoomTable" class="table table-hover table-bordered display">
            <thead>
                <tr>
                    <th class="text-center">@localizer["Activation"]</th>
                    <th class="text-center">@localizer["Room Code"]</th>
                    <th class="text-center">@localizer["Patient Price"]</th>
                    <th class="text-center">@localizer["Relativet Price"]</th>
                    <th class="text-center">@localizer["Action"]</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-4 ">
        <h3 class="text-center header">@localizer["Beds"]</h3>

        <a id="addBedButton" asp-controller="DegreeAndRoomAndBed" asp-action="AddBed" class="btn btn-sm btn-primary fs-6" disabled>
            @Html.Raw(GlobalConstants.InsertIcon) @localizer["Add Bed"]
        </a>
    </div>

    <div class="border rounded-2 border-dark mt-3 p-3">
        <table id="BedTable" class="table table-hover table-bordered display">
            <thead>
                <tr>
                    <th class="text-center">@localizer["Activation"]</th>
                    <th class="text-center">@localizer["Bed Code"]</th>
                    <th class="text-center">@localizer["BedRoomDegree"]</th>
                    <th class="text-center">@localizer["Patient Price"]</th>
                    <th class="text-center">@localizer["Relativet Price"]</th>
                    <th class="text-center">@localizer["Booked"]</th>
                    <th class="text-center">@localizer["Action"]</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</div>



@section Scripts {
    <script>


                // Degree Table row select event
                DegreeTable.on("select", function (e, dt, type, indexes) {
                    const rowData = DegreeTable.row(indexes).data();
                    localStorage.setItem("selectedDegree",JSON.stringify(rowData));
                    const degreeId = rowData.id;
                    fetchRoomData(degreeId);

                    addBedButton.attr("disabled",'');
                    BedTable.clear().draw();

                    if (rowData) {
                         enableRoomBtn(degreeId);
                    }

                });

                // Room Table row select event
                RoomTable.on("select", function (e, dt, type, indexes) {
                    const rowData = dt.row(indexes).data();
                    localStorage.setItem("selectedRoom",JSON.stringify(rowData));

                    const roomId = rowData.id;
                    const degreeId = rowData.degreeCode;

                    fetchBedData(degreeId, roomId);

                    if (rowData ) {
                    enableBedBtn(degreeId,roomId);
                    }



                });





                function enableRoomBtn(degreeId){
                        addRoomButton.removeAttr("disabled").attr("href", `/Medical/DegreeAndRoomAndBed/AddRoom/${degreeId}`);
                }
                function enableBedBtn(degreeId,roomId){
                        addBedButton.removeAttr("disabled").attr("href", `/Medical/DegreeAndRoomAndBed/AddBed/?degreeId=${degreeId}&roomId=${roomId}`);
                }
                // Fetch Room data based on degreeId
                function fetchRoomData(degreeId) {
                    RoomTable.ajax.url(`/Medical/DegreeAndRoomAndBed/GetRoomsByDegreeId?degreeId=${degreeId}`).load();
                }

                // Fetch Bed data based on degreeId and roomId
                function fetchBedData(degreeId, roomId) {
                    BedTable.ajax.url(`/Medical/DegreeAndRoomAndBed/GetBedsByDegreeIdAndRoomId?degreeId=${degreeId}&roomId=${roomId}`).load();
                }
            });
    </script>

}