@model List<UserJournalTypeDTO>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Opening Balances";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject IViewLocalizer localizer
@* <style>
    .image {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        z-index: -1;
    }
</style> *@
<div class="container pt-2 " style="min-height:90vh;">
    @* <img class="image" src="/background.jpg" style="position:absolute;" /> *@
    @* hidden *@
    <input id="journaltype" type="hidden" value="@ViewBag.id" />
    <h1 class="header text-center">@localizer["Opening Balances"]</h1>

    <div class="d-flex justify-content-between align-items-center mt-1 ">
        <h3 class="header">@localizer["User Journal Types"]</h3>

    </div>
    <div class="overflow-auto" style="max-height:calc(100vh - 145px)">
        <table id="myTable1" class="table table-bordered table-hover" style="width:100%">
            <thead class="table-dark">
                <tr>
                    <th>
                        @localizer["Code"]
                    </th>
                    <th>
                        @localizer["Journal Name"]
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var jou in Model)
                {
                    <tr onclick="GetAccStartBal(event,@jou.JournalCode)" style="cursor:pointer;" class="align-middle">
                        <td>
                            @jou.JournalCode
                        </td>
                        <td>
                            @jou.JournalName
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @* /////////////////////////////////////////////////////////////////// *@

    @* Table for AccStartBal *@

    @*     <div class="accStartBal-table-head d-flex justify-content-between align-items-center mt-4">
    <h2 class="header accTrans-Dtl"></h2>

    <a class="btn btn-sm btn-primary fs-6" style="width:150px">
    @localizer["Add Term"]
    </a>

    </div> *@

    <div class=" p-0 mb-2 border-opacity-75 overflow-auto">

        <table id="myTable" class="table table-bordered table-hover accStartBal-table" style="width:100%">
            <thead class="table-dark">
                <tr class="align-middle">
                    <th>
                        @localizer["Main Account Code"]
                    </th>
                    <th>
                        @localizer["Sub Account Code"]
                    </th>
                    <th>
                        @localizer["Account Name"]
                    </th>
                    <th>
                        @localizer["Debit"]
                    </th>
                    <th>
                        @localizer["Credit"]
                    </th>
                    <th>
                        @localizer["Cost Center"]
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
    @* /////////////////////////////////////////////////////////////////// *@
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    // Function to handle initial click based on journalCode
    function clickForShow() {
        var journalCode = document.getElementById("journaltype").value.toLowerCase();
        let rows = document.querySelectorAll("#myTable1 tbody tr");

        // Loop through all table rows
        for (let i = 0, len1 = rows.length; i < len1; i++) {
            let firstTd = rows[i].querySelector("td:first-child");  // Select the first td in the row
            if (firstTd) {
                let tdValue = firstTd.textContent || firstTd.innerText;
                tdValue = tdValue.toLowerCase();
                if (tdValue.indexOf(journalCode) > -1) {  // Compare with journalCode
                    rows[i].click();  
                    break;
                }
            }
        }
    }

    // Function to handle click event on row
    function GetAccStartBal(e, id) {
        var accStartBals = document.querySelector(".accStartBal-table tbody");

        // Handle active click
        let allItemRows = e.target.parentElement.parentElement.querySelectorAll("tr");
        allItemRows.forEach(row => {
            row.classList.remove("active-row");
        });
        e.target.parentElement.classList.add("active-row");

        // Handle ajax call
        accStartBals.innerHTML = "";  // Empty the body

        $.ajax({
            url: `/Accounts/AccStartBal/GetAccStartBal/${id}`,
            success: function (result) {
                var fDepOrSum = 0;
                var fCreditOrSum = 0;

                for (let item of result) {
                    const costCenterName = item.costCenterName ? item.costCenterName : "@localizer["Without"]";

                    const accStartBal = document.createElement("tr");
                    accStartBal.innerHTML +=
                        `
                            <td class="item-id align-middle">${item.mainCode}</td>
                            <td class="item-id align-middle">${item.subCode}</td>
                            <td class="item-id align-middle">${item.accName}</td>
                            <td class="align-middle">${item.fDepOr}</td>
                            <td class="align-middle">${item.fCreditOr}</td>
                            <td class="align-middle">${costCenterName}</td>
                            <td class="text-center" width="15%">
                                <a href="/Accounts/AccStartBal/Edit_AccStartBal/${item.startBalId}" class="btn btn-sm btn-success mb-1 fs-6" style="width:150px;">
                                    <i class="bi bi-pencil"></i> @localizer["Edit"]
                                </a>
                            </td>
                            `;
                    fDepOrSum += item.fDepOr;
                    fCreditOrSum += item.fCreditOr;
                    accStartBals.appendChild(accStartBal);
                }

                const dataForSum = document.createElement("tr");
                dataForSum.innerHTML =
                    `
                        <td colspan="3" style="text-align: center;">@localizer["The Sum"]</td>
                        <td style="background-color: #e6dfdf;border:1px solid White;">${fDepOrSum.toFixed(2)}</td>
                        <td style="background-color: #e6dfdf;">${fCreditOrSum.toFixed(2)}</td>
                        <td class="align-middle" colspan="1"></td>
                        `;
                accStartBals.appendChild(dataForSum);
            }
        });
    }

    // Call the function to initiate the click based on journalCode
    var journalCode = document.getElementById("journaltype").value;
    if (journalCode != 0) {
        clickForShow();
    }
</script>