@model List<AccMainCodeDTO>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_LayoutAccounting";
}
@inject IViewLocalizer localizer

<div class="container pt-2">
    @* hidden *@
    <input id="journaltype" type="hidden" value="@ViewBag.clickId" />

    <div class="d-flex justify-content-between align-items-center mt-4 ">
        <h1 class="header">@ViewBag.main.MainName</h1>

        <a asp-controller="AccMainCode" asp-action="AddMainLevel_3" asp-route-parent="@ViewBag.parent" class="btn btn-sm btn-primary fs-6" style="width:150px">
            @localizer["Add Main Account"]
        </a>
    </div>
    <div class="overflow-auto" style="max-height:400px">
      <table id="myTable1" class="table table-bordered table-hover" style="width:100%">
        <thead class="table-dark">
            <tr class="align-middle">
                <th>
                    @localizer["Code"]
                </th>
                <th>
                    @localizer["Account Name"]
                </th>
                <th>
                    @localizer["Nature of Account"]
                </th>
                <th>
                    @localizer["Nature of Account"]
                </th>
                <th>
                    @localizer["General Teacher"]
                </th>
                <th>
                    @localizer["Last Level"]
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var analysis in Model)
            {
                <tr class="align-middle" onclick="GetSubAccount(event, @analysis.MainCode,@analysis.LastLevel)" style="cursor:pointer;">
                    <td>
                        @analysis.MainCode
                    </td>
                    <td class="item-name">
                        @analysis.MainName
                    </td>
                    <td>
                        @if (analysis.BalanceFlag == "B")
                        {
                            @localizer["Budget"]
                        }
                        else if (analysis.BalanceFlag == "P")
                        {
                            @localizer["Profit and Loss"]
                        }
                        else if (analysis.BalanceFlag == "N")
                        {
                            @localizer["Without"]
                        }
                    </td>
                    <td>
                        @if (analysis.MainSubType == "mn")
                        {
                            @localizer["Main Balance"]
                        }
                        else if (analysis.MainSubType == "sb")
                        {
                            @localizer["Sub Balance"]
                        }
                        else if (analysis.MainSubType == "N")
                        {
                            @localizer["Without"]
                        }
                    </td>
                    <td>
                        @if (analysis.OstazType == "mn")
                        {
                            @localizer["Main Balance"]
                        }
                        else if (analysis.OstazType == "sb")
                        {
                            @localizer["Sub Balance"]
                        }
                        else if (analysis.OstazType == "tot")
                        {
                            @localizer["The Sum"]
                        }
                        else if (analysis.OstazType == "no")
                        {
                            @localizer["Without"]
                        }
                    </td>
                    <td>
                        @if (analysis.LastLevel == 1)
                        {
                            @localizer["Yes"]
                        }
                        else if (analysis.LastLevel == 0)
                        {
                            @localizer["No"]
                        }
                    </td>

                    <td width="30%" class="text-center">
                        <a asp-controller="AccMainCode" asp-action="EditMainLevel_3" asp-route-ID="@analysis.MainCode" class="btn btn-sm btn-success mb-1 fs-6" style="width:150px;">
                            <i class="bi bi-pencil"></i> @localizer["Edit"]
                        </a>
                        <form asp-action="DeleteMainLevel_3" method="post" class="d-inline">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@analysis.MainCode" />
                            <button type="button" onclick="openModalListener(event)" class="btn btn-sm btn-danger mb-1  fs-6" data-modal-target style="width:150px;">@localizer["Delete"]</button>
                            <div class="modal-container">
                                <div class="modal 4" id="modal">
                                    <div class="modal-header fs-4">
                                        <div class="title">@localizer["Confirm Delete"]</div>
                                        <button type="button" onclick="closeModelListener(event)" data-close-button class="close-button">&times;</button>
                                    </div>
                                    <div class="modal-body fs-4">
                                        @localizer["Are you sure you want to delete this item ?"]
                                    </div>
                                    <div class="modal-footer fs-4">
                                        <button type="button" onclick="closeModelListener(event)" data-close-button class="btn btn-secondary">@localizer["No"]</button>
                                        <button class="btn btn-danger">@localizer["Yes"]</button>
                                    </div>
                                </div>
                                <div onclick="overlayListener(event)" id="overlay"></div>
                            </div>
                        </form>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    </div>

    @* Table for subAnalysis *@

    <div class="subAnalysis-table-head d-flex justify-content-between align-items-center mt-2">
        <h2 class="header sub-item">
            @localizer["Sub Account"]
        </h2>
        @if (ViewBag.subDeleted != "")
        {
            <div class="d-flex justify-content-center">
                <div class="alert alert-danger  text-center box-error" role="alert">
                    <p class="mb-0">@localizer[ViewBag.subDeleted]</p>
                    @*                 <a asp-controller="DepositVisit" asp-action="Index" asp-route-id="@ViewBag.VisitID" class="position-absolute text-decoration-none text-black fs-4"
                style="right: 5px !important; top: -7px !important;">&times;</a>
                *@
                </div>
            </div>
        }
        <a class="btn btn-sm btn-primary fs-6">
            @localizer["Add Sub Account"]
        </a>
        @* asp-controller="MedAnalysis" asp-action="Add_SubItemAnalysis" asp-route-ID="@ViewBag.item.MainCode" asp-route-itemAnalCode="" *@
    </div>

    <div class="overflow-auto" style="max-height:400px">
      <table id="myTable" class="table table-bordered table-hover subAnalysis-table" style="width:100%">
        <thead class="table-dark">
            <tr>
                <th>
                    @localizer["Code"]
                </th>
                <th>
                    @localizer["Account Name"]
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    </div>

    @* /////////////////////////////////////////////////////////////////// *@

    @* Table for ItemAnalysis *@

    <div class="ItemAnalysis-table-head d-flex justify-content-between align-items-center mt-4">
        <h2 class="header sub-item">
            @localizer["Main Child"]
        </h2>

        <a class="btn btn-sm btn-primary fs-6">
            @localizer["Add Main Child"]
        </a>
        @* asp-controller="MedAnalysis" asp-action="Add_SubItemAnalysis" asp-route-ID="@ViewBag.item.MainCode" asp-route-itemAnalCode="" *@
    </div>
    <table id="myTable" class="table table-bordered table-hover ItemAnalysis-table" style="width:100%">
        <thead class="table-dark">
            <tr>
                <th>
                    @localizer["Code"]
                </th>
                <th>
                    @localizer["Account Name"]
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function GetSubAccount(e, id, lastLevel) {
        let subItems = document.querySelector(".subAnalysis-table tbody");
        let ItemAnalysis = document.querySelector(".ItemAnalysis-table tbody");
        setTimeout(hideBoxError, 3000);

        // Handle active clic
        let allItemRows = e.target.parentElement.parentElement.querySelectorAll("tr");;

        allItemRows.forEach(row => {
            row.classList.remove("active-row");
        });

        let clickedTarget = e.target.parentElement
        clickedTarget.classList.add("active-row");
        ///////////////////////////////////////////////////////////////////

        // Catch header for sub items name and reset it
        let subItemsHead = document.querySelector(".subAnalysis-table-head");

        let itemName = clickedTarget.querySelector(".item-name").innerText;

        let subItemsHeader = subItemsHead.querySelector(".header.sub-item"); // Display Header for sub items
        subItemsHeader.innerHTML = "@localizer["Sub Accounts"] @localizer["for"] " + itemName;

        let subItemAddButton = subItemsHead.querySelector("a");
        subItemAddButton.setAttribute("href", `/Accounts/AccSubCode/AddAccSubCode/${id}?actionName=${"MainLevel_3"}`);
        //console.log(subItemAddButton);
        ///////////////////////////////////////////////////////////////////
        // for last ajax
        let subItemsHeadDtl = document.querySelector(".ItemAnalysis-table-head");
        let subItemsHeaderDtl = subItemsHeadDtl.querySelector(".header.sub-item"); // Display Header for sub items

        // Handle ajax call
        subItems.innerHTML = "";  // Empty the body
        if (lastLevel == 0) {
            subItemAddButton.classList.add("btn-secondary");
            subItemAddButton.style = "pointer-events:none;";
            clickedTarget.classList.add("active-row");
            subItems.innerHTML = "";
            subItemsHeaderDtl.innerHTML = "@localizer["Main Child"] : ";
            ItemAnalysis.innerHTML = ""; // Empty the body
            return;
        }
        subItemAddButton.classList.remove("btn-secondary");
        subItemAddButton.style = "pointer-events:all;";
        // Handle ajax call
        subItems.innerHTML = "";  // Empty the body
        // Handle ajax call
        ItemAnalysis.innerHTML = ""; // Empty the body
        subItemsHeaderDtl.innerHTML = "@localizer["Main Child"] : "; //set last head

        $.ajax({
            url: `/Accounts/AccSubCode/GetSubsByMain/${id}`,
            success: function (result) {
                //console.log(result);
                // console.log(result.sort((a, b) => b.itemanalcode - a.itemanalcode));

                for (let item of result) {
                    const subItem = document.createElement("tr");
                    subItem.innerHTML +=
                        `   <td class="align-middle">${item.subCode}</td>
                                <td class="item-name align-middle">${item.subName}</td>
                                            <td width="30%" class="text-center">
                                    <a href="/Accounts/AccSubCode/EditAccSubCode/${item.subCode}?maincode=${item.mainCode}&actionName=${"MainLevel_3"}" class="btn btn-sm btn-success mb-1 fs-6" style="width:150px;">
                                    <i class="bi bi-pencil"></i> @localizer["Edit"]
                                </a>
                                    <form action="/Accounts/AccSubCode/DeleteAccSubCode"" method="post" class="d-inline">
    @Html.AntiForgeryToken()
                                        <input type="hidden" name="id" value="${item.subCode}" />
                                        <input type="hidden" name="maincode" value="${item.mainCode}" />
                                        <input type="hidden" name="actionName" value="${"MainLevel_3"}" />
                                    <button type="button" onclick="openModalListener(event)" class="btn btn-sm btn-danger mb-1  fs-6" data-modal-target style="width:150px;">@localizer["Delete"]</button>
                                    <div class="modal-container">
                                        <div class="modal 4" id="modal">
                                            <div class="modal-header fs-4">
                                                <div class="title">@localizer["Confirm Delete"]</div>
                                                <button type="button" onclick="closeModelListener(event)" data-close-button class="close-button">&times;</button>
                                            </div>
                                            <div class="modal-body fs-4">
    @localizer["Are you sure you want to delete this item ?"]
                                            </div>
                                            <div class="modal-footer fs-4">
                                                <button type="button" onclick="closeModelListener(event)" data-close-button class="btn btn-secondary">@localizer["No"]</button>
                                                <button class="btn btn-danger">@localizer["Yes"]</button>
                                            </div>
                                        </div>
                                        <div onclick="overlayListener(event)" id="overlay"></div>
                                    </div>
                                </form>
                            </td>
                                            `;
                    //for click to call ajax
                    subItem.style.cursor = "pointer";
                    subItem.onclick = function (event) {

                        GetMainCodeDtl(event, itemName, item.mainCode)
                    }
                    subItems.appendChild(subItem);
                    //console.log(section);
                }
            }
        });
    }
    ///////////////////////////////////////////////////////////////////
    function GetMainCodeDtl(e, name, mainCode) {
        var subItems = document.querySelector(".ItemAnalysis-table tbody");

        // Handle active clic
        let allItemRows = e.target.parentElement.parentElement.querySelectorAll("tr");;

        allItemRows.forEach(row => {
            row.classList.remove("active-row");
        });

        let clickedTarget = e.target.parentElement
        clickedTarget.classList.add("active-row");
        ///////////////////////////////////////////////////////////////////

        // Catch header for sub items name and reset it
        let subItemsHead = document.querySelector(".ItemAnalysis-table-head");

        //let itemName = clickedTarget.querySelector(".item-name").innerText;

        let subItemsHeader = subItemsHead.querySelector(".header.sub-item"); // Display Header for sub items
        subItemsHeader.innerHTML = "@localizer["Main Child"] : " + name;

        let subItemAddButton = subItemsHead.querySelector("a");
        subItemAddButton.setAttribute("href", `/Accounts/AccMainCodeDtl/Add_AccMainCodeDtl/${mainCode}?actionName=${"MainLevel_3"}`);
        // console.log(subItemAddButton);
        ///////////////////////////////////////////////////////////////////

        // Handle ajax call
        subItems.innerHTML = "";  // Empty the body

        $.ajax({
            url: `/Accounts/AccMainCodeDtl/GetAccMainCodeDtl/${mainCode}`,
            success: function (result) {
                // console.log(result);
                //  result.sort((a, b) => a.itemanalcode - b.itemanalcode)

                for (let item of result) {
                    const subItem = document.createElement("tr");
                    subItem.innerHTML +=
                        ` <td>${item.mainCode}</td>
                              <td>${item.mainName}</td>
                              <td width="30%" class="text-center">

                                      <form action="/Accounts/AccMainCodeDtl/Delete_AccMainCodeDtl" method="post" class="d-inline">
    @Html.AntiForgeryToken()
                                            <input type="hidden" name="id" value="${item.secCode}" />
                                            <input type="hidden" name="mainCode" value="${item.mainCode}" />
                                                <input type="hidden" name="actionName" value="${"MainLevel_3"}" />
                                          <button type="button" onclick="openModalListener(event)" class="btn btn-sm btn-danger mb-1  fs-6" data-modal-target style="width:150px;">@localizer["Delete"]</button>
                                            <div class="modal-container">
                                                <div class="modal 4" id="modal">
                                                    <div class="modal-header fs-4">
                                                        <div class="title">@localizer["Confirm Delete"]</div>
                                                        <button type="button" onclick="closeModelListener(event)" data-close-button class="close-button">&times;</button>
                                                    </div>
                                                    <div class="modal-body fs-4">
    @localizer["Are you sure you want to delete this item ?"]
                                                    </div>
                                                    <div class="modal-footer fs-4">
                                                        <button type="button" onclick="closeModelListener(event)" data-close-button class="btn btn-secondary">@localizer["No"]</button>
                                                        <button class="btn btn-danger">@localizer["Yes"]</button>
                                                    </div>
                                                </div>
                                                <div onclick="overlayListener(event)" id="overlay"></div>
                                            </div>
                                        </form>
                                </td>
                            `;
                    subItems.appendChild(subItem);
                    //console.log(section);
                }
            }
        });
    }

    // Function to handle initial click based on journalCode
    function clickForShow() {
        var journalCode = document.getElementById("journaltype").value.toLowerCase();
        let rows = document.querySelectorAll("#myTable1 tbody tr");

        // Loop through all table rows
        for (let i = 0, len1 = rows.length; i < len1; i++) {
            let firstTd = rows[i].querySelector("td:first-child");  // Select the first td in the row
            if (firstTd) {
                let tdValue = firstTd.textContent || firstTd.innerText;
                tdValue = tdValue.toLowerCase();
                if (tdValue.indexOf(journalCode) > -1) {  // Compare with journalCode
                    firstTd.click();
                    break;
                }
            }
        }
    }
    // Call the function to initiate the click based on journalCode
    var journalCode = document.getElementById("journaltype").value;
    if (journalCode != "") {
        clickForShow();
    }
    function hideBoxError() {
        let boxError = document.querySelector(".box-error");
       // console.log(boxError);
        if (boxError) {
            // Hide the element
            boxError.classList.add("d-none");
        }
    }
</script>
