@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Our Modules";
    Layout = "~/Views/Shared/_LayoutOurModules.cshtml";
}

@inject IViewLocalizer localizer

<div class="container pt-2">
    <div class="d-flex justify-content-between align-items-center mt-4">
    @if(@User.Identity.IsAuthenticated)
    {
    <h2 class="text-capitalize">@localizer["Hello"], @User.Identity.Name</h2>
    <h2 class="text-capitalize">@localizer["Branch"] : @User.Claims.FirstOrDefault(c => c.Type == "U_Branch").Value</h2>
    }
    </div>
    <div class="d-flex justify-content-between flex-column flex-md-row gap-3 mb-3">
        <div class="d-flex justify-content-between align-items-center gap-3">
            <span class="d-inline-block fs-5">@localizer["Change Financial Year"]</span>
            <a asp-controller="Account" asp-action="Edit_FinancialYear" class="btn btn-primary">@localizer["Change"]</a>
        </div>
    </div>
</div>