@using FastReport.Web
@using ProSoft.EF.DTOs.Stocks.Report.StockBalance
@using ProSoft.UI.Global
@model StockBalanceReportRequestDTO
@{
    ViewBag.Title = "Stock Balance Report";
    Layout = "~/Views/Shared/_Layout.cshtml";

    SelectList stocks = new SelectList(ViewBag.Stocks, "Stkcod", "Stknam");
    WebReport? webReport = ViewBag.WebReport;

}

@inject IViewLocalizer localizer



<div class="container pt-2 ">

    <div class="d-flex justify-content-between align-items-center flex-column flex-md-row mt-1 mb-3">
        <h2 class="header" style="color: #084298;">@localizer["Stock Balance Report"]</h2>
    </div>



    <form asp-action="Index" method="post" class="filter-box p-3">
       
            <input asp-for="@Model.BranchId" value="@ViewBag.BranchId" hidden />
           

        <div class="row">
           
            

            <div class="vol-12">
                <label asp-for="StockIds" class="form-label">@localizer["Stocks"]</label>

                <select id="stockselect" class="js-states form-control" name="StockIds" multiple="multiple" style="width:100%">
                 <option value="">@localizer["Choosee"]</option>
                </select>
            </div>

            <div class="col-lg-3">
                <label asp-for="FromDate" class="form-label">@localizer["From Period"]</label>
                <input id="fromPeriod" type="date" asp-for="@Model.FromDate" value="@(new DateTime(DateTime.Now.Year,1,1).ToString(GlobalConstants.FormatDate))" class="form-control text-center " />
                <span asp-validation-for="FromDate" class="text-danger"></span>
            </div>

            <div class="col-lg-3">
                <label asp-for="ToDate" class="form-label">@localizer["To Period"]</label>
                <input id="toPeriod" type="date" asp-for="@Model.ToDate" value="@(DateTime.Now.ToString(GlobalConstants.FormatDate))" class="form-control text-center " />
                <span asp-validation-for="ToDate" class="text-danger"></span>
            </div>

            <div class="col-lg-3">
                <label asp-for="@Model.FromCode" class="form-label">@localizer["From Code"]</label>
                <input id="fromPeriod" type="text" asp-for="@Model.FromCode" class="form-control text-center " />
                <span asp-validation-for="@Model.FromCode" class="text-danger"></span>
            </div>
            <div class="col-lg-3">
                <label asp-for="@Model.ToCode" class="form-label">@localizer["To Code"]</label>
                <input id="toPeriod" type="text" asp-for="@Model.ToCode" class="form-control text-center " />
                <span asp-validation-for="@Model.ToCode" class="text-danger"></span>
            </div>
            <div class="col-lg-3">
                <label asp-for="@Model.SearchByItemName" class="form-label">@localizer["Search By Item Name"]</label>
                <input id="toPeriod" type="text" asp-for="@Model.SearchByItemName" class="form-control text-center " />
                <span asp-validation-for="@Model.SearchByItemName" class="text-danger"></span>
            </div>
            <div class="col-lg-6 d-flex row justify-content-center align-items-end">
               
       
                <div class="col-12 d-flex justify-content-center align-items-end">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ReportType" value="ColumnReport" checked>
                        <label class="form-check-label" asp-for="ReportType">@localizer["Columns"]</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ReportType" value="RowsByStock">
                        <label class="form-check-label" asp-for="ReportType">@localizer["Rows By Stock"]</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ReportType" value="RowsByItem">
                        <label class="form-check-label" asp-for="ReportType">@localizer["Rows By Item"]</label>
                    </div>
                </div>

                <div class="col-12 d-flex justify-content-center align-items-end">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="NagativeQty" >
                        <label class="form-check-label" for="NagativeQty">@localizer["Nagative Qty"]</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="ZeroQty">
                        <label class="form-check-label" for="ZeroQty">@localizer["Zero Qty"]</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="PositiveQty">
                        <label class="form-check-label" for="PositiveQty">@localizer["Positive Qty"]</label>
                    </div>
                </div>

            </div>
            <div class="col-2 d-flex align-items-end">

            <button type="submit" class="btn btn-primary">@localizer["View"]</button>
            </div>
        </div>
    </form>
    @if (webReport != null)
    {

        <div class="webreport text-center">
            @await webReport.Render()
        </div>
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // map SelectList to select2

            var stocksData1 = @Html.Raw(Json.Serialize(ViewBag.Stocks));
            console.log(stocksData1);

             var stocksData = $.map(stocksData1, function (obj) {
                 obj.id = obj.id || obj.stkcod; // replace pk with your identifier
                 obj.text = obj.text || obj.stknam; // replace name with the property used for the text

                 return obj;
             });

             console.log(stocksData);

             $("#stockselect").select2({
                data: stocksData,
                 placeholder:"@localizer["Choosee"]",
                dir: "rtl"
            });
        });
    </script>
}
