@model List<MainClinicViewDTO>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Department services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject IViewLocalizer localizer

<style>
    .active-row {
        background-color: #cdcdcd;
    }

    .image {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        z-index: -1;
    }
</style>


<div class="container pt-2" style=" min-height:100vh;">
    <img class="image" src="/background.jpg" style="position:absolute;" />

    <div class="d-flex justify-content-center align-items-center mt-2 ">
      <h1 class="header">@localizer["Department services"]</h1>
    </div>
    <div class="d-flex justify-content-between align-items-center ">
        <h1 class="header">@localizer["Level 1"]</h1>

        <a asp-controller="MainClinic" asp-action="Add_MainClinic" class="btn btn-sm btn-primary fs-6" style="width:150px">
            @localizer["Add Clinic"]
        </a>
    </div>
    <div class="overflow-auto" style="height: 225px;">
        <table id="myTable" class="table table-bordered border-dark table-hover" style="width:100%;">
            <thead class="table-dark">
                <tr>
                    <th class="align-middle">
                        @localizer["Code"]
                    </th>
                    <th class="align-middle">
                        @localizer["Clinic Name"]
                    </th>
                    <th class="align-middle">
                        @localizer["Department Name"]
                    </th>
                    <th class="align-middle">
                        @localizer["Activation"]
                    </th>
                    <th class="align-middle">
                        @localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var clc in Model)
                {
                    <tr onclick="GetSubClinic(event,@clc.ClinicId)" style="cursor:pointer;">
                        <td>
                            @clc.ClinicId
                        </td>
                        <td class="item-name">
                            @clc.ClinicDesc
                        </td>
                        <td>
                            @clc.SecName
                        </td>
                        <td>
                            @if (clc.MOnOff == 1)
                                @localizer["Yes"]
                            else if (clc.MOnOff == 0)
                                @localizer["No"]
                        </td>
                        <td width="30%" class="text-center">
                            <a asp-controller="MainClinic" asp-action="Edit_MainClinic" asp-route-ID="@clc.ClinicId" class="btn btn-sm btn-success mb-1 fs-6" style="width:150px">
                                <i class="bi bi-pencil"></i> @localizer["Edit"]
                            </a>

                            <form asp-action="Delete_MainClinic" method="post" class="d-inline">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@clc.ClinicId" />
                                <button type="submit" class="btn btn-sm btn-danger mb-1  fs-6" onclick="return confirm('Are you sure you want to delete this item ?');" style="width:150px">@localizer["Delete"] </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @* /////////////////////////////////////////////////////////////////// *@

    @* Table for SubClinic *@

    <div class="subClinic-table-head d-flex justify-content-between align-items-center mt-4">
        <h2 class="header subClinic-Dtl">@localizer["Level 2"] :</h2>

        <a class="btn btn-sm btn-primary fs-6" style="width:150px">
            @localizer["Add SubClinic"]
        </a>
        @* asp-controller="MedAnalysis" asp-action="Add_SubItemAnalysis" asp-route-ID="@ViewBag.item.MainCode" asp-route-itemAnalCode="" *@
    </div>

    <div class="border p-0 mb-2 overflow-auto" style="max-height: 225px;">

        <table id="myTable" class="table table-bordered border-dark table-hover subClinic-table" style="width:100%">
            <thead class="table-dark">
                <tr>
                    <th class="align-middle">
                        @localizer["Code"]
                    </th>
                    <th class="align-middle">
                        @localizer["SubClinc Name"]
                    </th>
                    <th class="align-middle">
                        @localizer["Revenue Department"]
                    </th>
                    <th class="align-middle">
                        @localizer["Cost Center"]
                    </th> 
                    <th class="align-middle">
                        @localizer["Add Service"]
                    </th>
                    <th class="align-middle">
                        @localizer["Tax Category"]
                    </th>
                    <th class="align-middle">
                        @localizer["Send Invoice"]
                    </th>
                    <th class="align-middle">
                        @localizer["Stock"]
                    </th>
                    <th class="align-middle">
                        @localizer["Action"]
                    </th>

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    @* /////////////////////////////////////////////////////////////////// *@

    @* Table for service Clinic *@

    <div class="servClinic-table-head d-flex justify-content-between align-items-center mt-4">
        <h2 class="header servClinic-Dtl">@localizer["Level 3"] :</h2>

        <a class="btn btn-sm btn-primary fs-6" style="width:150px">
            @localizer["Add ServClinic"]
        </a>
        @* asp-controller="MedAnalysis" asp-action="Add_SubItemAnalysis" asp-route-ID="@ViewBag.item.MainCode" asp-route-itemAnalCode="" *@
    </div>

    <div class="border p-0 mb-2  overflow-auto" style="max-height: 300px;">

        <table id="myTable" class="table table-bordered border-dark table-hover servClinic-table" style="width:100%">
            <thead class="table-dark">
                <tr>
                    <th class="align-middle">
                        @localizer["Code"]
                    </th>
                    <th class="align-middle">
                        @localizer["ServClinc Name"]
                    </th>
                    <th class="align-middle">
                        @localizer["Service Value"]
                    </th>
                    <th class="align-middle">
                        @localizer["Cost Center"]
                    </th>
                    <th class="align-middle">
                        @localizer["Service Type"]
                    </th>
                    <th class="align-middle">
                        @localizer["Dr Ratio"]
                    </th>
                    <th class="align-middle">
                        @localizer["Dr Value"]
                    </th>
                    <th class="align-middle">
                        @localizer["Center Ratio"]
                    </th>
                    <th class="align-middle">
                        @localizer["Center Value"]
                    </th>
                    <th class="align-middle">
                        @localizer["Protect"]
                    </th>
                    <th class="align-middle">
                        @localizer["Activation"]
                    </th>
                    <th class="align-middle">
                        @localizer["Action"]
                    </th>

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    @* /////////////////////////////////////////////////////////////////// *@

</div>


<script>
    @* Ajax for SubClinic *@
        function GetSubClinic(e, id) {
            var subClinics = document.querySelector(".subClinic-table tbody")
            var servClinics = document.querySelector(".servClinic-table tbody")

            // Handle active clic
            let allItemRows = e.target.parentElement.parentElement.querySelectorAll("tr");
            allItemRows.forEach(row => {
                row.classList.remove("active-row");
            });

            let clickedTarget = e.target.parentElement
            clickedTarget.classList.add("active-row");
            ///////////////////////////////////////////////////////////////////

            // Catch header for subClinic => mainClinic id and reset it
            let subClinicHead = document.querySelector(".subClinic-table-head");
            let servClinicHead = document.querySelector(".servClinic-table-head");

            let itemName = clickedTarget.querySelector(".item-name").innerText;
            //console.log(itemName)

            let subClinicHeader = subClinicHead.querySelector(".header.subClinic-Dtl");
            subClinicHeader.innerHTML = "@localizer["Level 2"] :" + itemName;
            // For remove specific head
            let servClinicHeader = servClinicHead.querySelector(".header.servClinic-Dtl");
            servClinicHeader.innerHTML = "@localizer["Level 3"] :";
            
            let subClinicAddButton = subClinicHead.querySelector("a");
            subClinicAddButton.setAttribute("href", `/Medical/SubClinic/Add_SubClinic/${id}`);
            // console.log(docSubDtlAddButton);
            ///////////////////////////////////////////////////////////////////

            // Handle ajax call
            subClinics.innerHTML = "";  // Empty the body
            // For closing servClinics
            servClinics.innerHTML = "";  // Empty the body

            $.ajax({
                url: `/Medical/SubClinic/GetSubClinic/${id}`,
                success: function (result) {
                    for (let item of result) {
                        const subClinic = document.createElement("tr");
                                let medicalType;
                                if (item.medicalFlag == 0) {
                                    medicalType = "@localizer["Without"]";
                                } else if (item.medicalFlag == 1) {
                                    medicalType = "@localizer["Analysis"]";
                                } else if (item.medicalFlag == 2) {
                                    medicalType = "@localizer["XRay"]";
                                }

                                let itemType;
                                if (item.srvInvShowFlg == "I") {
                                    itemType = "@localizer["Item"]";
                                } else if (item.srvInvShowFlg == "G") {
                                    itemType = "@localizer["Groub"]";
                                }
                        subClinic.innerHTML +=
                            `
                    <td class="align-middle">${item.sClinicId}</td>
                    <td class="align-middle item-name">${item.sClinicDesc}</td>
                    <td class="align-middle">${item.typDesc}</td>
                    <td class="align-middle">${item.costDesc}</td>
                    <td class="align-middle">${medicalType}</td>
                    <td class="align-middle">${item.einvItem}</td>
                    <td class="align-middle">${itemType}</td>
                    <td class="align-middle">${item.stknam}</td>
                    <td width="30%" class="text-center">
                        <a href="/Medical/SubClinic/Edit_SubClinic/${item.sClinicId}" class="btn btn-sm btn-success mb-1 fs-6" style="width:150px">
                            <i class="bi bi-pencil"></i> @localizer["Edit"]
                        </a>
                          <form action="/Medical/SubClinic/Delete_SubClinic" method="post" class="d-inline">
    @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="${item.sClinicId}" />
                            <button type="submit" class="btn btn-sm btn-danger mb-1 fs-6" onclick="return confirm('Are you sure you want to delete this item ?');" style="width:150px">@localizer["Delete"]</button>
                        </form>
                    </td>
                `;
                        //for click to call ajax
                        subClinic.style.cursor = "pointer";
                        subClinic.onclick = function (event) {
                            GetServClinic(event, item.sClinicId,id);
                        }
                        subClinics.appendChild(subClinic);
                    }
                }
            });


        }

    @* Ajax for ServClinic *@
        function GetServClinic(e, id, clinicID) {
            var servClinics = document.querySelector(".servClinic-table tbody")
            // Handle active clic
            let allItemRows = e.target.parentElement.parentElement.querySelectorAll("tr");
            allItemRows.forEach(row => {
                row.classList.remove("active-row");
            });

            let clickedTarget = e.target.parentElement
            clickedTarget.classList.add("active-row");
            ///////////////////////////////////////////////////////////////////

            // Catch header for subClinic => mainClinic id and reset it
            let servClinicHead = document.querySelector(".servClinic-table-head");
            let itemName = clickedTarget.querySelector(".item-name").innerText;
            //console.log(itemName)

            let servClinicHeader = servClinicHead.querySelector(".header.servClinic-Dtl");
            servClinicHeader.innerHTML = "@localizer["Level 3"] :" + itemName;

            let servClinicAddButton = servClinicHead.querySelector("a");
            servClinicAddButton.setAttribute("href", `/Medical/ServiceClinic/Add_ServClinic/${id}?clinicId=${clinicID}`);
            // console.log(docSubDtlAddButton);
            ///////////////////////////////////////////////////////////////////

            // Handle ajax call
            servClinics.innerHTML = "";  // Empty the body

            $.ajax({
                url: `/Medical/ServiceClinic/GetServClinic/${id}`,
                success: function (result) {
                    for (let item of result) {
                        const servClinic = document.createElement("tr");
                        let serviceType;
                        if (item.servType == 0) {
                            serviceType = "@localizer["Service"]";
                        } else if (item.servType == 1) {
                            serviceType = "@localizer["Examination"]";
                        } else if (item.servType == 2) {
                            serviceType = "@localizer["Consultation"]";
                        }else if (item.servType == 3) {
                            serviceType = "@localizer["Visit"]";
                        }

                        let protect;
                        if (item.protectId == 0) {
                            protect = "@localizer["No"]";
                        } else if (item.protectId == 1) {
                            protect = "@localizer["Yes"]";
                        }

                        let active;
                        if (item.servOnOff == 0) {
                            active = "@localizer["No"]";
                        } else if (item.servOnOff == 1) {
                            active = "@localizer["Yes"]";
                        }

                        servClinic.innerHTML +=
                            `
                        <td class="align-middle">${item.servId}</td>
                        <td class="align-middle">${item.servDesc}</td>
                        <td class="align-middle">${item.plValue} @localizer["L.E"]</td>
                        <td class="align-middle">${item.costDesc}</td>
                        <td class="align-middle">${serviceType}</td>
                        <td class="align-middle">${item.drPerc} % </td>
                       <td class="align-middle">${item.drVal} @localizer["L.E"]</td>
                        <td class="align-middle">${100 - item.drPerc} % </td>
                      <td class="align-middle">${item.plValue - item.drVal} @localizer["L.E"]</td>
                        <td class="align-middle">${protect}</td>
                        <td class="align-middle">${active}</td>

                        <td width="30%" class="text-center">
                                        <a href="/Medical/ServiceClinic/Edit_ServClinic/${item.servId}" class="btn btn-sm btn-success mb-1 fs-6" style="width:150px">
                                <i class="bi bi-pencil"></i> @localizer["Edit"]
                            </a>
                          <form action="/Medical/ServiceClinic/Delete_ServClinic" method="post" class="d-inline">
    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="${item.servId}" />
                                <button type="submit" class="btn btn-sm btn-danger mb-1 fs-6" onclick="return confirm('Are you sure you want to delete this item ?');" style="width:150px">@localizer["Delete"]</button>
                            </form>
                        </td>
                    `;
                        servClinics.appendChild(servClinic);
                    }
                }
            });


        }

</script>
