@using ProSoft.EF.DTOs.Stocks
@model StentDesDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit Name Of Stents And Catheters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject IViewLocalizer localizer

<div class="container pt-2">
    <h1 class="mt-4">@localizer["Edit Name Of Stents And Catheters"]</h1>
    <form method="post" asp-action="Edit">
        <div class="border p-3 mt-4">

            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="StentId"/>

            <div class="parent d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="mb-3">
                    <label asp-for="StentId"></label>
                    <input asp-for="StentId" class="form-control" disabled />
                    <span asp-validation-for="StentId" class="text-danger"></span>
                </div>
                <div class="mb-3 ">
                    <label>@localizer["The Description"]</label>
                    <input asp-for="StentDesc" class="form-control" />
                    <span asp-validation-for="StentDesc" class="text-danger"></span>
                </div>
                <div class="mb-3 ">
                    <label>@localizer["The Type"]</label>
                    <select asp-for="StentType" class="form-select">
                        <option value="">@localizer["Choosee"]</option>
                        <option value="1">عادية</option>
                        <option value="2">دوائية</option>
                        <option value="3">تشخيصية</option>
                        <option value="4">مرشدة</option>

                    </select>
                    <span asp-validation-for="StentDesc" class="text-danger"></span>
                </div>
            </div>
            <!------------------------------------------------------------------------------->
            <div class="parent d-flex justify-content-md-center gap-2 ">
                <button type="submit" class="btn btn-primary" style="width:150px">
                    @localizer["Save Changes"]
                </button>
                <a asp-controller="Stent" asp-action="Index" class="btn btn-secondary" style="width:150px">
                    @localizer["Cancel"]
                </a>
            </div>
        </div>
    </form>
</div>