@using ProSoft.EF.DTOs.Stocks
@using ProSoft.UI.Global
@model List<StentDesDTO>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "List of Stents And Catheters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject IViewLocalizer localizer

<div class="container pt-2 ">
    <div class="d-flex justify-content-between align-items-center mt-4 ">
        <h1 class="header">@localizer["List of Stents And Catheters"]</h1>

        <a asp-controller="ListOfCatheterProcedures" asp-action="Add" class="btn btn-sm btn-primary fs-6">
            @Html.Raw(GlobalConstants.InsertIcon) @localizer["Add Name"]
        </a>
    </div>
    <div class="overflow-auto" style="max-height:calc(100vh - 145px)">
        <table id="myTable" class="table table-bordered table-hover" style="width:100%">
            <thead class="table-dark">
                <tr>
                    <th>
                        @localizer["Code"]
                    </th>
                    <th>
                        @localizer["The Description"]
                    </th>
                    <th>
                        @localizer["The Type"]
                    </th>
                    <th>
                        @localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var gTablel in Model)
                {
                    <tr>
                        <td>
                            @gTablel.StentId
                        </td>
                        <td>
                            @gTablel.StentDesc
                        </td>
                        <td>
                            @gTablel.StentType
                        </td>
                        <td class="text-center">
                            <a asp-controller="Stent" asp-action="Edit" asp-route-ID="@gTablel.StentId" class="btn btn-sm btn-warning mb-1 fs-6">
                                @Html.Raw(GlobalConstants.EditIcon)
                            </a>

                            <form asp-controller="Stent" asp-action="Delete" method="post" class="d-inline">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@gTablel.StentId" />
                                <button type="submit" class="btn btn-sm btn-danger mb-1  fs-6" onclick="return confirm('Are you sure you want to delete this item ?');"> @Html.Raw(GlobalConstants.DeleteIcon)</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
