@model List<AccTransMasterViewDTO>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Recording Journal Entries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject IViewLocalizer localizer
@* <style>
    .image {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        z-index: -1;
    }
</style> *@
<div class="container pt-2 " style="min-height:90vh;">
    @* <img class="image" src="/background.jpg" style="position:absolute;" /> *@

    <div class="d-flex justify-content-between align-items-center mt-4 ">
        <h1 class="header">@localizer["Recording Journal Entries"]</h1>
        <input type="text" id="searchInput" class="form-control w-50" oninput="searchVoucher(event)" placeholder="@localizer["Search ..."]">

        <a asp-controller="AccTransMaster" asp-action="Add_AccTransMaster" asp-route-journalCode="@ViewBag.journalCode" asp-route-fYear="@ViewBag.fYear" asp-route-branchId="@ViewBag.branchId" class="btn btn-sm btn-primary fs-6" style="width:150px">
            @localizer["Add Voucher"]
        </a>

    </div>
    <div class="overflow-auto" style="max-height:calc(100vh - 145px)">
        <table id="myTable1" class="table table-bordered table-hover" style="width:100%">
            <thead class="table-dark">
                <tr>
                    <th>
                        @localizer["Voucher No"]
                    </th>
                    <th>
                        @localizer["Voucher Date"]
                    </th>
                    <th>
                        @localizer["Total Voucher"]
                    </th>
                    <th>
                        @localizer["Notes"]
                    </th>
                    <th>
                        @localizer["Voucher Type"]
                    </th> 
                    <th>
                        @localizer["Come From"]
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var jou in Model)
                {
                    <tr onclick="GetAccTransDtl(event,@jou.TransId,@ViewBag.journalCode)" style="cursor:pointer;" class="align-middle">
                        <td>
                            @jou.TransNo
                        </td>
                        <td>
                            @jou.TransDate
                        </td>
                        <td>
                            @jou.TotalTrans
                        </td>
                        <td>
                            @jou.TransDesc
                        </td>
                        <td>
                            @if (@jou.OkPost == "1")
                            {
                                @localizer["Closed Voucher"]
                            }
                            else if (@jou.OkPost == "0")
                            {
                                @localizer["Opened Voucher"]

                            }
                        </td>
                        <td>
                            @if (@jou.MCode == 1)
                            {
                                @localizer["Accounts System"]
                            }
                            else if (@jou.MCode == 11)
                            {
                                @localizer["Medical System"]
                            }
                            else if (@jou.MCode == 4)
                            {
                                @localizer["Treasury System"]
                            }
                        </td>
                        @if(@jou.MCode !=1)
                        {
                            <td width="30%" class="text-center">
                                <a asp-controller="AccTransMaster" asp-action="Edit_AccTransMaster" asp-route-ID="@jou.TransId" class="btn btn-sm btn-secondary mb-1 fs-6" style="width:150px;pointer-events:none;">
                                <i class="bi bi-pencil"></i> @localizer["Edit"]
                            </a>
                                <form asp-action="Delete_AccTransMaster" method="post" class="d-inline">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@jou.TransId" />
                                    <button type="button" onclick="openModalListener(event)" class="btn btn-sm btn-secondary mb-1  fs-6" data-modal-target style="width:150px;pointer-events:none;">@localizer["Delete"]</button>
                                    <div class="modal-container">
                                        <div class="modal 4" id="modal">
                                            <div class="modal-header fs-4">
                                                <div class="title">@localizer["Confirm Delete"]</div>
                                                <button type="button" onclick="closeModelListener(event)" data-close-button class="close-button">&times;</button>
                                            </div>
                                            <div class="modal-body fs-4">
                                                @localizer["Are you sure you want to delete this item ?"]
                                            </div>
                                            <div class="modal-footer fs-4">
                                                <button type="button" onclick="closeModelListener(event)" data-close-button class="btn btn-secondary">@localizer["No"]</button>
                                                <button class="btn btn-danger">@localizer["Yes"]</button>
                                            </div>
                                        </div>
                                        <div onclick="overlayListener(event)" id="overlay"></div>
                                    </div>
                                </form>
                            </td>
                        }
                        else
                        {
                          <td width="30%" class="text-center">
                            <a asp-controller="AccTransMaster" asp-action="Edit_AccTransMaster" asp-route-ID="@jou.TransId" class="btn btn-sm btn-success mb-1 fs-6" style="width:150px">
                                <i class="bi bi-pencil"></i> @localizer["Edit"]
                            </a>

                            <form asp-action="Delete_AccTransMaster" method="post" class="d-inline">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@jou.TransId" />
                                <button type="button" onclick="openModalListener(event)" class="btn btn-sm btn-danger mb-1  fs-6" data-modal-target style="width:150px">@localizer["Delete"]</button>
                                <div class="modal-container">
                                    <div class="modal 4" id="modal">
                                        <div class="modal-header fs-4">
                                            <div class="title">@localizer["Confirm Delete"]</div>
                                            <button type="button" onclick="closeModelListener(event)" data-close-button class="close-button">&times;</button>
                                        </div>
                                        <div class="modal-body fs-4">
                                            @localizer["Are you sure you want to delete this item ?"]
                                        </div>
                                        <div class="modal-footer fs-4">
                                            <button type="button" onclick="closeModelListener(event)" data-close-button class="btn btn-secondary">@localizer["No"]</button>
                                            <button class="btn btn-danger">@localizer["Yes"]</button>
                                        </div>
                                    </div>
                                    <div onclick="overlayListener(event)" id="overlay"></div>
                                </div>
                            </form>
                        </td>    
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @* /////////////////////////////////////////////////////////////////// *@

    @* Table for PatAdmissions *@

    <div class="accTransDtl-table-head d-flex justify-content-between align-items-center mt-4">
        <h2 class="header accTrans-Dtl">@localizer["Terms of Voucher"]</h2>
        <input type="text" id="searchInput" class="form-control w-50" oninput="searchTerms(event)" placeholder="@localizer["Search ..."]">

        <a class="btn btn-sm btn-primary fs-6" style="width:150px">
            @localizer["Add Term"]
        </a>
        @* asp-controller="MedAnalysis" asp-action="Add_SubItemAnalysis" asp-route-ID="@ViewBag.item.MainCode" asp-route-itemAnalCode="" *@
    </div>

    <div class=" p-0 mb-2 border-opacity-75 overflow-auto" >

        <table id="myTable" class="table table-bordered table-hover accTransDtl-table" style="width:100%">
            <thead class="table-dark">
                <tr class="align-middle">
                    <th>
                        @localizer["Code"]
                    </th>
                    <th>
                        @localizer["Account Name"]
                    </th>
                    <th>
                        @localizer["EG Debit"]
                    </th>
                    <th>
                        @localizer["EG Credit"]
                    </th>
                    <th>
                        @localizer["File No"]
                    </th>
                    <th>
                        @localizer["File Date"]
                    </th>
                    <th>
                        @localizer["Notes"]
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
    @* /////////////////////////////////////////////////////////////////// *@
</div>


<script>
    function searchVoucher(e) {
        let input = e.target;
        let filterValue = input.value.toLowerCase();
        let rows = document.querySelectorAll("#myTable1 tbody tr");

        if (!filterValue) {
            for (let i = 0, len = rows.length; i < len; i++) {
                rows[i].style.display = "";
            }
            return;
        }

        // Loop through all table rows, hide those that do not match the search query
        for (let i = 0, len1 = rows.length; i < len1; i++) {
            let elements = rows[i].querySelectorAll("td");
            for (let j = 0, len2 = elements.length; j < len2; j++) {
                let td = elements[j];
                if (td) {
                    let tdValue = td.textContent || td.innerText;
                    tdValue = tdValue.toLowerCase();
                    if (tdValue.indexOf(filterValue) > -1) {
                        rows[i].style.display = "";
                        break;
                    } else {
                        rows[i].style.display = "none";
                    }
                }
            }
        }
    }
    function searchTerms(e) {
        let input = e.target;
        let filterValue = input.value.toLowerCase();
        let rows = document.querySelectorAll("#myTable tbody tr");

        if (!filterValue) {
            for (let i = 0, len = rows.length; i < len; i++) {
                rows[i].style.display = "";
            }
            return;
        }

        // Loop through all table rows, hide those that do not match the search query
        for (let i = 0, len1 = rows.length; i < len1; i++) {
            let elements = rows[i].querySelectorAll("td");
            for (let j = 0, len2 = elements.length; j < len2; j++) {
                let td = elements[j];
                if (td) {
                    let tdValue = td.textContent || td.innerText;
                    tdValue = tdValue.toLowerCase();
                    if (tdValue.indexOf(filterValue) > -1) {
                        rows[i].style.display = "";
                        break;
                    } else {
                        rows[i].style.display = "none";
                    }
                }
            }
        }
    }
    @* Ajax for AccTransDtl *@
        function GetAccTransDtl(e, id, journalCode) {
            var acctransDtls = document.querySelector(".accTransDtl-table tbody");

            // Handle active clic
            let allItemRows = e.target.parentElement.parentElement.querySelectorAll("tr");;
            allItemRows.forEach(row => {
                row.classList.remove("active-row");
            });

            let clickedTarget = e.target.parentElement
            clickedTarget.classList.add("active-row");
            ///////////////////////////////////////////////////////////////////

            // Catch header for Acc trans Detail and reset it
            let acctransDtlHead = document.querySelector(".accTransDtl-table-head");

            let acctransDtlHeader = acctransDtlHead.querySelector(".header.accTrans-Dtl"); // Display Header for patAdmisson
            acctransDtlHeader.innerHTML = "@localizer["Terms of Voucher"]";

            let acctransDtlAddButton = acctransDtlHead.querySelector("a");
            acctransDtlAddButton.setAttribute("href", `/Accounts/AccTransDetail/Add_AccTransDetail/${id}?journalCode=${journalCode}`);
            // console.log(acctransDtlAddButton);
            ///////////////////////////////////////////////////////////////////

            // Handle ajax call
            acctransDtls.innerHTML = "";  // Empty the body

            $.ajax({
                url: `/Accounts/AccTransDetail/GetAccTransDetail/${id}?journalCode=${journalCode}`,
                success: function (result) {
                    // console.log(result);
                    var index = 1;
                    var valDepSum = 0;
                    var valCreditSum = 0;

                    for (let item of result) {

                        //convert to date not time// Format the date as needed (e.g., "YYYY-MM-DD")
                        const DocDate = new Date(item.docDate).toISOString().split('T')[0];
                        //////////////////

                        const acctransDtl = document.createElement("tr");
                        acctransDtl.innerHTML +=
                            `
                            <td class="item-id align-middle">${index}</td>
                            <td class="item-id align-middle">${item.accountName}</td>
                            <td class="align-middle">${item.valDep}</td>
                            <td class="align-middle">${item.valCredit}</td>
                            <td class="align-middle">${item.docNo}</td>
                            <td class="align-middle">${DocDate}</td>
                            <td class="align-middle">${item.lineDesc}</td>
                            <td class="text-center ">
                               <a href="/Accounts/AccTransDetail/Edit_AccTransDetail/${item.transDtlId}" class="btn btn-sm btn-success mb-1  fs-6" style="width:150px">
                                    <i class="bi bi-pencil"></i> @localizer["Edit"]
                                </a>
                              <form action="/Accounts/AccTransDetail/Delete_AccTransDetail" method="post" class="d-inline ms-1">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="${item.transDtlId}" />
                                     <button type="button" onclick="openModalListener(event)" class="btn btn-sm btn-danger mb-1  fs-6" data-modal-target style="width: 150px">@localizer["Delete"]</button>
                                     <div class="modal-container">
                                         <div class="modal 4" id="modal">
                                             <div class="modal-header fs-4">
                                                 <div class="title">@localizer["Confirm Delete"]</div>
                                                 <button type="button" onclick="closeModelListener(event)" data-close-button class="close-button">&times;</button>
                                             </div>
                                             <div class="modal-body fs-4">
                                @localizer["Are you sure you want to delete this item ?"]
                                             </div>
                                             <div class="modal-footer fs-4">
                                                 <button type="button" onclick="closeModelListener(event)" data-close-button class="btn btn-secondary">@localizer["No"]</button>
                                                 <button class="btn btn-danger">@localizer["Yes"]</button>
                                             </div>
                                         </div>
                                         <div onclick="overlayListener(event)" id="overlay"></div>
                                     </div>
                                 </form>

                            </td>
                                    `;
                        index++;
                        valDepSum += item.valDep;
                        valCreditSum += item.valCredit;
                        acctransDtls.appendChild(acctransDtl);
                    }
                    const dataForSum = document.createElement("tr");
                    //    dataForSum.style.backgroundColor = "#e6dfdf";
                    dataForSum.innerHTML =
                        `
                                <td colspan="2" style="text-align: center;">@localizer["The Sum"]</td>
                                <td style="background-color: #e6dfdf;border:1px solid White;">${valDepSum}</td>
                                <td style="background-color: #e6dfdf;">${valCreditSum}</td>
                                <td class="align-middle" colspan="4"></td>
                             `;
                    acctransDtls.appendChild(dataForSum);
                    ///////////////////////////////////////////////////////////
                    var diffrent = valDepSum - valCreditSum;

                    //DeletedAllDetail
                    if (diffrent != 0) {
                        window.location.href = `/Accounts/AccTransDetail/DeletedAllDetail/${id}?journalCode=${journalCode}`;
                    }

                    const dataForSum2 = document.createElement("tr");
                    //    dataForSum.style.backgroundColor = "#e6dfdf";
                    dataForSum2.innerHTML =
                        `
                            <td colspan="2" style="text-align: center;">@localizer["The Difference"]</td>
                            <td colspan="2" style="background-color: #e6dfdf;text-align: center; border:1px solid White;">${diffrent}</td>
                            <td colspan="4"></td>
                        `;
                    acctransDtls.appendChild(dataForSum2);

                   
                }
            });
        }
</script>
