@model CompanyGroupDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Add Company Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject IViewLocalizer localizer

<div class="container pt-2">
    <h1 class="mt-4">@localizer["Add CompanyGroup"]</h1>
    <form method="post" asp-action="Add_CompanyGroup" id="myForm">
        <div class="border p-3 mt-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="parent d-flex align-items-md-end justify-content-center gap-3 my-mobile ">
                <div class="mb-3">
                    <label asp-for="GroupId"></label>
                    <input asp-for="GroupId" class="form-control" value="@ViewBag.GroupId" disabled />
                    <span asp-validation-for="GroupId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="GroupName"></label>
                    <input asp-for="GroupName" class="form-control" />
                    <span asp-validation-for="GroupName" class="text-danger"></span>
                </div>
            </div>
            <div class="parent d-flex align-items-md-end justify-content-center gap-3 my-mobile ">
                <div class="mb-3">
                    <label asp-for="CompGroupOnOff"></label>
                    <select asp-for="CompGroupOnOff" class="form-control text-center">
                        <option value="1">@localizer["Yes"]</option>
                        <option value="0">@localizer["No"]</option>
                    </select>
                    <span asp-validation-for="CompGroupOnOff" class="text-danger"></span>
                </div>
            </div>
            <!------------------------------------------------------------------------------->
            <div class="parent d-flex justify-content-md-center gap-2 ">
                <button type="submit" class="btn btn-primary" style="width:150px">
                    @localizer["Add"]
                </button>
                <a asp-controller="CompanyGroup" asp-action="Index" class="btn btn-secondary" style="width:150px">
                    @localizer["Cancel"]
                </a>
            </div>

        </div>
    </form>
</div>
