@model SectionEditAddDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit Section";
    Layout = "_Layout";
}
@inject IViewLocalizer localizer

<div class="container pt-2">
    <h1 class="mt-4">@localizer["Edit Section"] : @Model.SecDesc</h1>
    <form method="post" asp-action="Edit_Section">
        <div class="border p-3 mt-4">

            @* Hidden Inputs *@
            <input asp-for="SecCd" type="hidden" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="parent d-flex align-items-md-end justify-content-center gap-3 my-mobile ">
                <div class="mb-3">
                    <label asp-for="SecCd"></label>
                    <input asp-for="SecCd" class="form-control" disabled />
                    <span asp-validation-for="SecCd" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="SecDesc"></label>
                    <input asp-for="SecDesc" class="form-control" />
                    <span asp-validation-for="SecDesc" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent d-flex align-items-md-end justify-content-center gap-3 my-mobile ">
                <div class="mb-3">
                    <label asp-for="SecCost"></label>
                    <select asp-for="SecCost" class="form-control text-center">
                        <option value="">-- Choose --</option>
                        <option value="1">@localizer["Selling Price"]</option>
                        <option value="2">@localizer["Cost Price"]</option>
                    </select>
                    <span asp-validation-for="SecCost" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="OnOff"></label>
                    <select asp-for="OnOff" class="form-control text-center">
                        <option value="1">@localizer["Yes"]</option>
                        <option value="0">@localizer["No"]</option>
                    </select>
                    <span asp-validation-for="OnOff" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent d-flex justify-content-md-center gap-2">
                <button type="submit" class="btn btn-success" style="width:150px">@localizer["Save Changes"]</button>
                <a asp-controller="Section" asp-action="Index" class="btn btn-secondary" style="width:150px">
                    @localizer["Cancel"]
                </a>
            </div>
        </div>
    </form>
</div>
