@model List<MainItemViewDTO>
@{
    ViewData["Title"] = "Items Guide";
    Layout = "_LayoutItemsGuide";
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}
@inject IViewLocalizer localizer

<div class="d-flex justify-content-between align-items-center mt-2 p-2">
    <h2>@localizer["Items Of Group"] : @ViewBag.mainName (@ViewBag.stockType)</h2>
    @if (ViewBag.lastSub == 1)
    {
    <a asp-controller="MainItem" asp-action="Add_MainLevel_5" asp-route-id="@ViewBag.mainCode" onclick="openLevel(event)" class="btn btn-sm btn-secondary fs-6" style="width: 200px; pointer-events: none;">
        @localizer["Add Main Group"]
    </a>
    }
    else
    {
    <a asp-controller="MainItem" asp-action="Add_MainLevel_5" asp-route-id="@ViewBag.mainCode" onclick="openLevel(event)" class="btn btn-sm btn-primary fs-6" style="width: 200px">
        @localizer["Add Main Group"]
    </a>
    }
</div>

<div class="container">
    <div class="overflow-auto" style="height: 225px;">
        <table id="myTable" class="table table-bordered table-hover" style="width:100%;">
            <thead class="table-dark">
                <tr>
                    <th class="align-middle text-center" style="min-width: 100px;">
                        @localizer["Group Code"]
                    </th>
                    <th class="align-middle text-center" style="min-width: 100px;">
                        @localizer["Group Name"]
                    </th>
                    <th class="align-middle text-center" style="min-width: 100px;">
                        @localizer["Item Counter"]
                    </th>
                    <th class="align-middle text-center" style="min-width: 100px;">
                        @localizer["Last Level"]
                    </th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr class="align-middle text-center" onclick="getSubItems(event, @item.MainId, @item.LastSub, @item.Flag1, @item.ParentCode)" style="cursor: pointer;">
                    <td>@item.MainCode</td>
                    <td>@item.MainName</td>
                    <td>
                        @if (item.BatchCounter == 1)
                            @localizer["Yes"]
                        else if (item.BatchCounter == 0)
                            @localizer["No"]
                    </td>
                    <td>
                        @if (item.LastSub == 1)
                            @localizer["Yes"]
                        else if (item.LastSub == 0)
                            @localizer["No"]
                    </td>
                    <td style="width: 325px;">
                        <a asp-controller="MainItem" asp-action="AddStocksToGroup" asp-route-id="@item.MainId" asp-route-flag1="@item.Flag1" class="btn btn-sm btn-primary mb-1 fs-6" style="width: 110px">@localizer["Add Stocks"]</a>
                        <a asp-controller="MainItem" asp-action="Edit_MainLevel_5" asp-route-id="@item.MainId" class="btn btn-sm btn-success mb-1 fs-6" style="width: 60px">@localizer["Edit"]</a>
                        <form action="/Stocks/MainItem/Delete_MainLevel_5" method="post" class="d-inline">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@item.MainId" />
                            <button type="button" onclick="openModalListener(event)" class="btn btn-sm btn-danger mb-1  fs-6" data-modal-target style="width: 60px">@localizer["Delete"]</button>
                            <div class="modal-container">
                                <div class="modal 4" id="modal">
                                    <div class="modal-header fs-4">
                                        <div class="title">@localizer["Confirm Delete"]</div>
                                        <button type="button" onclick="closeModelListener(event)" data-close-button class="close-button">&times;</button>
                                    </div>
                                    <div class="modal-body fs-4">
                                        @localizer["Are you sure you want to delete this item ?"]
                                    </div>
                                    <div class="modal-footer fs-4">
                                        <button type="button" onclick="closeModelListener(event)" data-close-button class="btn btn-secondary">@localizer["No"]</button>
                                        <button class="btn btn-danger">@localizer["Yes"]</button>
                                    </div>
                                </div>
                                <div onclick="overlayListener(event)" id="overlay"></div>
                            </div>
                        </form>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    @* /////////////////////////////////////////////////////////////////// *@

    @* Table for Sub-Items *@

    <div class="details-table-head d-flex justify-content-between align-items-center mt-3 mb-1">
        <h2 class="header">@localizer["The Items"]</h2>
        <a class="btn btn-sm btn-primary fs-6" style="width:150px">
            @localizer["Add Sub Item"]
        </a>
    </div>

    <div class="p-0 mb-2 border-opacity-75 overflow-auto" style="max-height: 300px;">

        <table id="myTable_2" class="table table-bordered table-hover" style="width:100%">
            <thead class="table-dark">
                <tr class="align-middle text-center">
                    <th>
                        @localizer["Serial_M"]
                    </th>
                    <th>
                        @localizer["User Sort"]
                    </th>
                    <th>
                        @localizer["Item Name"]
                    </th>
                    <th>
                        @localizer["Item Counter"]
                    </th>
                    <th>
                        @localizer["Item Sell Price"]
                    </th>
                    <th>
                        @localizer["Item Code"]
                    </th>
                    <td></td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="spinner-container d-flex justify-content-center align-items-center d-none" style="height: 100px;">
            <div class="spinner"></div>
        </div>
    </div>

    @* /////////////////////////////////////////////////////////////////// *@

    @* Table for Sub-Item Details *@

    <div class="subItem-details-table-head d-flex justify-content-between align-items-center mt-3 mb-1">
        <h2 class="header">@localizer["Details Of Item"]</h2>
        <a class="btn btn-sm btn-primary fs-6" style="width:150px">
            @localizer["Add Detail"]
        </a>
    </div>

    <div class="p-0 mb-2 border-opacity-75 overflow-auto" style="max-height: 300px;">

        <table id="myTable_3" class="table table-bordered table-hover" style="width:100%">
            <thead class="table-dark">
                <tr class="align-middle text-center">
                    <th rowspan="2">
                        @localizer["Serial"]
                    </th>
                    <th rowspan="2">
                        @localizer["Unit Type"]
                    </th>
                    <th rowspan="2">
                        @localizer["Number of Particles"]
                    </th>
                    <th colspan="3">
                        @localizer["Sales"]
                    </th>
                    <th colspan="4">
                        @localizer["Purchases"]
                    </th>
                    <th rowspan="2">
                        @localizer["Unit Size"]
                    </th>
                    <td rowspan="2"></td>
                </tr>
                <tr class="align-middle text-center">
                    <th>
                        @localizer["Last Price"]
                    </th>
                    <th>
                        @localizer["Discount Percentage"]
                    </th>
                    <th>
                        @localizer["Discount Value"]
                    </th>
                    <th>
                        @localizer["Last Price"]
                    </th>
                    <th>
                        @localizer["Price Average"]
                    </th>
                    <th>
                        @localizer["Discount Percentage"]
                    </th>
                    <th>
                        @localizer["Discount Value"]
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="spinner-container d-flex justify-content-center align-items-center d-none" style="height: 100px;">
            <div class="spinner"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function deleteSubItem(e, subItemID) {
            e.preventDefault();
            let button = e.target;

            $.ajax({
                url: `/Stocks/SubItem/IfPossibleToDelete/${subItemID}`,
                success: function (result) {
                    if (result == 1 || result == 2) {
                        let message = result == 1 ?
                            "@localizer["You can not Delete it because it exists in opening balances"]" :
                            "@localizer["You can not Delete it because it exists in a previous transaction"]";

                        let myAlert = document.createElement("div");
                        myAlert.innerHTML =
                        `
                        <div class="modal-container">
                            <div class="modal 4" id="modal">
                                <div class="modal-header fs-4">
                                    <div class="title">@localizer["Warning"] !</div>
                                    <button type="button" onclick="closeAlert(event)" data-close-button class="close-button">&times;</button>
                                </div>
                                <div class="modal-body fs-4">
                                    ${message}
                                </div>
                                <div class="modal-footer fs-4">
                                    <button type="button" onclick="closeAlert(event)" data-close-button class="btn btn-primary">@localizer["Ok"]</button>
                                </div>
                            </div>
                            <div onclick="closeOverlay(event)" id="overlay"></div>
                        </div>
                        `;
                        button.insertAdjacentHTML("afterend", myAlert.innerHTML);
                        openAlert(e);
                    }
                    else if (result == 3)
                        openModalListener(e);
                }
            });
        }

        function getSubItems(e, mainId, lastSub, flag1, parentCode) {
            var subItems = document.querySelector("#myTable_2 tbody");

            // Handle active clic
            let allItemRows = e.target.parentElement.parentElement.querySelectorAll("tr");;

            allItemRows.forEach(row => {
                row.classList.remove("active-row");
            });

            let clickedTarget = e.target.parentElement
            ///////////////////////////////////////////////////////////////////
            // Catch header for subItems
            let subItemsHead = document.querySelector(".details-table-head");
            let subItemsHeader = subItemsHead.querySelector(".header"); // Display Header for details
            subItemsHeader.innerHTML = "@localizer["The Items"]";

            let subItemsAddButton = subItemsHead.querySelector("a");
            subItemsAddButton.setAttribute("href", `/Stocks/SubItem/Add_SubItem/${mainId}?flag1=${flag1}`);

            ///////////////////////////////////////////////////////////////////

            // Handle ajax call
            subItems.innerHTML = "";  // Empty the body

            let detailsHeader = document.querySelector(".subItem-details-table-head .header");
            detailsHeader.innerHTML = "@localizer["Details Of Item"] : ";
            let details = document.querySelector("#myTable_3 tbody");
            details.innerHTML = "";

            if (lastSub == 0) {
                subItemsAddButton.classList.add("btn-secondary");
                subItemsAddButton.style = "pointer-events:none;";
                subItemsAddButton.removeAttribute("href");
                return;
            }
            clickedTarget.classList.add("active-row");
            subItemsAddButton.classList.remove("btn-secondary");
            subItemsAddButton.style = "pointer-events:all;";

            let spinner = subItems.parentElement.parentElement.querySelector(".spinner-container");
            spinner.classList.remove("d-none");

            $.ajax({
                url: `/Stocks/SubItem/GetSubItemsByMainId/${mainId}`,
                success: function (result) {
                    spinner.classList.add("d-none");
                    let serial = 0;

                    for (let item of result) {
                        const subItem = document.createElement("tr");
                        let batchCounter = !item.batchCounter ? "@localizer["No"]" :
                            item.batchCounter == 1 ? "@localizer["Yes"]" : "";

                        serial++;
                        subItem.innerHTML +=
                        `
                        <td class="align-middle text-center">${serial}</td>
                        <td class="align-middle text-center">${item.userSort}</td>
                        <td class="align-middle text-center item-name">${item.subName}</td>
                        <td class="align-middle text-center">${batchCounter}</td>
                        <td class="align-middle text-center">${item.itemPrice}</td>
                        <td class="align-middle text-center">${item.itemCode}</td>
                        <td class="text-center align-middle" style="width: 325px;">
                            <a href="/Stocks/SubItem/Edit_SubItem/${item.subId}" class="btn btn-sm btn-success mb-1 fs-6" style="width: 150px">@localizer["Edit"]</a>
                            <form action="/Stocks/SubItem/Delete_SubItem" method="post" class="d-inline">
                                    @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="${item.subId}" />
                                <button type="button" onclick="deleteSubItem(event, ${item.subId})" class="btn btn-sm btn-danger mb-1  fs-6" data-modal-target style="width: 150px">@localizer["Delete"]</button>
                                <div class="modal-container">
                                    <div class="modal 4" id="modal">
                                        <div class="modal-header fs-4">
                                            <div class="title">@localizer["Confirm Delete"]</div>
                                            <button type="button" onclick="closeModelListener(event)" data-close-button class="close-button">&times;</button>
                                        </div>
                                        <div class="modal-body fs-4">
                                            @localizer["Are you sure you want to delete this item ?"]
                                        </div>
                                        <div class="modal-footer fs-4">
                                            <button type="button" onclick="closeModelListener(event)" data-close-button class="btn btn-secondary">@localizer["No"]</button>
                                            <button class="btn btn-danger">@localizer["Yes"]</button>
                                        </div>
                                    </div>
                                    <div onclick="overlayListener(event)" id="overlay"></div>
                                </div>
                            </form>
                        </td>
                        `;
                        subItem.onclick = function () {
                            getSubItemDetails(event, item.subId, flag1);
                        };
                        subItem.style.cursor = "pointer";
                        subItems.appendChild(subItem);
                    }
                }
            });
        }

        function getSubItemDetails(e, subItemId, flag1) {
            var details = document.querySelector("#myTable_3 tbody");

            // Handle active clic
            let allItemRows = e.target.parentElement.parentElement.querySelectorAll("tr");;

            allItemRows.forEach(row => {
                row.classList.remove("active-row");
            });

            let clickedTarget = e.target.parentElement
            clickedTarget.classList.add("active-row");
            ///////////////////////////////////////////////////////////////////
            // Catch header for details
            let detailsHead = document.querySelector(".subItem-details-table-head");
            let detailsHeader = detailsHead.querySelector(".header"); // Display Header for details
            let subName = clickedTarget.querySelector(".item-name").innerHTML
            detailsHeader.innerHTML = "@localizer["Details Of Item"] : " + subName;

            let detailsAddButton = detailsHead.querySelector("a");
            detailsAddButton.setAttribute("href", `/Stocks/SubItemDtl/Add_SubItemDtl/${subItemId}?flag1=${flag1}`);

            ///////////////////////////////////////////////////////////////////

            // Handle ajax call
            details.innerHTML = "";  // Empty the body

            let spinner = details.parentElement.parentElement.querySelector(".spinner-container");
            spinner.classList.remove("d-none");

            $.ajax({
                url: `/Stocks/SubItemDtl/GetSubItemDetails/${subItemId}`,
                success: function (result) {
                    spinner.classList.add("d-none");

                    for (let item of result) {
                        const subDetail = document.createElement("tr");
                        let itemSizeName = item.itemName == "1" ? "@localizer["High"]" :
                            item.itemName == "2" ? "@localizer["Low"]" : "@localizer["Canceled"]";

                        subDetail.innerHTML +=
                        `
                        <td class="align-middle text-center">${item.itemId}</td>
                        <td class="align-middle text-center">${item.unitType}</td>
                        <td class="align-middle text-center">${item.pieceCount}</td>
                        <td class="align-middle text-center">${item.salePrice}</td>
                        <td class="align-middle text-center">${item.discoutS1}</td>
                        <td class="align-middle text-center">${item.discValS1}</td>
                        <td class="align-middle text-center">${item.purchPrice}</td>
                        <td class="align-middle text-center">${item.purchAverage}</td>
                        <td class="align-middle text-center">${item.discoutP1}</td>
                        <td class="align-middle text-center">${item.discValP1}</td>
                        <td class="align-middle text-center">${itemSizeName}</td>
                        <td class="text-center align-middle" style="width: 325px;">
                                <a href="/Stocks/SubItemDtl/Edit_SubItemDtl/${item.subItemDtlId}" class="btn btn-sm btn-success mb-1 fs-6" style="width: 150px">@localizer["Edit"]</a>
                                <form action="/Stocks/SubItemDtl/Delete_SubItemDtl" method="post" class="d-inline">
                                    @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="${item.subItemDtlId}" />
                                <button type="button" onclick="openModalListener(event)" class="btn btn-sm btn-danger mb-1  fs-6" data-modal-target style="width: 150px">@localizer["Delete"]</button>
                                <div class="modal-container">
                                    <div class="modal 4" id="modal">
                                        <div class="modal-header fs-4">
                                            <div class="title">@localizer["Confirm Delete"]</div>
                                            <button type="button" onclick="closeModelListener(event)" data-close-button class="close-button">&times;</button>
                                        </div>
                                        <div class="modal-body fs-4">
                                            @localizer["Are you sure you want to delete this item ?"]
                                        </div>
                                        <div class="modal-footer fs-4">
                                            <button type="button" onclick="closeModelListener(event)" data-close-button class="btn btn-secondary">@localizer["No"]</button>
                                            <button class="btn btn-danger">@localizer["Yes"]</button>
                                        </div>
                                    </div>
                                    <div onclick="overlayListener(event)" id="overlay"></div>
                                </div>
                            </form>
                        </td>
                        `;
                        details.appendChild(subDetail);
                    }
                }
            });
        }
    </script>
}
