@model List<MainItemViewDTO>
@{
    ViewData["Title"] = "Items Guide";
    Layout = "_LayoutItemsGuide";
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}
@inject IViewLocalizer localizer

<div class="d-flex justify-content-between align-items-center mt-2 p-2">
    <h2>@localizer["Items Of Group"] : @ViewBag.mainName (@ViewBag.stockType)</h2>
    @if (ViewBag.lastSub == 1)
    {
    <a asp-controller="MainItem" asp-action="Add_MainLevel_5" asp-route-id="@ViewBag.mainCode" onclick="openLevel(event)" class="btn btn-sm btn-secondary fs-6" style="width: 200px; pointer-events: none;">
        @localizer["Add Main Group"]
    </a>
    }
    else
    {
    <a asp-controller="MainItem" asp-action="Add_MainLevel_5" asp-route-id="@ViewBag.mainCode" onclick="openLevel(event)" class="btn btn-sm btn-primary fs-6" style="width: 200px">
        @localizer["Add Main Group"]
    </a>
    }
</div>

<div class="container">
    <div class="overflow-auto" style="height: 225px;">
        <table id="myTable" class="table table-bordered table-hover" style="width:100%;">
            <thead class="table-dark">
                <tr>
                    <th class="align-middle text-center" style="min-width: 100px;">
                        @localizer["Group Code"]
                    </th>
                    <th class="align-middle text-center" style="min-width: 100px;">
                        @localizer["Group Name"]
                    </th>
                    <th class="align-middle text-center" style="min-width: 100px;">
                        @localizer["Item Counter"]
                    </th>
                    <th class="align-middle text-center" style="min-width: 100px;">
                        @localizer["Last Level"]
                    </th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr class="align-middle text-center" onclick="getSubItems(event, @item.MainId, @item.LastSub, @item.Flag1, @item.ParentCode)" style="cursor: pointer;">
                    <td>@item.MainCode</td>
                    <td>@item.MainName</td>
                    <td>
                        @if (item.BatchCounter == 1)
                            @localizer["Yes"]
                        else if (item.BatchCounter == 0)
                            @localizer["No"]
                    </td>
                    <td>
                        @if (item.LastSub == 1)
                            @localizer["Yes"]
                        else if (item.LastSub == 0)
                            @localizer["No"]
                    </td>
                    <td style="width: 325px;">
                        <a asp-controller="MainItem" asp-action="AddStocksToGroup" asp-route-id="@item.MainId" asp-route-flag1="@item.Flag1" class="btn btn-sm btn-primary mb-1 fs-6" style="width: 110px">@localizer["Add Stocks"]</a>
                        <a asp-controller="MainItem" asp-action="Edit_MainLevel_5" asp-route-id="@item.MainId" class="btn btn-sm btn-success mb-1 fs-6" style="width: 60px">@localizer["Edit"]</a>
                        <form action="/Stocks/MainItem/Delete_MainLevel_5" method="post" class="d-inline">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@item.MainId" />
                            <button type="button" onclick="openModalListener(event)" class="btn btn-sm btn-danger mb-1  fs-6" data-modal-target style="width: 60px">@localizer["Delete"]</button>
                            <div class="modal-container">
                                <div class="modal 4" id="modal">
                                    <div class="modal-header fs-4">
                                        <div class="title">@localizer["Confirm Delete"]</div>
                                        <button type="button" onclick="closeModelListener(event)" data-close-button class="close-button">&times;</button>
                                    </div>
                                    <div class="modal-body fs-4">
                                        @localizer["Are you sure you want to delete this item ?"]
                                    </div>
                                    <div class="modal-footer fs-4">
                                        <button type="button" onclick="closeModelListener(event)" data-close-button class="btn btn-secondary">@localizer["No"]</button>
                                        <button class="btn btn-danger">@localizer["Yes"]</button>
                                    </div>
                                </div>
                                <div onclick="overlayListener(event)" id="overlay"></div>
                            </div>
                        </form>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    @* /////////////////////////////////////////////////////////////////// *@

    @* Table for Permission Details *@

    <div class="details-table-head d-flex justify-content-between align-items-center mt-3 mb-1">
        <h2 class="header">@localizer["The Items"]</h2>
        <a class="btn btn-sm btn-primary fs-6" style="width:150px">
            @localizer["Add Sub Item"]
        </a>
    </div>

    <div class="p-0 mb-2 border-opacity-75 overflow-auto" style="max-height: 300px;">

        <table id="myTable_2" class="table table-bordered table-hover" style="width:100%">
            <thead class="table-dark">
                <tr class="align-middle text-center">
                    <th>
                        @localizer["Serial_M"]
                    </th>
                    <th>
                        @localizer["User Sort"]
                    </th>
                    <th>
                        @localizer["Item Name"]
                    </th>
                    <th>
                        @localizer["Item Counter"]
                    </th>
                    <th>
                        @localizer["Item Sell Price"]
                    </th>
                    <th>
                        @localizer["Item Code"]
                    </th>
                    <td></td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="spinner-container d-flex justify-content-center align-items-center d-none" style="height: 100px;">
            <div class="spinner"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function getSubItems(e, mainId, lastSub, flag1, parentCode) {
            var subItems = document.querySelector("#myTable_2 tbody");

            // Handle active clic
            let allItemRows = e.target.parentElement.parentElement.querySelectorAll("tr");;

            allItemRows.forEach(row => {
                row.classList.remove("active-row");
            });

            let clickedTarget = e.target.parentElement
            ///////////////////////////////////////////////////////////////////
            // Catch header for subItems
            let subItemsHead = document.querySelector(".details-table-head");
            let subItemsHeader = subItemsHead.querySelector(".header"); // Display Header for details
            subItemsHeader.innerHTML = "@localizer["The Items"]";

            let subItemsAddButton = subItemsHead.querySelector("a");
            subItemsAddButton.setAttribute("href", `/Stocks/SubItem/Add_SubItem/${mainId}?flag1=${flag1}`);

            ///////////////////////////////////////////////////////////////////

            // Handle ajax call
            subItems.innerHTML = "";  // Empty the body

            if (lastSub == 0) {
                subItemsAddButton.classList.add("btn-secondary");
                subItemsAddButton.style = "pointer-events:none;";
                subItemsAddButton.removeAttribute("href");
                return;
            }
            clickedTarget.classList.add("active-row");
            subItemsAddButton.classList.remove("btn-secondary");
            subItemsAddButton.style = "pointer-events:all;";

            let spinner = subItems.parentElement.parentElement.querySelector(".spinner-container");
            spinner.classList.remove("d-none");

            $.ajax({
                url: `/Stocks/SubItem/GetSubItemsByMainId/${mainId}`,
                success: function (result) {
                    spinner.classList.add("d-none");
                    let serial = 0;

                    for (let item of result) {
                        const subItem = document.createElement("tr");
                        let batchCounter = !item.batchCounter ? "@localizer["No"]" :
                            item.batchCounter == 1 ? "@localizer["Yes"]" : "";

                        serial++;
                        subItem.innerHTML +=
                            `
                                <td class="align-middle text-center">${serial}</td>
                                <td class="align-middle text-center">${item.userSort}</td>
                                <td class="align-middle text-center">${item.subName}</td>
                                <td class="align-middle text-center">${batchCounter}</td>
                                <td class="align-middle text-center">${item.itemPrice}</td>
                                <td class="align-middle text-center">${item.itemCode}</td>
                                <td class="text-center align-middle" style="width: 325px;">
                                    <a href="/Stocks/SubItem/Edit_SubItem/${item.subId}" class="btn btn-sm btn-success mb-1 fs-6" style="width: 150px">@localizer["Edit"]</a>
                                    <form action="/Stocks/SubItem/Delete_SubItem" method="post" class="d-inline">
                                            @Html.AntiForgeryToken()
                                        <input type="hidden" name="id" value="${item.subId}" />
                                        <button type="button" onclick="openModalListener(event)" class="btn btn-sm btn-danger mb-1  fs-6" data-modal-target style="width: 150px">@localizer["Delete"]</button>
                                        <div class="modal-container">
                                            <div class="modal 4" id="modal">
                                                <div class="modal-header fs-4">
                                                    <div class="title">@localizer["Confirm Delete"]</div>
                                                    <button type="button" onclick="closeModelListener(event)" data-close-button class="close-button">&times;</button>
                                                </div>
                                                <div class="modal-body fs-4">
                                                    @localizer["Are you sure you want to delete this item ?"]
                                                </div>
                                                <div class="modal-footer fs-4">
                                                    <button type="button" onclick="closeModelListener(event)" data-close-button class="btn btn-secondary">@localizer["No"]</button>
                                                    <button class="btn btn-danger">@localizer["Yes"]</button>
                                                </div>
                                            </div>
                                            <div onclick="overlayListener(event)" id="overlay"></div>
                                        </div>
                                    </form>
                                </td>
                                `;
                        subItems.appendChild(subItem);
                    }
                }
            });
        }
    </script>
}
