@model AccTransDetailEditAddDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit Term";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList costcenter = new SelectList(Model.CostCenters, "CostCode", "CostDesc");
    SelectList mainAccCodes = new SelectList(Model.MainAccCodes, "MainCode", "MainName");
    SelectList subAccCodes = new SelectList(Model.SubAccCodes, "SubCode", "SubName");
}
@inject IViewLocalizer localizer
@* <style>
    .image {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        z-index: -1;
    }
</style> *@
<div class="container pt-2" style="min-height:100vh;">
    @* <img class="image" src="/background.jpg" style="position:absolute;" /> *@

    <div class="d-flex justify-content-between align-items-center mt-3 ">
        <h1>@localizer["Edit Term"]</h1>
        @* <h3>@Model.JournalName @localizer["Branch"] @localizer["No."] @ViewBag.branchId</h3> *@
    </div>

    <form method="post" asp-action="Edit_AccTransDetail" id="myForm">
        <div class="border p-3 mt-1">

            <div asp-validation-summary="ModelOnly"></div>.
            @* hidden *@

            <input asp-for="TransDtlId" hidden />
            <input asp-for="UserCodeModify" hidden value="@ViewBag.userCode" />
            <input asp-for="FYear" hidden />
            <input asp-for="TransNo" hidden />
            <input asp-for="TransType" hidden />
            <input asp-for="YearTransNo" hidden />
            <input asp-for="TransDate" hidden />
            <input asp-for="CurCode" hidden />
            <input asp-for="CoCode" hidden  />
            <input asp-for="DocDate" hidden  />
            <input asp-for="TransId" hidden  />
            <input asp-for="TransSerial" hidden  />
            <input asp-for="EntryDate" hidden  />
            <input asp-for="UserCode" hidden  />

            <!------------------------------------------------------------------------------->

            <div class="parent-permission d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="mb-3">
                    <label asp-for="MainCode"></label>
                    <select asp-for="MainCode" asp-items="mainAccCodes" class="form-control text-center" onchange="getSubCodes(event)">
                         <option value="">-- Choose --</option>
                     </select>
                    <span asp-validation-for="MainCode" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="SubCode"></label>
                    <select asp-for="SubCode" asp-items="subAccCodes" class="form-control text-center" onchange="getNameSub(event)">
                        <option value="">-- Choose --</option>
                    </select>
                    <span asp-validation-for="SubCode" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input id="mainAndSub" name="AccName" class="form-control text-center" style="pointer-events: none;background-color:#e9ecef;" />
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permission d-flex align-items-md-end justify-content-center  my-mobile gap-3 " z>
                <div class="mb-3">
                    <label asp-for="ValDep"></label>
                    <input asp-for="ValDep" type="number" class="form-control text-center" />
                    <span asp-validation-for="ValDep" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ValCredit"></label>
                    <input asp-for="ValCredit" type="number" class="form-control text-center"  />
                    <span asp-validation-for="ValCredit" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ValDepCur"></label>
                    <input asp-for="ValDepCur" type="number" class="form-control text-center" />
                    <span asp-validation-for="ValDepCur" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ValCreditCur"></label>
                    <input asp-for="ValCreditCur" type="number" class="form-control text-center" />
                    <span asp-validation-for="ValCreditCur" class="text-danger"></span>
                </div>
            </div>

            <!-------------------------------------------------------------------------------> 

            <div class="parent-permission d-flex align-items-md-end justify-content-center  my-mobile gap-3 " z>
                <div class="mb-3">
                    <label asp-for="DocNo"></label>
                    <input asp-for="DocNo" class="form-control text-center" />
                    <span asp-validation-for="DocNo" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="DocDate"></label>
                    <inputasp-for="DocDate"class="form-control text-center" />
                    <span asp-validation-for="DocDate" class="text-danger"></span>
                </div>
                <div class="mb-3 ">
                    <label asp-for="CostCenterCode" class="ms-2"></label>
                    <select asp-for="CostCenterCode" asp-items="costcenter" class="form-control text-center">
                        <option value="">-- Choose --</option>
                    </select>
                    <span asp-validation-for="CostCenterCode" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="LineDesc"></label>
                    <input asp-for="LineDesc" class="form-control text-center" />
                    <span asp-validation-for="LineDesc" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent d-flex justify-content-md-center gap-2 ">
                <button type="submit" class="btn btn-primary" style="width:150px">
                    @localizer["Save Changes"]
                </button>
                <a asp-controller="AccTransMaster" asp-action="Index" asp-route-journalCode="@Model.TransType" class="btn btn-secondary" style="width:150px">
                    @localizer["Cancel"]
                </a>
            </div>
        </div>
    </form>
</div>
<script>
    function getSubCodes(e) {
        let mainElement = e.target;
        let subElement = document.getElementById("SubCode");

        let mainName = e.target.options[e.target.selectedIndex].text;
        // console.log(mainName)
        let mainAndSub = document.getElementById("mainAndSub");
        if (e.target.value) {
            mainAndSub.value = mainName;
        }
        else
            mainAndSub.value = "";

        subElement.innerHTML = `<option value="">-- Choose --</option>`;

        $.ajax({
            url: `/Treasury/AccSafeCash/GetSubCodesFromAcc/${mainElement.value}`,
            success: function (result) {
                // console.log(result);
                for (let item of result) {
                    subElement.innerHTML +=
                        `<option value="${item.subCode}">${item.subName}</option>`;
                }
            }
        });
    }
    function getNameSub(e) {

        let subName = e.target.options[e.target.selectedIndex].text;
        let mainAndSub = document.getElementById("mainAndSub");
        let oldValue = mainAndSub.value;
        if (e.target.value) {
            mainAndSub.value = oldValue + ' - ' + subName;
        }
        else
            mainAndSub.value = oldValue;

    }
</script>