@model CompanyEditAddDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Add Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList priceList = new SelectList(Model.priceLists, "PLId", "PlDesc");
    SelectList kindStore = new SelectList(Model.kindStores, "KId", "KName");

}
@inject IViewLocalizer localizer

<div class="container pt-2">
    <h1 class="mt-4">@localizer["Add Company"]</h1>
    <form method="post" asp-action="Add_Company" id="myForm">
        <div class="border p-3 mt-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="parent d-flex align-items-md-end justify-content-center gap-3 my-mobile ">
                <div class="mb-3">
                    <label asp-for="CompId"></label>
                    <input asp-for="CompId" class="form-control" value="@ViewBag.CompanyID" disabled />
                    <span asp-validation-for="CompId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="CompName"></label>
                    <input asp-for="CompName" class="form-control" />
                    <span asp-validation-for="CompName" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="mb-3 ">
                    <label asp-for="PLId"></label>
                    <select asp-for="PLId" asp-items="priceList" class="form-control text-center">
                        <option value="">-- Choose --</option>
                    </select>
                    <span asp-validation-for="PLId" class="text-danger"></span>
                </div>
                <div class="mb-3 ">
                    <label asp-for="TaxNo"></label>
                    <input asp-for="TaxNo" class="form-control" />
                    <span asp-validation-for="TaxNo" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="mb-3 ">
                    <label asp-for="EInvMainFlg"></label>
                    <select asp-for="EInvMainFlg" class="form-control text-center">
                        <option value="Y">@localizer["Yes"]</option>
                        <option value="N">@localizer["No"]</option>
                    </select>
                    <span asp-validation-for="EInvMainFlg" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="mb-3 ">
                    <label asp-for="SubCode"></label>
                    <input asp-for="SubCode" class="form-control" />
                    <span asp-validation-for="SubCode" class="text-danger"></span>
                </div>
                <div class="mb-3 ">
                    <label asp-for="MainCode"></label>
                    <input asp-for="MainCode" class="form-control" />
                    <span asp-validation-for="MainCode" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="mb-3 ">
                    <label asp-for="StampPer"></label>
                    <input asp-for="StampPer" value="0" class="form-control" />
                    <span asp-validation-for="StampPer" class="text-danger"></span>
                </div>
                <div class="mb-3 ">
                    <label asp-for="Stamp"></label>
                    <input asp-for="Stamp" value="0" class="form-control" />
                    <span asp-validation-for="Stamp" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="mb-3 ">
                    <label asp-for="TaxPer"></label>
                    <input asp-for="TaxPer" value="0" class="form-control" />
                    <span asp-validation-for="TaxPer" class="text-danger"></span>
                </div>
                <div class="mb-3 ">
                    <label asp-for="KindStore"></label>
                    <select asp-for="KindStore" asp-items="kindStore" class="form-control text-center">
                        <option value="">-- Choose --</option>
                    </select>
                    <span asp-validation-for="KindStore" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="mb-3 ">
                    <label asp-for="ComAdd"></label>
                    <input asp-for="ComAdd" class="form-control" />
                    <span asp-validation-for="ComAdd" class="text-danger"></span>
                </div>
                <div class="mb-3 ">
                    <label asp-for="CompTelephone"></label>
                    <input asp-for="CompTelephone" class="form-control" />
                    <span asp-validation-for="CompTelephone" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="mb-3 ">
                    <label asp-for="CompFax"></label>
                    <input asp-for="CompFax" class="form-control" />
                    <span asp-validation-for="CompFax" class="text-danger"></span>
                </div>
                <div class="mb-3 ">
                    <label asp-for="MedicalManager"></label>
                    <input asp-for="MedicalManager" class="form-control" />
                    <span asp-validation-for="MedicalManager" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="mb-3 ">
                    <label asp-for="InsurancePeriod"></label>
                    <input asp-for="InsurancePeriod" class="form-control" />
                    <span asp-validation-for="InsurancePeriod" class="text-danger"></span>
                </div>
                <div class="mb-3 ">
                    <label asp-for="CompanyOnOff"></label>
                    <select asp-for="CompanyOnOff" class="form-control text-center">
                        <option value="1" selected>@localizer["Yes"]</option>
                        <option value="0">@localizer["No"]</option>
                    </select>
                    <span asp-validation-for="CompanyOnOff" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->
            
            <button type="submit" class="btn btn-primary" style="width:150px">
                @localizer["Add"]
            </button>
            <a asp-controller="CompanyGroup" asp-action="Index" class="btn btn-secondary" style="width:150px">
                @localizer["Cancel"]
            </a>

        </div>
    </form>
</div>
