@model StockEmpEditAddDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Add New Transaction";
    Layout = "_Layout";

    // Casting type to get all Permissions as a list
    SelectList permissions = new SelectList(Model.Permissions, "UniqueType", "GDesc");

    // Casting type to get all Stocks as a list
    SelectList stocks = new SelectList(Model.Stocks, "Stkcod", "Stknam");

    // Casting type to get all MainAccCodes as a list
    SelectList mainAccCodes = new SelectList(Model.MainAccCodes, "MainCode", "MainName");

    // Casting type to get all JournalTypes as a list
    SelectList journalTypes = new SelectList(Model.JournalTypes, "JournalCode", "JournalName");
}
@inject IViewLocalizer localizer

<div class="container pt-2">
    <h1 class="mt-4">@localizer["Add New StockTransaction For User"] : @ViewBag.userName</h1>
    <form method="post" asp-action="Add_StockTrans">
        <div class="border p-3 mt-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="parent d-flex align-items-md-end justify-content-center gap-md-3 my-mobile ">
                <div class="mb-3">
                    <label asp-for="TransType"></label>
                    <select asp-for="TransType" asp-items="permissions" class="form-control text-center">
                        <option value="">-- Choose --</option>
                    </select>
                    <span asp-validation-for="TransType" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Stkcod"></label>
                    <select asp-for="Stkcod" asp-items="stocks" class="form-control text-center">
                        <option value="">-- Choose --</option>
                    </select>
                    <span asp-validation-for="Stkcod" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent d-flex align-items-md-end justify-content-center gap-md-3 my-mobile ">
                <div class="mb-3">
                    <div class="d-flex align-items-center gap-2 mb-3">
                        <input name="StockDef" id="StockDef" type="checkbox" class="form-check-input" onchange="changeValue(event)" />
                        <label asp-for="StockDef"></label>
                    </div>
                    <span asp-validation-for="StockDef" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <div class="d-flex align-items-center gap-2 mb-3">
                        <input name="ShowPrice" id="ShowPrice" type="checkbox" class="form-check-input" onchange="changeValue(event)" />
                        <label asp-for="ShowPrice"></label>
                    </div>
                    <span asp-validation-for="ShowPrice" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->
            <div class="d-flex justify-content-center fw-bold fs-4"><p>@localizer["Debit Account"]</p></div>
            <!------------------------------------------------------------------------------->

            <div class="parent d-flex align-items-md-start justify-content-center gap-md-3 my-mobile ">
                <div class="mb-3">
                    <label asp-for="MainCodeStk"></label>
                    <select asp-for="MainCodeStk" asp-items="mainAccCodes" class="form-control text-center" onchange="getSubCodes('MainCodeStk', 'SubCodeStk')">
                        <option value="">-- Choose --</option>
                    </select>
                    <span asp-validation-for="MainCodeStk" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="SubCodeStk"></label>
                    <select asp-for="SubCodeStk" class="form-control text-center">
                        <option value="">-- Choose --</option>
                    </select>
                    <span asp-validation-for="SubCodeStk" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->
            <div class="d-flex justify-content-center fw-bold fs-4"><p>@localizer["Credit Account"]</p></div>
            <!------------------------------------------------------------------------------->
            
            <div class="parent d-flex align-items-md-start justify-content-center gap-md-3 my-mobile ">
                <div class="mb-3">
                    <label asp-for="MainCodeAcc"></label>
                    <select asp-for="MainCodeAcc" asp-items="mainAccCodes" class="form-control text-center" onchange="getSubCodes('MainCodeAcc', 'SubCodeAcc')">
                        <option value="">-- Choose --</option>
                    </select>
                    <span asp-validation-for="MainCodeAcc" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="SubCodeAcc"></label>
                    <select asp-for="SubCodeAcc" class="form-control text-center">
                        <option value="">-- Choose --</option>
                    </select>
                    <span asp-validation-for="SubCodeAcc" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->
            
            <div class="parent d-flex align-items-md-end justify-content-center gap-md-3 my-mobile ">
                <div class="mb-3" style="width: 62%;">
                    <label asp-for="JornalCode"></label>
                    <select asp-for="JornalCode" asp-items="journalTypes" class="form-control text-center">
                        <option value="">-- Choose --</option>
                    </select>
                    <span asp-validation-for="JornalCode" class="text-danger"></span>
                </div>
            </div>
           
            <!------------------------------------------------------------------------------->

            <div class="parent d-flex justify-content-md-center gap-2">
                <button type="submit" class="btn btn-primary" style="width:150px">@localizer["Add"]</button>
                <a asp-controller="UserStockTransaction" asp-action="Index" class="btn btn-secondary" style="width:150px">
                    @localizer["Cancel"]
                </a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        function changeValue(e) {
            let target = e.target;
            if (target.checked)
                target.value = 1;
            else
                target.value = 0;
        }

        function getSubCodes(mainId, subId){
            let mainElement = document.getElementById(mainId);
            let subElement = document.getElementById(subId);
            subElement.innerHTML = `<option value="">-- Choose --</option>`;

            $.ajax({
                url: `/Stocks/UserStockTransaction/GetSubCodesFromAcc/${mainElement.value}`,
                success: function (result) {
                    console.log(result);
                    for (let item of result) {
                        subElement.innerHTML +=
                            `<option value="${item.subCode}">${item.subName}</option>`;
                    }
                }
            });
        }
    </script>
}