
@{
    List<MainViewDTO> GetMainLevel_4(string code) //function recieve maincode
    {
        string subString = code.Substring(0, 3);
        List<MainViewDTO> mainLevel_4 = (List<MainViewDTO>)ViewBag?.MainLevel_4;

        return mainLevel_4.Where(obj => obj.MainCode.Substring(0, 3) == subString).ToList();
    }
    List<MainViewDTO> GetMainLevel_5(string code)
    {
        string subString = code.Substring(0, 5);
        List<MainViewDTO> mainLevel_5 = (List<MainViewDTO>)ViewBag?.MainLevel_5;

        return mainLevel_5.Where(obj => obj.MainCode.Substring(0, 5) == subString).ToList();
    }
    
    string F_Year = User.Claims.FirstOrDefault(c => c.Type == "F_Year").Value;
}

<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medical Analysis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout_MedAnalysis.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
</head>
<body>
    <div class="d-flex">
        <div id="mySidebar" class="col-2 bg-dark p-0">
            <div class="vh-100 p-1 d-flex flex-column">
                <a asp-area="Medical" asp-controller="MainAnalysis" asp-action="index" class="d-flex my-2 justify-content-center text-white text-decoration-none">
                    <span class="fs-3 d-sm-inline">Analysis Index</span>
                </a>
                <a asp-area="Medical" asp-controller="MainAnalysis" asp-action="MainLevel_3" class="d-flex my-2 justify-content-start ps-2 text-white text-decoration-none">
                    <span class="fs-5 d-sm-inline">Medical Analysis</span>
                </a>
                <ul class="nav nav-pills flex-column">
                    @foreach (var item in ViewBag?.MainLevel_3)
                    {
                        <li class="nav-item has-submenu">
                            <a asp-area="Medical" asp-controller="MainAnalysis" asp-action="MainLevel_4" asp-route-id="@item.MainCode" class="nav-link hover-link">
                                <i class="fa-solid fa-caret-right me-2"></i> @item.MainName
                            </a>

                            <ul class="submenu collapse p-0">
                                @foreach (var sub in GetMainLevel_4(item.MainCode))
                                {
                                    <li class="nav-item has-submenu">
                                        <a asp-area="Medical" asp-controller="MainAnalysis" asp-action="MainLevel_5" asp-route-id="@sub.MainCode" class="nav-link hover-link ps-4">
                                            <i class="fa-solid fa-caret-right mx-2"></i> @sub.MainName
                                        </a>

                                        <ul class="submenu collapse p-0">
                                            @foreach (var subitem in GetMainLevel_5(sub.MainCode))
                                            {
                                                <li class="nav-item">
                                                    <a asp-area="Medical" asp-controller="MainAnalysis" asp-action="MainLevel_6" asp-route-id="@subitem.MainCode" class="nav-link hover-link ms-4 ps-4">
                                                        @subitem.MainName
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }

                            </ul>

                        </li>
                    }
                </ul>

                <a asp-area="Medical" asp-controller="LabUnits" asp-action="Index" class="btn btn-primary mt-auto align-self-center mb-2">Go To Lab Units</a>
            </div>
        </div>

        <div class="content position-relative" style="flex: 1; ">
            <div class="d-flex justify-content-between align-items-center gap-2 p-2 shadow-sm rounded">
                <button class="toggler btn btn-secondary rounded-4" onclick="toggleNav()">☰</button>
                <a class="btn btn-secondary rounded-circle" href="/Home/Index" title="go to modules">
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
                <span class="fw-bold text-capitalize">@User.Identity.Name</span>
                <span class="fw-bold">@F_Year</span>
                <div class="d-flex align-items-center gap-2 ms-auto">
                    <a asp-action="Logout" asp-controller="Account" class="btn btn-secondary">Log out</a>
                </div>
            </div>
            @RenderBody()
        </div>

        @* Overlay for sidebar in small screen *@
        <div class="overlay position-absolute" onclick="toggleNav()"></div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        function toggleNav() {
            const navBar = document.getElementById("mySidebar");
            navBar.classList.toggle("nav-open");

            const overlay = document.querySelector(".overlay");
            overlay.classList.toggle("lay-active");
        }

        // console.log(document.querySelectorAll("#mySidebar .nav-link"));
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll("#mySidebar .nav-link").forEach(function (element) {
                element.addEventListener("click", function (e) {
                    let nextEl = element.nextElementSibling;
                    let parentEl = element.parentElement;

                    if (nextEl) {
                        e.preventDefault();
                        // let mycollapse = new bootstrap.Collapse(nextEl);

                        if (nextEl.classList.contains("show")) {
                            // mycollapse.hide();

                            nextEl.classList.remove("show");
                            let href = element.getAttribute("href");
                            // console.log(href);
                            window.location.href = href;
                        }
                        else {
                            nextEl.classList.add("show");
                        }
                    }
                });
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>