@model List<DoctorViewDTO>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Doctors Appointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject IViewLocalizer localizer

<div class="text-center">
    <h1 class="mb-2">@localizer["Doctors Appointments"] </h1>
</div>

<div class="container pt-2" style=" min-height:100vh;">
    <div class="d-flex justify-content-between align-items-center flex-column flex-md-row my-2">
        <div style="width: 40%;">
            <input type="text" id="searchInput" class="form-control" oninput="searchUsers(event)" placeholder="@localizer["Search Doctors by doctor code or name ..."]">
        </div>
    </div>
    <div class="overflow-auto" style="height: 225px;">
        <table id="myTable" class="table table-bordered table-hover" style="width:100%;">
            <thead class="table-dark">
                <tr>
                    <th class="align-middle">
                        @localizer["Code"]
                    </th>
                    <th class="align-middle" style="min-width: 150px;">
                        @localizer["Doctor Name"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr onclick="getDoctorsAppointments(event, @item.DrId)" style="cursor:pointer;">
                        <td class="align-middle">@item.DrId</td>
                        <td class="align-middle user-name">@item.DrDesc</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @* /////////////////////////////////////////////////////////////////// *@

    @* Table for Doctor Appointments *@

    <div class="transactions-table-head d-flex justify-content-between align-items-center mt-3 mb-1">
        <h2 class="header">@localizer["Doctor Appointments"] :</h2>
        <a class="btn btn-sm btn-primary fs-6" style="width:150px">
            @localizer["Add Appointments"]
        </a>
    </div>

    <div class="p-0 mb-2 border-opacity-75 overflow-auto" style="max-height: 300px;">

        <table id="myTable_2" class="table table-bordered table-hover" style="width:100%">
            <thead class="table-dark">
                <tr class="align-middle">
                    <th>
                        @localizer["Serial"]
                    </th>
                    <th>
                        @localizer["Day"]
                    </th>
                    <th>
                        @localizer["Period"]
                    </th>
                    <th class="text-center">
                        @localizer["From"]
                    </th>
                    <th>
                        @localizer["To"]
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script>
    function searchUsers(e) {
        let input = e.target;
        let filterValue = input.value.toLowerCase();
        let rows = document.querySelectorAll("#myTable tbody tr");

        if (!filterValue) {
            for (let i = 0, len = rows.length; i < len; i++) {
                rows[i].style.display = "";
            }
            return;
        }
        
        // Loop through all table rows, hide those that do not match the search query
        for (let i = 0, len1 = rows.length; i < len1; i++) {
            let elements = rows[i].querySelectorAll("td");
            for (let j = 0, len2 = elements.length; j < len2; j++) {
                let td = elements[j];
                if (td) {
                    let tdValue = td.textContent || td.innerText;
                    tdValue = tdValue.toLowerCase();
                    if (tdValue.indexOf(filterValue) > -1) {
                        rows[i].style.display = "";
                        break;
                    } else {
                        rows[i].style.display = "none";
                    }
                }
            }
        }
    }
    
            function getDoctorsAppointments(e, DrId) {
            // Handle active click
            let allItemRows = e.target.parentElement.parentElement.querySelectorAll("tr");;
            let clickedTarget = e.target.parentElement;

            ///////////////////////////////////////////////////////////////////
            let drAppointments = document.querySelector("#myTable_2 tbody");
            let transactionsHead = document.querySelector(".transactions-table-head");
            let transactionsHeader = transactionsHead.querySelector(".header");
            let transAddLink = transactionsHead.querySelector("a");

            ///////////////////////////////////////////////////////////////////
            // if (transType) {
            allItemRows.forEach(row => {
                row.classList.remove("active-row");
            });
            clickedTarget.classList.add("active-row");

            let userName = clickedTarget.querySelector(".user-name").innerText;
            transactionsHeader.innerHTML = `@localizer["Doctor Appointments"] : ${userName}`;

            transAddLink.setAttribute("href", `/Medical/DrTimeSheet/Add_DrTimeSheet/${DrId}`);

            drAppointments.innerHTML = "";  // Empty the table

            $.ajax({
                url: `/Medical/DrTimeSheet/GetAppointmentsForDr/${DrId}`,
                success: function (result) {
                  //  console.log(result);
                    let index = 0;
                    for (let item of result) {
                        console.log(result);
                        index++;
                        //convert to date not time// Format the date as needed (e.g., "YYYY-MM-DD")
                        const dateFrom = new Date(item.timfrom);
                        const optionsFrom = { hour: '2-digit', minute: '2-digit', hour12: true };
                        const Timfrom = dateFrom.toLocaleTimeString('en-US', optionsFrom);
                        ////
                        const dateTo = new Date(item.timto);
                        const optionsTo = { hour: '2-digit', minute: '2-digit', hour12: true };
                        const Timto = dateTo.toLocaleTimeString('en-US', optionsTo);
                        // 
                        let exPeriod;
                        let dayNumber;
                        if(item.exPeriod == 1)
                        {exPeriod = "@localizer["Morning"]"; }
                        else if(item.exPeriod == 2)
                        {exPeriod = "@localizer["Evening"]"; }
                         else if(item.exPeriod == 3)
                        {exPeriod = "@localizer["Night"]"; }
                        ///
                         if(item.dayNumber == 1)
                        {dayNumber = "@localizer["Sunday"]"; }
                        else if(item.dayNumber == 2)
                        {dayNumber = "@localizer["Monday"]"; }
                         else if(item.dayNumber == 3)
                        {dayNumber = "@localizer["Tuesday"]"; }
                        else if(item.dayNumber == 4)
                        {dayNumber = "@localizer["Wednesday"]"; }
                         else if(item.dayNumber == 5)
                        {dayNumber = "@localizer["Thursday"]"; }
                        else if(item.dayNumber == 6)
                        {dayNumber = "@localizer["Friday"]"; }
                         else if(item.dayNumber == 7)
                        {dayNumber = "@localizer["Thursday"]"; }

                        const drAppointment = document.createElement("tr");
                        drAppointment.innerHTML =
                            `
                                <td class="align-middle text-center">${index}</td>
                                <td class="align-middle text-center">${dayNumber}</td>
                                <td class="align-middle text-center">${exPeriod}</td>
                                <td class="align-middle text-center">${Timfrom}</td>
                                <td class="align-middle text-center">${Timto}</td>
                                <td class="text-center align-middle" style="width: 325px;">
                                 <a href="/Medical/DrTimeSheet/Edit_DrTimeSheet/${item.drTimId}?drId=${DrId}" class="btn btn-sm btn-success mb-1 fs-6" style="width: 150px">@localizer["Edit"]</a>
                                  <form action="/Medical/DrTimeSheet/Delete_DrTimeSheet" method="post" class="d-inline">
                                        @Html.AntiForgeryToken()
                                            <input type="hidden" name="id" value="${item.drTimId}" />
                                        <button type="button" onclick="openModalListener(event)" class="btn btn-sm btn-danger mb-1  fs-6" data-modal-target style="width:150px">@localizer["Delete"]</button>
                                        <div class="modal-container">
                                            <div class="modal 4" id="modal">
                                                <div class="modal-header fs-4">
                                                    <div class="title">@localizer["Confirm Delete"]</div>
                                                    <button type="button" onclick="closeModelListener(event)" data-close-button class="close-button">&times;</button>
                                                </div>
                                                        <div class="modal-body fs-4">
        @localizer["Are you sure you want to delete this item ?"]
                                                </div>
                                                        <div class="modal-footer fs-4">
                                                    <button type="button" onclick="closeModelListener(event)" data-close-button class="btn btn-secondary">@localizer["No"]</button>
                                                    <button class="btn btn-danger">@localizer["Yes"]</button>
                                                </div>
                                            </div>
                                            <div onclick="overlayListener(event)" id="overlay"></div>
                                        </div>
                                        </form>
                                    </td>
                                    `;
                        drAppointments.appendChild(drAppointment);
                    }
                }
            });
        }

</Script>