@model List<UserDTO>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Users Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");

    SelectList transTypes = new(ViewBag.transTypes, "TransId", "TransDesc");
}
@inject IViewLocalizer localizer

<div class="text-center">
    <h1 class="mb-2">@localizer["Joining Users With Transactions"] </h1>
    <p class="fs-5">@localizer["Before anything, select the transaction type and then the user"]</p>
</div>

<div class="container pt-2" style=" min-height:100vh;">
    <div class="d-flex justify-content-between align-items-start align-items-md-center flex-column flex-md-row my-2">
        <div style="width: 40%;">
            <input type="text" id="searchInput" class="form-control" oninput="searchUsers(event)" placeholder="@localizer["Search users by useer code or name ..."]">
        </div>
        <div class="d-flex align-items-md-center align-items-start flex-column flex-md-row" style="width: 50%;">
            <label for="transType" class="@(isRTL ? "ms-3" : "me-3") mb-1 mb-md-0">@localizer["Transaction Type"]</label>
            <select id="transType" asp-items="transTypes" class="form-control text-center w-75">
                <option value="">-- Choose --</option>
            </select>
        </div>
    </div>
    <div class="overflow-auto" style="height: 225px;">
        <table id="myTable" class="table table-bordered table-hover" style="width:100%;">
            <thead class="table-dark">
                <tr>
                    <th class="align-middle">
                        @localizer["Code"]
                    </th>
                    <th class="align-middle" style="min-width: 150px;">
                        @localizer["User Name"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr onclick="getUserTransactions(event, @item.UserCode)" style="cursor:pointer;">
                    <td class="align-middle">@item.UserCode</td>
                    <td class="align-middle user-name">@item.UserName</td>
@*                     <td class="align-middle">
                    @foreach (var permission in item?.Permissions)
                    {
                        <span class="d-inline-block bg-secondary py-1 px-2 me-1 mb-2 text-light fs-5" style="border-radius: 8px">@permission.GDesc</span>
                    }
                    </td> *@
                </tr>
                }
            </tbody>
        </table>
    </div>

    @* /////////////////////////////////////////////////////////////////// *@

    @* Table for User Transactions *@

    <div class="transactions-table-head d-flex justify-content-between align-items-center mt-4">
        <h2 class="header">@localizer["Transactions of User"] :</h2>
    </div>

    <div class="border border-success p-0 mb-2 border-opacity-75 overflow-auto" style="max-height: 300px;">

        <table id="myTable_2" class="table table-bordered table-hover" style="width:100%">
            <thead class="table-dark">
                <tr>
                    <th class="align-middle">
                        @localizer["Code"]
                    </th>
                    <th class="align-middle">
                        @localizer["Transaction Name"]
                    </th>
                    <th class="align-middle">
                        @localizer["Transaction Type"]
                    </th>
                    <th class="align-middle">
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        function searchUsers(e) {
            let input = e.target;
            let filterValue = input.value.toLowerCase();
            let rows = document.querySelectorAll("#myTable tbody tr");

            if (!filterValue) {
                for (let i = 0, len = rows.length; i < len; i++) {
                    rows[i].style.display = "";
                }
                return;
            }

            // Loop through all table rows, hide those that do not match the search query
            for (let i = 0, len1 = rows.length; i < len1; i++) {
                let elements = rows[i].querySelectorAll("td");
                for (let j = 0, len2 = elements.length; j < len2; j++) {
                    let td = elements[j];
                    if (td) {
                        let tdValue = td.textContent || td.innerText;
                        tdValue = tdValue.toLowerCase();
                        if (tdValue.indexOf(filterValue) > -1) {
                            rows[i].style.display = "";
                            break;
                        } else {
                            rows[i].style.display = "none";
                        }
                    }
                }
            }
        }

        function getUserTransactions(e, userCode) {
            // Handle active click
            let allItemRows = e.target.parentElement.parentElement.querySelectorAll("tr");;
            let clickedTarget = e.target.parentElement;

            ///////////////////////////////////////////////////////////////////
            let userTransactions = document.querySelector("#myTable_2 tbody");
            let transactionsHead = document.querySelector(".transactions-table-head");
            let transactionsHeader = transactionsHead.querySelector(".header");

            let transType = document.getElementById("transType").value;
            ///////////////////////////////////////////////////////////////////
            if (transType) {
                allItemRows.forEach(row => {
                    row.classList.remove("active-row");
                });
                clickedTarget.classList.add("active-row");

                let userName = clickedTarget.querySelector(".user-name").innerText;
                transactionsHeader.innerHTML = `@localizer["Transactions of User"] : ${userName}`;

                userTransactions.innerHTML = "";  // Empty the table

                $.ajax({
                    url: `/Stocks/UserTransaction/GetPermissionsForUser/${userCode}?transType=${transType}`,
                    success: function (result) {
                        for (let item of result) {
                            const userTrans = document.createElement("tr");
                            userTrans.innerHTML +=
                                `
                                <td class="align-middle">${item.gId}</td>
                                <td class="align-middle">${item.gDesc}</td>
                                <td class="align-middle">${item.transactionType}</td>
                                <td class="text-center align-middle" style="width: 325px;">
                                    <a href="/Stocks/UserTransaction/Edit_Transaction/${userCode}?gId=${item.gId}" class="btn btn-sm btn-success mb-1 fs-6" style="width: 150px">@localizer["Edit"]</a>
                                </td>
                                `;
                            userTransactions.appendChild(userTrans);
                        }
                    }
                });
            } else {
                transactionsHeader.innerHTML = `@localizer["Transactions of User"]`;
                userTransactions.innerHTML = "";
                document.getElementById("transType").focus();
            }
        }
    </script>
}