@model TransMasterEditAddDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Add Sales Invoice";
    Layout = "_Layout";
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");

    var receivers = new SelectList(Model.Receivers, "SafeCode", "SafeNames");
    var customers = new SelectList(Model.Customers, "CustCode1", "CustName");
    var salesMen = new SelectList(Model.SalesMen, "SmNo", "SmName");
}
@inject IViewLocalizer localizer

<div class="container pt-2">
    <h1 class="mt-4">@Model.PermissionName</h1>
    <div class="border p-2">
        <p class="d-flex justify-content-between align-items-center flex-column flex-md-row fs-4 m-0">
            <span class="fw-bold">@localizer["The Month"] : @Model.MonthName</span>
            <span class="fw-bold">@localizer["The Year"] : @Model.FYear</span>
            <span class="fw-bold">@localizer["Number of Permissions"] : @Model.PermissionsCount</span>
        </p>
        <p class="d-flex justify-content-between align-items-center flex-column flex-md-row fs-4 m-0">
            <span class="fw-bold">@localizer["Stock Name"] : @Model.StockName</span>
            <span class="fw-bold">@localizer["User Name"] : @Model.UserName</span>
        </p>
    </div>
    <form method="post" asp-action="Add_SalesInvoice">
        <div class="border p-3 mt-4">

            @* Hidden Inputs *@
            <input asp-for="DocNo" type="hidden" />
            <input asp-for="StockCode" type="hidden" />
            <input asp-for="TransType" type="hidden" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="parent-permForm d-flex align-items-md-end justify-content-between gap-md-1 my-mobile ">
                <div class="mb-3">
                    <label asp-for="DocNo" style="width: 45%;"></label>
                    <input asp-for="DocNo" class="form-control" disabled />
                    <span asp-validation-for="DocNo" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label style="width: 70%;">@localizer["Disburse Permission No"]</label>
                    <input asp-for="SupInvNo" class="form-control" style="pointer-events: none; background-color: #e9ecef" />
                </div>
                <div class="mb-3">
                    <label style="width: 40%;">@localizer["Voucher No"]</label>
                    <input asp-for="AccTransNo" class="form-control" style="pointer-events: none; background-color: #e9ecef" />
                </div>
                <div class="mb-3">
                    <label style="width: 80%;">@localizer["User Journal"]</label>
                    <input asp-for="JournalName" class="form-control" style="pointer-events: none; background-color: #e9ecef" />
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permForm d-flex align-items-md-end justify-content-between gap-md-1 my-mobile ">
                <div class="flex-column flex-md-row gap-md-1">
                    <div class="d-flex align-items-center mb-3 w-50">
                        <label style="width: 150px;">@localizer["Delivery Permission Date"]</label>
                        @if (Model.EnableModify)
                        {
                        <input asp-for="DocDate" type="date" class="form-control" style="width: 200px;" />
                        }
                        else
                        {
                        <input asp-for="DocDate" type="date" class="form-control" style="width: 200px; pointer-events: none; background-color: #e9ecef" />
                        }
                        <span asp-validation-for="DocDate" class="text-danger"></span>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <label asp-for="SupInvDate" class="text-center" style="width: 136px">@localizer["Disburse Permission Date"]</label>
                        <input asp-for="SupInvDate" class="form-control" style="width: 200px;" />
                    </div>
                </div>
                <div>
                    <div class="d-flex align-items-center mb-3">
                        <label asp-for="StockName" class="text-center" style="width: 125px;">@localizer["Stock"]</label>
                        <input asp-for="StockName" class="form-control" style="width: 250px;" disabled />
                    </div>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permForm d-flex align-items-md-end justify-content-between gap-md-1 my-mobile ">
                <div class="flex-column flex-md-row gap-md-1">
                    <div class="d-flex align-items-center mb-3">
                        <label asp-for="InvNo" style="width: 150px;">@localizer["Invoice No"]</label>
                        <input asp-for="InvNo" class="form-control" style="width: 200px;" />
                        <span asp-validation-for="InvNo" class="text-danger"></span>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <label asp-for="DueDate" class="text-center" style="width: 130px">@localizer["Invoice Date"]</label>
                        <input asp-for="DueDate" class="form-control" style="width: 200px;" />
                        <span asp-validation-for="InvNo" class="text-danger"></span>
                    </div>
                </div>
                <div>
                    <div class="d-flex align-items-center mb-3">
                        <label asp-for="Flag3" class="text-center" style="width: 125px;">@localizer["User Dependence"]</label>
                        <select asp-for="Flag3" class="form-control text-center" style="width: 250px;">
                            <option value="1">@localizer["No"]</option>
                            <option value="2">@localizer["Yes"]</option>
                        </select>
                        <span asp-validation-for="Flag3" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permForm d-flex align-items-md-end justify-content-between gap-md-3 my-mobile ">
                <div class="flex-column flex-md-row gap-md-1">
                    <div class="d-flex align-items-center mb-3">
                        <label asp-for="DocNo2" style="width: 150px;">@localizer["Supply Order No for Customer"]</label>
                        <input asp-for="DocNo2" type="number" class="form-control" style="width: 200px;" />
                        <span asp-validation-for="DocNo2" class="text-danger"></span>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <label asp-for="RefDocDate" class="text-center" style="width: 130px">@localizer["Supply Order Date"]</label>
                        <input asp-for="RefDocDate" class="form-control" style="width: 200px;" />
                        <span asp-validation-for="RefDocDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="gap-md-1">
                    <div class="d-flex align-items-center mb-3">
                        <div class="d-flex align-items-center justify-content-start justify-content-md-end gap-2 mb-2">
                            <input name="PriceIncTax" id="PriceIncTax" type="checkbox" value="0" class="form-check-input" onchange="changeValue(event)" />
                            <label asp-for="PriceIncTax" style="width: 180px;"></label>
                        </div>
                        <span asp-validation-for="PriceIncTax" class="text-danger"></span>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <div class="d-flex align-items-center justify-content-start justify-content-md-end gap-2 mb-2">
                            <input name="InvType" id="InvType" type="checkbox" value="0" class="form-check-input" onchange="changeValue(event)" />
                            <label asp-for="InvType" style="width: 180px;">@localizer["Tax Invoice"]</label>
                        </div>
                        <span asp-validation-for="PriceIncTax" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permForm d-flex align-items-md-end justify-content-between gap-md-1 my-mobile ">
                <div class="gap-md-1">
                    <div class="d-flex align-items-center mb-3">
                        <label asp-for="TaxValue" style="width: 150px;">@localizer["Tax"]</label>
                        <input asp-for="TaxValue" type="number" class="form-control" style="width: 200px;" />
                        <span asp-validation-for="TaxValue" class="text-danger"></span>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <label asp-for="TaxPrc" class="text-center" style="width: 130px">@localizer["percent"]</label>
                        <input asp-for="TaxPrc" type="number" class="form-control" style="width: 200px;" />
                        <span asp-validation-for="TaxPrc" class="text-danger"></span>
                    </div>
                </div>
                <div>
                    <div class="d-flex align-items-center mb-3">
                        <label asp-for="SmNo" class="text-center" style="width: 125px;">@localizer["The Representative"]</label>
                        <select asp-for="SmNo" asp-items="salesMen" class="form-control text-center" style="width: 250px;">
                            <option value="">-- Choose --</option>
                        </select>
                        <span asp-validation-for="SmNo" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permForm d-flex align-items-md-end justify-content-between gap-md-1 my-mobile ">
                <div class="gap-md-1">
                    <div class="d-flex align-items-center mb-3">
                        <label asp-for="Descount" style="width: 150px;">@localizer["Permitted Discount"]</label>
                        <input asp-for="Descount" type="number" class="form-control" style="width: 200px;" />
                        <span asp-validation-for="Descount" class="text-danger"></span>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <label asp-for="DiscPers" class="text-center" style="width: 130px">@localizer["percent"]</label>
                        <input asp-for="DiscPers" type="number" class="form-control" style="width: 200px;" />
                        <span asp-validation-for="DiscPers" class="text-danger"></span>
                    </div>
                </div>
                <div>
                    <div class="d-flex align-items-center mb-3">
                        <label asp-for="CustNo" class="text-center" style="width: 125px;">@localizer["The Customer"]</label>
                        <select asp-for="CustNo" asp-items="customers" class="form-control text-center" style="width: 250px;">
                            <option value="">-- Choose --</option>
                        </select>
                        <span asp-validation-for="CustNo" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permForm d-flex align-items-md-end justify-content-between gap-md-1 my-mobile ">
                <div class="gap-md-1">
                    <div class="d-flex align-items-center mb-3">
                        <label asp-for="SideId" style="width: 150px;">@localizer["The Receiver"]</label>
                        <select asp-for="SideId" asp-items="receivers" class="form-control text-center" style="width: 250px;">
                            <option value="">-- Choose --</option>
                        </select>
                        <span asp-validation-for="SideId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent d-flex justify-content-md-center gap-2">
                <button type="submit" class="btn btn-primary" style="width:150px">@localizer["Add"]</button>
                <a asp-controller="PermissionForm" asp-action="Index" class="btn btn-secondary" style="width:150px">
                    @localizer["Cancel"]
                </a>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    <script>
        function changeValue(e) {
            let target = e.target;
            if (target.checked)
                target.value = 1;
            else
                target.value = 0;
        }
    </script>
}
