@model TransMasterEditAddDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit Permission Form";
    Layout = "_Layout";
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");

    var suppliers = new SelectList(Model.Suppliers, "SupCode1", "SupName");
}
@inject IViewLocalizer localizer

<div class="container pt-2">
    <h1 class="mt-4">@localizer["Modify"] @Model.PermissionName</h1>
    <div class="border p-2">
        <p class="d-flex justify-content-between align-items-center flex-column flex-md-row fs-4 m-0">
            <span class="fw-bold">@localizer["The Month"] : @Model.MonthName</span>
            <span class="fw-bold">@localizer["The Year"] : @Model.FYear</span>
            <span class="fw-bold">@localizer["Number of Permissions"] : @Model.PermissionsCount</span>
        </p>
        <p class="d-flex justify-content-between align-items-center flex-column flex-md-row fs-4 m-0">
            <span class="fw-bold">@localizer["Stock Name"] : @Model.StockName</span>
            <span class="fw-bold">@localizer["User Name"] : @Model.UserName</span>
        </p>
    </div>
    <form method="post" asp-action="Edit_PermissionForm">
        <div class="border p-3 mt-4">

            @* Hidden Inputs *@
            <input asp-for="StockCode" type="hidden" />
            <input asp-for="TransType" type="hidden" />
            <input asp-for="FYear" type="hidden" />
            <input asp-for="FMonth" type="hidden" />
            <input asp-for="UserCode" type="hidden" />
            <input asp-for="BranchId" type="hidden" />
            <input asp-for="Flag3" type="hidden" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="parent-permForm d-flex align-items-md-end justify-content-between gap-md-1 my-mobile ">
                <div class="mb-3" style="width: 30%;">
                    <label style="width: 125px;">@localizer["Permission Date"]</label>
                    @if (Model.EnableModify)
                    {
                    <input asp-for="DocDate" type="date" class="form-control" style="width: 210px;" />
                    }
                    else
                    {
                    <input asp-for="DocDate" type="date" class="form-control" style="width: 210px; pointer-events: none; background-color: #e9ecef" />
                    }
                    <span asp-validation-for="DocDate" class="text-danger"></span>
                </div>
                <div class="mb-3 justify-content-between" style="width: 35%;">
                    <label style="width: 32%;">@localizer["Stock"]</label>
                    <input asp-for="StockName" class="form-control" style="width: 78%;" disabled />
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permForm d-flex align-items-md-end justify-content-between gap-md-1 my-mobile ">
                <div class="mb-3" style="width: 30%">
                    <label asp-for="SupInvNo" style="width: 125px;"></label>
                    <input asp-for="SupInvNo" class="form-control" style="width: 210px;" />
                    <span asp-validation-for="SupInvNo" class="text-danger"></span>
                </div>
                <div class="mb-3 justify-content-between" style="width: 35%;">
                    <label asp-for="SupNo" style="width: 20%;"></label>
                    <select asp-for="SupNo" asp-items="suppliers" class="form-control text-center" style="width: 72%;">
                        <option value="">-- Choose --</option>
                    </select>
                    <span asp-validation-for="SupNo" class="text-danger d-none"></span>
                </div>
                <div class="mb-3" style="width: 35%;">
                    <label asp-for="Pay" style="width: 32%;"></label>
                    <select asp-for="Pay" class="form-control text-center" style="width: 78%;">
                        <option value="d">أجل</option>
                        <option value="c">نقدي</option>
                    </select>
                    <span asp-validation-for="Pay" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permForm d-flex align-items-md-start justify-content-between gap-md-1 my-mobile ">
                <div class="mb-3" style="width: 30%;">
                    <label asp-for="SupInvDate" style="width: 125px;"></label>
                    <input asp-for="SupInvDate" class="form-control" style="width: 210px;" />
                    <span asp-validation-for="SupInvDate" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-between" style="width: 35%;">
                    <div class="mb-3 w-50 d-flex justify-content-between align-items-center">
                        <label asp-for="DiscPers" style="width: 170%;"></label>
                        <input asp-for="DiscPers" type="number" class="form-control" />
                        <span asp-validation-for="DiscPers" class="text-danger"></span>
                    </div>
                    <div class="mb-3 w-50 d-flex justify-content-between align-items-center">
                        <label asp-for="Descount" class="@(isRTL ? "me-2" : "ms-2")" style="width: 90px;"></label>
                        <input asp-for="Descount" type="number" class="form-control" style="width: 80px;" />
                        <span asp-validation-for="Descount" class="text-danger d-none"></span>
                    </div>
                </div>
                <div class="mb-3" style="width: 35%;">
                    <label asp-for="TotTransVal" style="width: 32%;"></label>
                    <input asp-for="TotTransVal" type="number" class="form-control" style="width: 78%;" />
                    <span asp-validation-for="TotTransVal" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permForm d-flex align-items-md-start justify-content-between gap-md-3 my-mobile ">
                <div class="mb-3" style="width: 30%;">
                    <label asp-for="LotNo" style="width: 125px;"></label>
                    <input asp-for="LotNo" class="form-control" style="width: 210px;" />
                    <span asp-validation-for="LotNo" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-between" style="width: 35%;">
                    <div class="mb-3 w-50 d-flex justify-content-between align-items-center">
                        <label asp-for="CustDisc2" style="width: 170%;"></label>
                        <input asp-for="CustDisc2" type="number" class="form-control" />
                        <span asp-validation-for="CustDisc2" class="text-danger"></span>
                    </div>
                    <div class="mb-3 w-50 d-flex justify-content-between align-items-center">
                        <label asp-for="CustDisc1" class="@(isRTL ? "me-2" : "ms-2")" style="width: 90px;"></label>
                        <input asp-for="CustDisc1" type="number" class="form-control" style="width: 80px;" />
                        <span asp-validation-for="CustDisc1" class="text-danger d-none"></span>
                    </div>
                </div>
                <div class="d-flex justify-content-between" style="width: 35%;">
                    <div class="mb-3 w-50 d-flex justify-content-between align-items-center">
                        <label asp-for="TaxPrc" style="width: 80px;">@localizer["Sales Tax"]</label>
                        <input asp-for="TaxPrc" type="number" class="form-control" style="width: 76px;" />
                        <span asp-validation-for="TaxPrc" class="text-danger d-none"></span>
                    </div>
                    <div class="mb-3 w-50 d-flex justify-content-between align-items-center">
                        <label asp-for="TaxValue" class="@(isRTL ? "me-4" : "ms-4")" style="width: 90px;">@localizer["percent"] %</label>
                        <input asp-for="TaxValue" type="number" class="form-control" style="width: 80px;" />
                        <span asp-validation-for="TaxValue" class="text-danger d-none"></span>
                    </div>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permForm d-flex align-items-center justify-content-between gap-md-3 my-mobile ">
                <div class="mb-3" style="width: 30%;">
                    <label asp-for="RefDocNo" style="width: 125px;"></label>
                    <input asp-for="RefDocNo" type="number" class="form-control" style="width: 210px;" />
                    <span asp-validation-for="RefDocNo" class="text-danger"></span>
                </div>
                <div style="width: 35%;">
                    <div class="d-flex align-items-center justify-content-start justify-content-md-end gap-2 mb-3 w-100">
                        @if(Model.PriceIncTax == 1)
                        {
                        <input name="PriceIncTax" id="PriceIncTax" type="checkbox" class="form-check-input" value="1" checked onchange="changeValue(event)" />
                        }
                        else
                        {
                        <input name="PriceIncTax" id="PriceIncTax" type="checkbox" class="form-check-input" value="0" onchange="changeValue(event)" />
                        }
                        <label asp-for="PriceIncTax" style="width: 180px;"></label>
                    </div>
                    <span asp-validation-for="PriceIncTax" class="text-danger"></span>
                </div>
                <div class="mb-3" style="width: 35%;">
                    <label asp-for="DueValue" style="width: 121px;"></label>
                    <input asp-for="DueValue" type="number" class="form-control" style="width: 78%;" />
                    <span asp-validation-for="DueValue" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent d-flex justify-content-md-center gap-2">
                <button type="submit" class="btn btn-success" style="width:150px">@localizer["Save Changes"]</button>
                <a asp-controller="PermissionForm" asp-action="Index" class="btn btn-secondary" style="width:150px">
                    @localizer["Cancel"]
                </a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        function changeValue(e) {
            let target = e.target;
            if (target.checked)
                target.value = 1;
            else
                target.value = 0;
        }
    </script>
}