@model TransMasterViewDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Permissions Forms";
    Layout = "_Layout";
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");

    SelectList stocks = new(ViewBag.Stocks, "Stkcod", "Stknam");
}
@inject IViewLocalizer localizer

<div class="text-center">
    <h2 class="mb-2">@localizer["Permissions Forms"] </h2>
</div>

<div class="container pt-2">
    <div class="page-head d-flex justify-content-between align-items-center flex-column flex-md-row gap-3 my-2">
        <div class="d-flex align-items-center flex-column flex-md-row w-50">
            <label for="stocks" class="@(isRTL ? "ms-3" : "me-3") mb-1 mb-md-0">@localizer["Stocks"]</label>
            <select id="stocks" asp-items="stocks" class="form-control text-center w-100" onchange="getUserPermissionsForStock(event)">
                <option value="">-- Choose --</option>
            </select>
        </div>
        <div class="d-flex align-items-center flex-column flex-md-row w-50">
            <label for="permissions" class="@(isRTL ? "ms-3" : "me-3") mb-1 mb-md-0">@localizer["Permissions"]</label>
            <select id="permissions" class="form-control text-center w-100" onchange="getPermissionsInStock()">
                <option value="">-- Choose --</option>
            </select>
        </div>
        <a onclick="goToAddPermissionForm(event, 'permissions', 'stocks')" class="btn btn-sm btn-primary fs-6" style="width:150px">
            @localizer["Add Permission Form"]
        </a>
    </div>

    <div class="overflow-auto" style="height: 225px;">
        <table id="myTable" class="table table-bordered table-hover" style="width:100%;">
            <thead class="table-dark">
                <tr>
                    <th class="align-middle" style="min-width: 100px;">
                        @localizer["Doc No"]
                    </th>
                    <th class="align-middle" style="min-width: 100px;">
                        @localizer["Permission Date"]
                    </th>
                    <th class="align-middle text-center" style="min-width: 100px;">
                        @localizer["Stock Name"]
                    </th>
                    <th class="align-middle text-center" style="min-width: 100px;">
                        @localizer["The Supplier"]
                    </th>
                    <th class="align-middle text-center" style="min-width: 100px;">
                        @localizer["Voucher No"]
                    </th>
                    <th class="align-middle text-center" style="min-width: 100px;">
                        @localizer["Supplier Invoice No"]
                    </th>
                    <th class="align-middle text-center" style="min-width: 100px;">
                        @localizer["From Permission"]
                    </th>
                    <th class="align-middle text-center" style="min-width: 100px;">
                        @localizer["Shipped from / to"]
                    </th>
                    <th class="align-middle text-center" style="min-width: 100px;">
                        @localizer["Supplier Invoice Date"]
                    </th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @if(Model != null)
                {
                <tr onclick="GetPermissionDetails(event, @Model.TransMAsterID, @Model.ShowTransPrice);" class="align-middle text-center" style="cursor: pointer;">
                    <td>@Model.DocNo</td>
                    <td>@Model.DocDate</td>
                    <td>@Model.StockName</td>
                    <td>@Model.SupplierName</td>
                    <td>@Model.AccTransNo</td>
                    <td>@Model.SupInvNo</td>
                    <td>@Model.DocNoFr</td>
                    <td>@Model.StockName2</td>
                    <td>@Model.SupInvDate</td>
                    <td style="width: 325px;">
                        <a onclick="approvePermission(event, @Model.TransMAsterID)" class="btn btn-sm btn-primary mb-1 fs-6" style="width: 60px">@localizer["Approve"]</a>
                        @switch (Model.TransType)
                        {
                            case 4:
                            case 13:
                                <a href="/Stocks/PermissionForm/Edit_DisburseOrConvertForm/@Model.TransMAsterID" class="btn btn-sm btn-success mb-1 fs-6" style="width: 60px">@localizer["Edit"]</a>
                                break;
                            case 12:
                                <a href="/Stocks/PermissionForm/Edit_SalesInvoice/@Model.TransMAsterID" class="btn btn-sm btn-success mb-1 fs-6" style="width: 60px">@localizer["Edit"]</a>
                                break;
                            case 24:
                            case 26:
                                <a href="/Stocks/PermissionForm/Edit_Settlement/@Model.TransMAsterID" class="btn btn-sm btn-success mb-1 fs-6" style="width: 60px">@localizer["Edit"]</a>
                                break;
                            case 5:
                                <a href="/Stocks/PermissionForm/Edit_ReqDisburse/@Model.TransMAsterID" class="btn btn-sm btn-success mb-1 fs-6" style="width: 60px">@localizer["Edit"]</a>
                                break;
                            case 30:
                                <a href="/Stocks/PermissionForm/Edit_ReturnPermission/@Model.TransMAsterID" class="btn btn-sm btn-success mb-1 fs-6" style="width: 60px">@localizer["Edit"]</a>
                                break;
                            default:
                                <a href="/Stocks/PermissionForm/Edit_PermissionForm/@Model.TransMAsterID" class="btn btn-sm btn-success mb-1 fs-6" style="width: 60px">@localizer["Edit"]</a>
                                break;
                        }

                        <form action="/Stocks/PermissionForm/Delete_PermissionForm" method="post" class="d-inline">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@Model.TransMAsterID" />
                            <button type="button" onclick="deleteTransMaster(event, @Model.TransMAsterID)" class="btn btn-sm btn-danger mb-1  fs-6" data-modal-target style="width: 150px">@localizer["Delete"]</button>
                            <div class="modal-container">
                                <div class="modal 4" id="modal">
                                    <div class="modal-header fs-4">
                                        <div class="title">@localizer["Confirm Delete"]</div>
                                        <button type="button" onclick="closeModelListener(event)" data-close-button class="close-button">&times;</button>
                                    </div>
                                    <div class="modal-body fs-4">
                                        @localizer["Are you sure you want to delete this item ?"]
                                    </div>
                                    <div class="modal-footer fs-4">
                                        <button type="button" onclick="closeModelListener(event)" data-close-button class="btn btn-secondary">@localizer["No"]</button>
                                        <button class="btn btn-danger">@localizer["Yes"]</button>
                                    </div>
                                </div>
                                <div onclick="overlayListener(event)" id="overlay"></div>
                            </div>
                        </form>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <div class="spinner-container d-flex justify-content-center align-items-center d-none" style="height: 100px;">
            <div class="spinner"></div>
        </div>
    </div>

    @* /////////////////////////////////////////////////////////////////// *@

    @* Table for Permission Details *@

    <div class="details-table-head d-flex justify-content-between align-items-center mt-3 mb-1">
        <h2 class="header">@localizer["The Items"]</h2>
        <a class="btn btn-sm btn-primary fs-6" style="width:150px">
            @localizer["Add Item"]
        </a>
    </div>

    <div class="p-0 mb-2 border-opacity-75 overflow-auto" style="max-height: 300px;">

        <table id="myTable_2" class="table table-bordered table-hover" style="width:100%">
            <thead class="table-dark">
                <tr class="align-middle">
                    <th>
                        @localizer["Serial_M"]
                    </th>
                    <th>
                        @localizer["Item Name"]
                    </th>
                    <th>
                        @localizer["The Barcode"]
                    </th>
                    <th class="text-center">
                        @localizer["The Quantity"]
                    </th>
                    <th class="text-center">
                        @localizer["The Unit"]
                    </th>
                    <th>
                        @localizer["Unit Price"]
                    </th>
                    <th>
                        @localizer["Under Tax"]
                    </th>
                    <th>
                        @localizer["Tax"]
                    </th>
                    <th>
                        @localizer["The Total"]
                    </th>
                    <th>
                        @localizer["Expire Date"]
                    </th>
                    <td></td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="spinner-container d-flex justify-content-center align-items-center d-none" style="height: 100px;">
            <div class="spinner"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function goToAddPermissionForm(e, permissionID, stockID) {
            let linkButton = e.target;
            let permission = document.getElementById(permissionID);
            let stock = document.getElementById(stockID);

            if (!stock.value) {
                stock.focus();
                return;
            }
            if (!permission.value) {
                permission.focus();
                return;
            }

            switch (permission.value) {
                case "4":
                case "13":
                    linkButton.setAttribute("href", `/Stocks/PermissionForm/Add_DisburseOrConvertForm/${stock.value}?transType=${permission.value}`);
                    break;
                case "12":
                    linkButton.setAttribute("href", `/Stocks/PermissionForm/Add_SalesInvoice/${stock.value}?transType=${permission.value}`);
                    break;
                case "24":
                case "26":
                    linkButton.setAttribute("href", `/Stocks/PermissionForm/Add_Settlement/${stock.value}?transType=${permission.value}`);
                    break;
                case "5":
                    linkButton.setAttribute("href", `/Stocks/PermissionForm/Add_ReqDisburse/${stock.value}?transType=${permission.value}`);
                    break;
                case "30":
                    linkButton.setAttribute("href", `/Stocks/PermissionForm/Add_ReturnPermission/${stock.value}?transType=${permission.value}`);
                    break;
                case "23":
                    linkButton.removeAttribute("href");
                    break;
                default:
                    linkButton.setAttribute("href", `/Stocks/PermissionForm/Add_PermissionForm/${stock.value}?transType=${permission.value}`);
                    break;
            }
        }

        function getUserPermissionsForStock(e) {
            let stock = e.target;
            let permissions = document.getElementById("permissions");
            permissions.innerHTML = `<option value="">-- Choose --</option>`;

            $.ajax({
                url: `/Stocks/PermissionForm/GetUserPermissionsForStock/${stock.value}`,
                success: function (result) {
                    for (let item of result) {
                        permissions.innerHTML +=
                            `<option value="${item.uniqueType}">${item.gDesc}</option>`;
                    }
                }
            });
        }

        function approvePermission(e, transMAsterID) {
            $.ajax({
                url: `/Stocks/PermissionForm/ApprovePermission/${transMAsterID}`,
                success: function (result) {
                    if (result == false) {
                        let button = e.target;
                        let myAlert = document.createElement("div");
                        myAlert.innerHTML =
                            `
                        <div class="modal-container">
                            <div class="modal 4" id="modal">
                                <div class="modal-header fs-4">
                                    <div class="title">@localizer["Warning"] !</div>
                                    <button type="button" onclick="closeAlert(event)" data-close-button class="close-button">&times;</button>
                                </div>
                                <div class="modal-body fs-4">
                                    @localizer["You can not approve this permission with no items."]
                                </div>
                                <div class="modal-footer fs-4">
                                    <button type="button" onclick="closeAlert(event)" data-close-button class="btn btn-primary">@localizer["Ok"]</button>
                                </div>
                            </div>
                            <div onclick="closeOverlay(event)" id="overlay"></div>
                        </div>
                        `;
                        button.insertAdjacentHTML("afterend", myAlert.innerHTML);
                        openAlert(e);
                    }
                    else if (result == true) {
                        getPermissionsInStock();
                        var transDetails = document.querySelector("#myTable_2 tbody");
                        transDetails.innerHTML = "";  // Empty the table
                    }
                }
            });
        }

        function formatDate(date) {
            let myDate = new Date(date);
            let mm = myDate.getMonth() + 1; // getMonth() is zero-based
            let dd = myDate.getDate();

            return [myDate.getFullYear(),
            (mm > 9 ? '' : '0') + mm,
            (dd > 9 ? '' : '0') + dd
            ].join('-');
        };

        function deleteTransMaster(e, transMAsterID) {
            e.preventDefault();
            let button = e.target;
            
            $.ajax({
                url: `/Stocks/PermissionForm/IfPossibleToDelete/${transMAsterID}`,
                success: function (result) {
                    if (result == 1 || result == 2) {
                        // let message_1 = @localizer["You Can't Delete it because of Posting To Accounts"];
                        // let message_2 = @localizer["This Permission is not approved"];
                        let message = result == 1 ?
                            "You Can't Delete it because of Posting To Accounts" :
                            "This Permission is approved";

                        let myAlert = document.createElement("div");
                        myAlert.innerHTML =
                            `
                            <div class="modal-container">
                                <div class="modal 4" id="modal">
                                    <div class="modal-header fs-4">
                                        <div class="title">@localizer["Warning"] !</div>
                                        <button type="button" onclick="closeAlert(event)" data-close-button class="close-button">&times;</button>
                                    </div>
                                    <div class="modal-body fs-4">
                                        ${message}
                                    </div>
                                    <div class="modal-footer fs-4">
                                        <button type="button" onclick="closeAlert(event)" data-close-button class="btn btn-primary">@localizer["Ok"]</button>
                                    </div>
                                </div>
                                <div onclick="closeOverlay(event)" id="overlay"></div>
                            </div>
                            `;
                        button.insertAdjacentHTML("afterend", myAlert.innerHTML);
                        openAlert(e);
                    }
                    else if (result == 3)
                        openModalListener(e);
                }
            });
        }

        function getPermissionsInStock() {
            // let permission = e.target;
            let permission = document.getElementById("permissions");
            let stock = document.getElementById("stocks");
            if (!stock.value) {
                stock.focus();
                return;
            }
            if (!permission.value)
                return;

            let transDetailsAddButton = document.querySelector(".details-table-head a");
            transDetailsAddButton.removeAttribute("href");

            let userPermissions = document.querySelector("#myTable tbody");
            userPermissions.innerHTML = "";  // Empty the table

            var transDetails = document.querySelector("#myTable_2 tbody");
            transDetails.innerHTML = "";  // Empty the table

            let spinner = userPermissions.parentElement.parentElement.querySelector(".spinner-container");
            spinner.classList.remove("d-none");

            $.ajax({
                url: `/Stocks/PermissionForm/GetPermissionsForms/${stock.value}?transType=${permission.value}`,
                success: function (result) {
                    spinner.classList.add("d-none");
                    for (let item of result) {
                        let userPerm = document.createElement("tr");
                        
                        let docDate = formatDate(item.docDate);
                        let supInvDate = formatDate(item.supInvDate);
                        let actions;
                        switch (item.transType) {
                            case 4:
                            case 13:
                                actions = ["Edit_DisburseOrConvertForm"];
                                break;
                            case 12:
                                actions = ["Edit_SalesInvoice"];
                                break;
                            case 24:
                            case 26:
                                actions = ["Edit_Settlement"];
                                break;
                            case 5:
                                actions = ["Edit_ReqDisburse"];
                                break;
                            case 30:
                                actions = ["Edit_ReturnPermission"];
                                break;
                            default:
                                actions = ["Edit_PermissionForm"];
                                break;
                        };

                        let editButton = item.transType == 23 ?
                            "" : `<a href="/Stocks/PermissionForm/${actions[0]}/${item.transMAsterID}" class="btn btn-sm btn-success mb-1 fs-6" style="width: 60px">@localizer["Edit"]</a>`;

                        let deleteButton = item.transType == 23 ?
                            "" : 
                            `
                            <form action="/Stocks/PermissionForm/Delete_PermissionForm" method="post" class="d-inline">
                                    @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="${item.transMAsterID}" />
                                        <button type="button" onclick="deleteTransMaster(event, ${item.transMAsterID})" class="btn btn-sm btn-danger mb-1  fs-6" data-modal-target style="width: 60px">@localizer["Delete"]</button>
                                <div class="modal-container">
                                    <div class="modal 4" id="modal">
                                        <div class="modal-header fs-4">
                                            <div class="title">@localizer["Confirm Delete"]</div>
                                            <button type="button" onclick="closeModelListener(event)" data-close-button class="close-button">&times;</button>
                                        </div>
                                        <div class="modal-body fs-4">
                                            @localizer["Are you sure you want to delete this item ?"]
                                        </div>
                                        <div class="modal-footer fs-4">
                                            <button type="button" onclick="closeModelListener(event)" data-close-button class="btn btn-secondary">@localizer["No"]</button>
                                            <button class="btn btn-danger">@localizer["Yes"]</button>
                                        </div>
                                    </div>
                                    <div onclick="overlayListener(event)" id="overlay"></div>
                                </div>
                            </form>
                            `;
                        
                        userPerm.innerHTML =
                            `
                            <td class="align-middle text-center">${item.docNo}</td>
                            <td class="align-middle text-center">${docDate}</td>
                            <td class="align-middle text-center">${item.stockName}</td>
                            <td class="align-middle text-center">${item.supplierName}</td>
                            <td class="align-middle text-center">${item.accTransNo}</td>
                            <td class="align-middle text-center">${item.supInvNo}</td>
                            <td class="align-middle text-center">${item.docNoFr}</td>
                            <td class="align-middle text-center">${item.stockName2}</td>
                            <td class="align-middle text-center">${supInvDate}</td>
                            <td class="text-center align-middle" style="width: 325px;">
                                <a onclick="approvePermission(event, ${item.transMAsterID})" class="btn btn-sm btn-primary mb-1 fs-6" style="width: 60px">@localizer["Approve"]</a>
                                ${editButton}
                                ${deleteButton}
                            </td>
                            `;
                        userPerm.style.cursor = "pointer";
                        userPerm.onclick = function (event) {
                            GetPermissionDetails(event, item.transMAsterID, item.showTransPrice);
                        }
                        userPermissions.appendChild(userPerm);
                    }
                }
            });
        }

        // Displaying Permission Details
        function GetPermissionDetails(e, transMAsterID, showTransPrice) {
            var transDetails = document.querySelector("#myTable_2 tbody");

            // Handle active clic
            let allItemRows = e.target.parentElement.parentElement.querySelectorAll("tr");;

            allItemRows.forEach(row => {
                row.classList.remove("active-row");
            });

            let clickedTarget = e.target.parentElement
            clickedTarget.classList.add("active-row");
            ///////////////////////////////////////////////////////////////////

            // Catch header for transDetails
            let transDetailsHead = document.querySelector(".details-table-head");
            let transDetailsHeader = transDetailsHead.querySelector(".header"); // Display Header for details
            transDetailsHeader.innerHTML = "@localizer["The Items"]";

            let transDetailsAddButton = transDetailsHead.querySelector("a");
            if(showTransPrice)
                transDetailsAddButton.setAttribute("href", `/Stocks/PermissionFormDetails/Add_TransDetailWithPrice/${transMAsterID}`);
            else
                transDetailsAddButton.setAttribute("href", `/Stocks/PermissionFormDetails/Add_TransDetail/${transMAsterID}`);
            ///////////////////////////////////////////////////////////////////

            // Handle ajax call
            transDetails.innerHTML = "";  // Empty the body

            let spinner = transDetails.parentElement.parentElement.querySelector(".spinner-container");
            spinner.classList.remove("d-none");

            $.ajax({
                url: `/Stocks/PermissionFormDetails/GetPermissionDetails/${transMAsterID}`,
                success: function (result) {
                    spinner.classList.add("d-none");
                    if (result[0].transType == 23)
                        transDetailsAddButton.removeAttribute("href");

                    let totalValue = 0, totalQuantity = 0, totalTax = 0;
                    for (let item of result) {
                        const transDtl = document.createElement("tr");

                        let itmBarcode = item.itmBarcode ? item.itmBarcode : "";
                        let itmHaveTax = item.itmHaveTax == 1 ? `<i class="fa-solid fa-check"></i>` : "";
                        let expireDate = item.expireDate ? formatDate(item.expireDate) : "";
                        let editAction = showTransPrice ? "Edit_TransDetailWithPrice" : "Edit_TransDetail";

                        let editButton = item.transType == 23 ?
                            "" : `<a href="/Stocks/PermissionFormDetails/${editAction}/${item.transDtlId}" class="btn btn-sm btn-success mb-1 fs-6" style="width: 150px">@localizer["Edit"]</a>`;

                        let deleteButton = item.transType == 30 || item.transType == 23 ? "" :
                            `
                            <form action="/Stocks/PermissionFormDetails/Delete_TransDetail" method="post" class="d-inline">
                                    @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="${item.transDtlId}" />
                                <button type="button" onclick="openModalListener(event)" class="btn btn-sm btn-danger mb-1  fs-6" data-modal-target style="width: 150px">@localizer["Delete"]</button>
                                <div class="modal-container">
                                    <div class="modal 4" id="modal">
                                        <div class="modal-header fs-4">
                                            <div class="title">@localizer["Confirm Delete"]</div>
                                            <button type="button" onclick="closeModelListener(event)" data-close-button class="close-button">&times;</button>
                                        </div>
                                        <div class="modal-body fs-4">
                                            @localizer["Are you sure you want to delete this item ?"]
                                        </div>
                                        <div class="modal-footer fs-4">
                                            <button type="button" onclick="closeModelListener(event)" data-close-button class="btn btn-secondary">@localizer["No"]</button>
                                            <button class="btn btn-danger">@localizer["Yes"]</button>
                                        </div>
                                    </div>
                                    <div onclick="overlayListener(event)" id="overlay"></div>
                                </div>
                            </form>
                            `;

                        transDtl.innerHTML +=
                            `
                            <td class="align-middle text-center">${item.serial}</td>
                            <td class="align-middle text-center">${item.itemMasterName}</td>
                            <td class="align-middle text-center">${itmBarcode}</td>
                            <td class="align-middle text-center">${item.unitQty}</td>
                            <td class="align-middle text-center">${item.unitCodeName}</td>
                            <td class="align-middle text-center">${item.price}</td>
                            <td class="align-middle text-center">${itmHaveTax}</td>
                            <td class="align-middle text-center">${item.taxVal}</td>
                            <td class="align-middle text-center">${item.itemVal}</td>
                            <td class="align-middle text-center">${expireDate}</td>
                            <td class="text-center align-middle" style="width: 325px;">
                                ${editButton}
                                ${deleteButton}
                            </td>
                            `;
                        totalQuantity += item.unitQty;
                        totalTax += item.taxVal;
                        totalValue += item.itemVal;
                        transDetails.appendChild(transDtl);
                    }
                    if (result.length) {
                        const totalRow = document.createElement("tr");
                        totalRow.className = "text-center align-middle fw-bold fs-5";
                        totalRow.innerHTML =
                            `
                            <td colspan="3">@localizer["The Total"]</td>
                            <td style="background-color: #e6dfdf;">${totalQuantity}</td>
                            <td colspan="3"></td>
                            <td style="background-color: #e6dfdf;">${totalTax}</td>
                            <td style="background-color: #e6dfdf;">${totalValue}</td>
                            <td></td>
                            <td></td>
                            `;
                        transDetails.appendChild(totalRow);
                    }
                }
            });
        }
    </script>
}
