@model DoctorPrecentEditAddDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit Doctor Precentage";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList subList = new SelectList(Model.subClinics, "SClinicId", "SClinicDesc");
    SelectList serveList = new SelectList(Model.services, "ServId", "ServDesc");



}
@inject IViewLocalizer localizer
<style>
    .image {
        top: 0px;
        left: 0px;
        width: 100%;
        min-height: calc(100vh - 60px);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        z-index: -1;
    }
</style>
<div class="container pt-2">
    <img class="image" src="/background.jpg" style="position:absolute;" />

    <h1 class="mt-4">@localizer["Edit Precentage"] : </h1>
    <form method="post" asp-action="Edit_DoctorPerc" id="myForm">
        <div class="border p-3 mt-4">

            <div asp-validation-summary="ModelOnly"></div>
            @* hidden *@
            <input asp-for="DrPercent" type="hidden" />
            <input asp-for="DrCode" type="hidden" />
            <input asp-for="MainCode" type="hidden" />


            <div class="parent d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="mb-3 ">
                    <label asp-for="SubCode"></label>
                    <select asp-for="SubCode" asp-items="subList" class="form-control text-center" onchange="GetServeClinics()">
                        <option value="">-- Choose --</option>
                    </select>
                    <span asp-validation-for="SubCode" class="text-danger"></span>
                </div>
                <div class="mb-3 ">
                    <label asp-for="SubDetailCodeL1"></label>
                    <select asp-for="SubDetailCodeL1" asp-items="serveList" class="form-control text-center">
                        <option value="">-- Choose --</option>
                    </select>
                    <span asp-validation-for="SubDetailCodeL1" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->
            <div class="parent d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="mb-3 ">
                    <label asp-for="ValueService"></label>
                    <input asp-for="ValueService" type="number" class="form-control" />
                    <span asp-validation-for="ValueService" class="text-danger"></span>
                </div>
                <div class="mb-3 ">
                    <label asp-for="DrValFlg"></label>
                    <select asp-for="DrValFlg" class="form-control text-center" onchange="ValueOrRatio(event)">
                        <option value="1">@localizer["Ratio"]</option>
                        <option value="2">@localizer["Value"]</option>
                    </select>
                    <span asp-validation-for="DrValFlg" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->
            <h5 class="text-center">@localizer["Special Cases"]</h5>
            <div class="parent d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">  
                <div class="mb-3" id="valuee">
                    <label asp-for="DrVal" ></label>
                    <input asp-for="DrVal" type="number" class="form-control />
                    <span asp-validation-for="DrVal" class="text-danger"></span>
                </div>
                <div class="mb-3" id="percentagee">
                    <label asp-for="DrPerc"></label>
                    <input asp-for="DrPerc" type="number" class="form-control" />
                    <span asp-validation-for="DrPerc" class="text-danger"></span>
                </div>
            </div>
            <!------------------------------------------------------------------------------->
            <h5 class="text-center">@localizer["Contract Cases"]</h5>
            <div class="parent d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                
                <div class="mb-3" id="valueeContract">
                    <label asp-for="DrValContract" ></label>
                    <input asp-for="DrValContract" type="number" class="form-control" />
                    <span asp-validation-for="DrValContract" class="text-danger"></span>
                </div>
                <div class="mb-3" id="percentageeContract">
                    <label asp-for="DrPercContract"></label>
                    <input asp-for="DrPercContract" type="number" class="form-control" />
                    <span asp-validation-for="DrPercContract" class="text-danger"></span>
                </div>
            </div>

          <!------------------------------------------------------------------------------->

            <button type="submit" class="btn btn-success" style="width:150px">
                @localizer["Save Changes"]
            </button>
            <a asp-controller="DoctorPercentage" asp-action="Index" class="btn btn-secondary" style="width:150px">
                @localizer["Cancel"]
            </a>
        </div>
    </form>
</div>
<script>
   
    // for serve clinic
    function GetServeClinics() {
        var subClinicId = document.getElementById("SubCode").value;

        var serveClinicId = document.getElementById("SubDetailCodeL1");
        serveClinicId.innerHTML = `<option value="">-- Choose --</option>`;

        $.ajax({
            url: `/Medical/ClinicTrans/GetServeClinic/${subClinicId}`,
            success: function (result) {
                console.log(result)
                for (let item of result) {
                    serveClinicId.innerHTML +=
                      `<option value="${item.servId}">${item.servDesc}</option>`;
                }
            }
        });
    }

    function ValueOrRatio(e)
    {
        var value = e.target.value;
        console.log(value)
        var percentage = document.getElementById('percentagee')
        var valuee = document.getElementById('valuee')
        var valueeContract = document.getElementById('valueeContract');
        var percentageeContract = document.getElementById('percentageeContract');

        if (value == 2 || @Model.DrValFlg ==2)
        {
            percentage.style.display = "none";
            percentageeContract.style.display = "none";
            valuee.style.display = "block";
            valueeContract.style.display = "block";
        }
        else if (value == 1 || @Model.DrValFlg == 1) {
            valuee.style.display = "none";
            valueeContract.style.display = "none";
            percentage.style.display = "block";
            percentageeContract.style.display = "block";

        }
    }
    function ValueOrRati()
    {
        var percentage = document.getElementById('percentagee')
        var valuee = document.getElementById('valuee')
        var valueeContract = document.getElementById('valueeContract');
        var percentageeContract = document.getElementById('percentageeContract');

        if (@Model.DrValFlg == 2) {
            percentage.style.display = "none";
            percentageeContract.style.display = "none";
            valuee.style.display = "block";
            valueeContract.style.display = "block";
        }
        else if (@Model.DrValFlg == 1) {
            valuee.style.display = "none";
            valueeContract.style.display = "none";
            percentage.style.display = "block";
            percentageeContract.style.display = "block";
        }
    }
    //when page load
    ValueOrRati();
</script>