@model List<DoctorPrecentViewDTO>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Doctors Percentage";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList drList = new SelectList(ViewBag.doctors, "DrId", "DrDesc");

}
@inject IViewLocalizer localizer
<style>
    .active-row {
        background-color: #cdcdcd;
    }

    .image {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        z-index: -1;
    }
</style>

<div class="container pt-2" style=" min-height:100vh;">
    <img class="image" src="/background.jpg" style="position:absolute;" />

    <div class="d-flex justify-content-between align-items-center mt-4 ">    
      <h1 class="header d-block">@localizer["Doctors"]</h1>
        <div class="w-25">
            <input type="text" class="form-control" id="searchInput" placeholder="@localizer["Search by Service Name..."]">
        </div>
        <select asp-items="drList" class="form-control text-center w-50" onchange="GetDoctorID(event)">
            <option value="">-- Choose --</option>
        </select>
        @ViewBag.hellow
    </div>


    @* Table for Doctor Prenstage *@

    <div class="doctorPer-table-head d-flex justify-content-between align-items-center mt-4">
        <h2 class="header doctorPer">@localizer["Doctors Percentages"] :</h2>

        @* <a class="btn btn-sm btn-primary fs-6" style="width:150px">
            @localizer["Add Specialty"]
        </a> *@
        @* asp-controller="MedAnalysis" asp-action="Add_SubItemAnalysis" asp-route-ID="@ViewBag.item.MainCode" asp-route-itemAnalCode="" *@
    </div>

    <div class="border border-success p-0 mb-2 border-opacity-75 overflow-auto" style="max-height: 300px;">

        <table id="myTable" class="table table-bordered table-hover doctorPer-table" style="width:100%">
            <thead class="table-dark">
                <tr>
                    <th class="align-middle text-center" rowspan="2">
                        @localizer["Specialty"]
                    </th>
                    <th class="align-middle text-center" rowspan="2">
                        @localizer["Service"]
                    </th>
                    <th class="align-middle text-center" rowspan="2">
                        @localizer["Value OR Ratio"]
                    </th>
                    <th class="align-middle text-center" rowspan="2">
                        @localizer["Service Value"]
                    </th>
                    <th class="align-middle text-center" colspan="3">@localizer["Special Cases"]</th>
                    <th class="align-middle text-center" colspan="3">@localizer["Contract Cases"]</th>
                    <th class="align-middle text-center" rowspan="2">
                        @localizer["Action"]
                    </th>
                </tr>
                <tr>
                   
                    <th class="align-middle">
                        @localizer["Dr Value"]
                    </th>
                    <th class="align-middle">
                        @localizer["Dr Ratio"]
                    </th>
                    <th class="align-middle">
                        @localizer["Center Value"]
                    </th> 
                    <th class="align-middle">
                        @localizer["Dr Value"]
                    </th>
                    <th class="align-middle">
                        @localizer["Dr Ratio"]
                    </th>
                    <th class="align-middle">
                        @localizer["Center Value"]
                    </th>

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    @* /////////////////////////////////////////////////////////////////// *@
</div>
<script>
    @* search *@
        document.getElementById('searchInput').addEventListener('input', function () {
            filterTable();
        });

    function filterTable() {
        var input = document.getElementById('searchInput');
        var filter = input.value.toUpperCase();
        var table = document.getElementById('myTable');
        var rows = table.getElementsByTagName('tr');

        for (var i = 1; i < rows.length; i++) { // Start from 1 to skip the header row
            var cells = rows[i].getElementsByTagName('td');
            var found = false;

            for (var j = 0; j < cells.length; j++) {
                var cell = cells[j];
                if (cell) {
                    var textValue = cell.textContent || cell.innerText;
                    if (textValue.toUpperCase().indexOf(filter) > -1) {
                        found = true;
                        break;
                    }
                }
            }

            if (found) {
                rows[i].style.display = '';
            } else {
                rows[i].style.display = 'none';
            }
        }
    }

    @* Ajax for Doctor Prenstage *@
       function GetDoctorID(e) {
           const id = e.target.value;
           const drName = e.target[e.target.value].textContent;
           console.log(e.target.value);

            var doctorPresentages = document.querySelector(".doctorPer-table tbody");

            // Handle active clic
            let allItemRows = e.target.parentElement.parentElement.querySelectorAll("tr");;

            // allItemRows.forEach(row => {
            //     row.classList.remove("active-row");
            // });

            // let clickedTarget = e.target.parentElement
            // clickedTarget.classList.add("active-row");
            ///////////////////////////////////////////////////////////////////

            // Catch header for ClinicTrans => PatAdmissionID and reset it
            let doctorPresentagesHead = document.querySelector(".doctorPer-table-head");

           //let itemId = id;// clickedTarget.querySelector(".item-id").innerText;

            let doctorPresentagesHeader = doctorPresentagesHead.querySelector(".header.doctorPer"); // Display Header for sub items
            doctorPresentagesHeader.innerHTML = "@localizer["Doctors Percentages"] : " + drName + " : "+id;

         //   let doctorPresentagesAddButton = doctorPresentagesHead.querySelector("a");
         //   doctorPresentagesAddButton.setAttribute("href", `/Medical/DoctorPersentage/Add_ClinicTrans/${id}?redirect=Requirements&flag=2`);
            // console.log(clinicTransAddButton);
            ///////////////////////////////////////////////////////////////////

            // Handle ajax call
            doctorPresentages.innerHTML = "";  // Empty the body

            $.ajax({
                url: `/Medical/DoctorPercentage/GetDoctorPresentages/${id}`,
                success: function (result) {
                   // console.log(result);
                    // console.log(result.sort((a, b) => b.itemanalcode - a.itemanalcode));
                    //sortng
                   // result.sort((a, b) => b.counter - a.counter)

                    for (let item of result) {
                        const doctorPresentage = document.createElement("tr");
                         let valOrRatio;
                            if (item.drValFlg == 1) {
                                valOrRatio = "@localizer["Ratio"]";
                            } else if (item.drValFlg == 2) {
                                valOrRatio = "@localizer["Value"]";
                            }
                         let centerValue;
                            if (item.drPerc == 0) {
                                centerValue = item.valueService - item.drVal;
                            } else if (item.drVal == 0) {
                            centerValue = item.valueService - (item.valueService * (item.drPerc / 100));
                            }

                         let centerValueContract;
                            if (item.drPercContract == 0) {
                            centerValueContract = item.valueService - item.drValContract;
                            } else if (item.drValContract == 0) {
                            centerValueContract = item.valueService - (item.valueService * (item.drPercContract / 100));
                            }


                        doctorPresentage.innerHTML +=
                            `
                                    <td class="align-middle">${item.sClinicDesc}</td>
                                    <td class="align-middle">${item.servDesc}</td>
                                    <td class="align-middle">${valOrRatio}</td>
                                    <td class="align-middle">${item.valueService} @localizer["L.E"]</td>
                                    <td class="align-middle">${item.drVal} @localizer["L.E"]</td>
                                    <td class="align-middle">${item.drPerc} % </td>
                                    <td class="align-middle">${centerValue} @localizer["L.E"]</td>
                                    <td class="align-middle">${item.drValContract} @localizer["L.E"]</td>
                                    <td class="align-middle">${item.drPercContract} % </td>
                                    <td class="align-middle">${centerValueContract} @localizer["L.E"]</td>

                                <td width="30%" class="text-center">
                                        <a href="/Medical/DoctorPercentage/Edit_DoctorPerc/${item.drPercent}" class="btn btn-sm btn-success mb-1  fs-6" style="width:150px">
                                            <i class="bi bi-pencil"></i> @localizer["Edit"]
                                    </a>
                            <form action="/Medical/DoctorPercentage/Delete_DoctorPerc" method="post" class="d-inline">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="${item.drPercent}" />
                                 <button type="submit" class="btn btn-sm btn-danger mb-1  fs-6" onclick="return confirm('Are you sure you want to delete this item ?');" style="width:150px">@localizer["Delete"]</button>
                                    </form>
                                </td>
                                                `;
                        doctorPresentages.appendChild(doctorPresentage);
                    }
                }
            });
        }
</script>
