@*
    Created By Ayman Saad
    Date : 7/9/2024
*@

@model UserSideEditAddDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Add User For Side";
    Layout = "_Layout";
}
@inject IViewLocalizer localizer
<div class="container pt-5 pb-5">
    <h2>@localizer["Add User For Side"] : @ViewBag.SideName</h2>


    <form asp-controller="UserSide" asp-action="Add_UserSide" method="post">

        <div class="row border border-1 my-5 p-3">

            <input type="hidden" asp-for="BranchId" />
            <input type="hidden" asp-for="SideId" />
            <div class="form-group mb-3 col-md-3">
                <label asp-for="UserId" class="form-label mt-4"></label>
                <select class="form-select" asp-for="UserId" asp-items="Model.Users">
                    <option class="text-center">@localizer["Choosee"]</option>
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 col-md-3">
                <label asp-for="UserGroupId" class="form-label mt-4"></label>
                <select class="form-select " asp-for="UserGroupId" asp-items="Model.UserGroups">
                    <option class="text-center">@localizer["Choosee"]</option>
                </select>
                <span asp-validation-for="UserGroupId" class="text-danger"></span>

            </div>

            <div class="form-group mb-3 col-md-3">
                <label asp-for="RegionId" class="form-label mt-4"></label>
                <select class="form-select" asp-for="RegionId" asp-items="Model.Regions">
                    <option class="text-center">@localizer["Choosee"]</option>
                </select>
                <span asp-validation-for="RegionId" class="text-danger"></span>

            </div>

            <div class="form-group mb-3 col-md-3">
                <label asp-for="EisSectionTypeId" class="form-label mt-4"></label>
                <select class="form-select" asp-for="EisSectionTypeId" asp-items="Model.EisSectionTypes">
                    <option class="text-center">@localizer["Choosee"]</option>
                </select>
                <span asp-validation-for="EisSectionTypeId" class="text-danger"></span>

            </div>

            <div class="form-group mb-3 col-md-3">
                <label asp-for="Flag" class="form-label mt-4"></label>
                <select class="form-select" asp-for="Flag">
                    <option value="" class="text-center">@localizer["Choosee"]</option>
                    <option value="1">استقبال القسطرة</option>
                    <option value="2">استقبال المستشفى</option>
                </select>
                <span asp-validation-for="Flag" class="text-danger"></span>

            </div>
        </div>
        <button type="submit" class="btn btn-primary ">@localizer["Add"]</button>

        <a asp-action="Index" class="btn btn-secondary">
            @localizer["Cancel"]
        </a>


    </form>
</div>