@using FastReport.Web
@using ProSoft.EF.DTOs.Medical.HospitalPatData.Reports
@using ProSoft.UI.Global

@model ReceiptInquiryRequestDTO
@inject IViewLocalizer localizer

@{

    ViewData["Title"] = "Recepit Inquiry";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebReport? webReport = ViewBag.WebReport;

}

<div class="container pt-2 ">
    <h3 class="text-center mt-4">@localizer["ReceiptInquiry"]</h3>

    <div class="row mt-4">
        <form method="post" asp-action="Index" class="col-12 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="row g-3 row-cols-lg-auto align-items-center">

                        <div class="col-6">
                            <label class="col-form-label">رقم الايصال</label>
                        </div>
                        <div class="col-6">
                            <input type="number" asp-for="ExInvoiceNo" class="form-control" />
                        </div>
                        <div class="col-6">
                            <label class="form-label">سنة الايصال :</label>
                        </div>
                        <div class="col-6">
                            <input type="number" class="form-control text-center no-arrows" value="@ViewBag.FYear" disabled />
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary">@localizer["Inquiry"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>@if (webReport != null)
                    {
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table id="ReceiptTable" class="table table-hover table-bordered display">
                        <thead>
                            <tr>
                                <th class="text-center">@localizer["#"]</th>
                                <th class="text-center">@localizer["Receipt"]</th>
                                <th class="text-center">@localizer["Date"]</th>
                                <th class="text-center">@localizer["Time"]</th>
                                <th class="text-center">@localizer["PatientCode"]</th>
                                <th class="text-center">@localizer["PatientName"]</th>
                                <th class="text-center">@localizer["Side"]</th>
                                <th class="text-center">@localizer["Clinic Service"]</th>
                                <th class="text-center">@localizer["Data Entry"]</th>
                                <th class="text-center">@localizer["Data Editor"]</th>
                                <th class="text-center">@localizer["ReceiptStatus"]</th>
                            </tr>
                        </thead>

                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var DegreeTable = new DataTable("#ReceiptTable", {
                scroller: true,
                searching: true,
                paging: false,
                select: {
                    style: 'os',
                    toggleable: false
                },
                layout: {
                    topEnd: {
                        search: {
                            text: '_INPUT_',
                            placeholder: '@localizer["Search"]'
                        }
                    }
                },
                language: {
                    emptyTable: "@localizer["NoReceipts"]"
                },
        @* columns: [
                    {
                        data: 'degreeOnOff',

                    },
                    { data: 'id', searchable: true, className: 'text-center' },
                    { data: 'degreeName', searchable: true },
                    {
                        className: 'text-center',
                        render: function (data, type, row) {
                            const editBtn = `<a href="/Medical/DegreeAndRoomAndBed/EditDegree/${row.id}" class="btn btn-warning me-1">@Html.Raw(GlobalConstants.EditIcon)</a>`;
                            const deleteBtn = `
                                            <form action="/Medical/DegreeAndRoomAndBed/DeleteDegree/${row.id}" method="POST" style="display: inline;">
                                                <button type="submit" class="btn btn-danger me-1">@Html.Raw(GlobalConstants.DeleteIcon)</button>
                                            </form>`;
                            return `${editBtn}${deleteBtn}`;
                        }
                    },
                ], *@
        @* ajax: {
                    url: `/Medical/DegreeAndRoomAndBed/GetDegrees`,
                    type: "GET"
                }, *@

                            });
                        });
    </script>
}
