@using ProSoft.UI.Global
@model List<CheckupClinicDTO>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Types of examinations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject IViewLocalizer localizer
@* <style>
    .image {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        z-index: -1;
    }
</style> *@
<div class="container pt-2 " style="min-height:90vh;">
    @* <img class="image" src="/background.jpg" style="position:absolute;" /> *@

    <div class="d-flex justify-content-between align-items-center mt-4">
        <h1 class="header">@localizer["Types of Examinations"]</h1>
        <a asp-controller="CheckupClinic" asp-action="Add_checkupClinic" class="btn btn-sm btn-primary fs-6" >
            @Html.Raw(GlobalConstants.InsertIcon) @localizer["Add"]
        </a>
    </div>
    <div class="overflow-auto" style="max-height:calc(100vh - 145px)">
        <table id="myTable" class="table table-bordered table-hover" style="width:100%">
            <thead class="table-dark">
                <tr>
                    <th>
                        @localizer["Code"]
                    </th>
                    <th>
                        @localizer["Examination Name"]
                    </th>
                    <th>
                        @localizer["Note"]
                    </th>
                    <th>

                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var acc in Model)
                {
                    <tr class="align-middle">
                        <td>
                            @acc.CheckupId
                        </td>
                        <td>
                            @acc.CheckupDesc
                        </td>
                        <td>
                            @acc.CheckupDesc2
                        </td>
                        <td  class="text-center">

                            <a asp-controller="CheckupClinic" asp-action="Edit_checkupClinic" asp-route-ID="@acc.CheckupId" class="btn btn-sm btn-warning mb-1 fs-6" >
                                @Html.Raw(GlobalConstants.EditIcon)
                            </a>

                            <form asp-controller="CheckupClinic" asp-action="Delete_checkupClinic" asp-route-ID="@acc.CheckupId" method="post" class="d-inline">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-sm btn-danger mb-1  fs-6" onclick="return confirm('Are you sure you want to delete this item ?');">@Html.Raw(GlobalConstants.DeleteIcon)</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



