@model ReportCashAndChecksDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Follow up cash and checks";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");

    SelectList branches = new SelectList(Model.branchDTOs, "BranchId", "BranchDesc");
    SelectList users = new SelectList(Model.userDTOs, "UserCode", "UserName");

}
@inject IViewLocalizer localizer
 <style>
    .hide {
        display: none !important;
    }
   /*  .image {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        z-index: -1;
    } */
</style>
<div class="container pt-2 " style="min-height:100vh;">
    @* <img class="image" src="/background.jpg" style="position:absolute;" /> *@

    <div class="d-flex justify-content-between align-items-center flex-column flex-md-row mt-4">
        <h1 class="header">@localizer["Follow up cash and checks"]</h1>
        <div class="d-flex gap-2">
            <a class="btn btn-sm btn-primary fs-6" style="width:120px" onclick="CashTreasury(event)">
                @localizer["Cash in Treasury"]
            </a>
            <a class="btn btn-sm btn-primary fs-6" style="width:120px" onclick="IncomingChecks(event)">
                @localizer["Incoming Checks"]
            </a>
            <a class="btn btn-sm btn-primary fs-6" style="width:120px" onclick="FollowChecks(event)">
                @localizer["Follow up Checks"]
            </a>
        </div>
    </div>
    <div class="overflow-auto"> @* style="max-height:calc(100vh - 145px)" *@
        <div class=" d-flex justify-content-between align-items-center flex-column flex-md-row gap-3 px-1 my-2">
            <div class="d-flex align-items-center flex-column flex-md-row w-100">
                <label for="branches" class="@(isRTL ? "ms-3" : "me-3") mb-1 mb-md-0">@localizer["Branches"]</label>
                <select id="branches" asp-items="branches" class="form-control text-center w-100">
                    <option value="100">-- @localizer["All"] --</option>
                </select>
            </div>
            <div class="d-flex align-items-center flex-column flex-md-row w-100">
                <label for="safeName" class="@(isRTL ? "ms-3" : "me-3") mb-1 mb-md-0">@localizer["Treasury"]</label>
                <input id="safeName" value="@Model.SafeNames" disabled class="form-control text-center w-100" />
                <input id="safeCode" value="@Model.SafeCode" hidden disabled />
            </div>
            <div class="d-flex align-items-center flex-column flex-md-row w-100">
                <label for="users" class="@(isRTL ? "ms-3" : "me-3") mb-1 mb-md-0">@localizer["Users"]</label>
                <select id="users" asp-items="users" class="form-control text-center w-100">
                    <option value="100">-- @localizer["All"] --</option>
                </select>
            </div>
            <div class="d-flex align-items-center flex-column flex-md-row w-100">
                <label for="treasuryOrBills" class="@(isRTL ? "ms-3" : "me-3") mb-1 mb-md-0 text-center" style="width:87% !important;">@localizer["Treasury or Bills"]</label>
                <select id="treasuryOrBills" class="form-control text-center w-100">
                    <option value="100">-- @localizer["All"] --</option>
                    <option value="1">@localizer["Treasury Only"]</option>
                    <option value="2">@localizer["Bills Only"]</option>
                </select>
            </div>
        </div>
       
        <!---------------------------------------------------------->

        <div class="filter-box d-flex align-items-center flex-column flex-md-row gap-3 my-2">
            <div class="d-flex align-items-center flex-column flex-md-row w-100" style="width:40% !important;">
                <label for="filter" class="@(isRTL ? "ms-3" : "me-3") mb-1 mb-md-0" style="width:60% !important;">@localizer["Filter By"]</label>
                <select id="filter" class="form-control text-center" onchange="filtering(event)">
                    <option value="1">@localizer["Period"]</option>
                    <option value="2">@localizer["Receipt"]</option>
                </select>
            </div>

            <div class="d-flex justify-content-end align-items-center flex-column flex-md-row gap-2 receipt-hide hide" style="width:70% !important;">
                <div class="d-flex align-items-center w-100">
                    <label style="width:60% !important;">@localizer["From Receipt No"]</label>
                    <input id="fromReceipt" type="number" class="form-control text-center" />
                </div>
                <div class="d-flex align-items-center w-100">
                    <label style="width:60% !important;">@localizer["To Receipt No"]</label>
                    <input id="toReceipt" type="number" class="form-control text-center" />
                </div>
            </div>

            <div class="d-flex justify-content-end align-items-center flex-column flex-md-row gap-2 period" style="width:70% !important;">
                <div class="d-flex align-items-center w-100">
                    <label style="width:60% !important;">@localizer["From Period"]</label>
                    <input id="fromPeriod" type="date" class="form-control text-center" />
                </div>
                <div class="d-flex align-items-center w-100">
                    <label style="width:60% !important;">@localizer["To Period"]</label>
                    <input id="toPeriod" type="date" class="form-control text-center" />
                </div>
            </div>

        </div>
       
        <!---------------------------------------------------------->

        <div class="report">


        </div>

    </div>
</div>
<script>
    ////for variables /////
    var filter = document.getElementById("filter")
    var users = document.getElementById("users");
    var safeCode = document.getElementById("safeCode")
    var branche = document.getElementById("branches");
    var treasuryOrBills = document.getElementById("treasuryOrBills");
    var fromPeriod = document.getElementById("fromPeriod");
    var toPeriod = document.getElementById("toPeriod");
    var fromReceipt = document.getElementById("fromReceipt");
    var toReceipt = document.getElementById("toReceipt");

    //for repotrt Cash Treasury//
    function CashTreasury(e) {

        if (!branche.value) {
            branche.focus();
            return;
        }
        // if (!users.value) {
        //     users.focus();
        //     return;
        // }
        if (filter.value == 1) {
            if (!fromPeriod.value) {
                fromPeriod.focus();
                return;
            }
            if (!toPeriod.value) {
                toPeriod.focus();
                return;
            }
        }
        else if (filter.value == 2) {
            if (!fromReceipt.value) {
                fromReceipt.focus();
                return;
            }
            if (!toReceipt.value) {
                toReceipt.focus();
                return;
            }
        }
        var headReport = document.querySelector(".report");

        let title;
        if (filter.value == 1) {
            title = "@localizer["Treasury Transaction During Period from"] " + fromPeriod.value + " @localizer["To"] " + toPeriod.value;
        } else if (filter.value == 2) {
            title = "@localizer["Treasury Transaction For Receipt from"] " + fromReceipt.value + " @localizer["To"] " + toReceipt.value;
        }
        headReport.innerHTML =
            `
        <div class="report-head d-flex justify-content-center align-items-center mt-4">
             <h2 class="header">${title}</h2>
                 <button onclick="printReport()" class="btn btn-success" style="margin-inline-start: auto;">Print</button>
        </div>

        <div class="print-table p-0 mb-2 overflow-auto">

            <table id="myTable" class="table table-bordered table-hover cash-table" style="width:100%">
                <thead class="table-dark">
                    <tr>
                        <th class="align-middle text-center" rowspan="2">
                            @localizer["Code"]
                        </th>
                        <th class="align-middle text-center" rowspan="2">
                            @localizer["Expense"]
                        </th>
                        <th class="align-middle text-center" rowspan="2">
                            @localizer["Revenue"]
                        </th> 
                        <th class="align-middle text-center" rowspan="2">
                            @localizer["Permission Date"]
                        </th>
                        <th class="align-middle text-center" rowspan="2">
                            @localizer["Permission No"]
                        </th> 
                        <th class="align-middle text-center" rowspan="2">
                            @localizer["Voucher No"]
                        </th> 
                        <th class="align-middle text-center" rowspan="2">
                            @localizer["Name"]
                        </th>
                        <th class="align-middle text-center" rowspan="2">
                            @localizer["Note"]
                        </th>
                        <th class="align-middle text-center" rowspan="2">
                            @localizer["Treasury Order"]
                        </th>
                    </tr>
                   
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

            `;

        let url;
        if (filter.value == 1) {
            url = `/Treasury/ReportCashAndChecks/GetCashTreasury/${branche.value}?userCode=${users.value}&safeCode=${safeCode.value}&fromPeriod=${fromPeriod.value}&toPeriod=${toPeriod.value}&treasuryOrBills=${treasuryOrBills.value}`;
        } else if (filter.value == 2) {
            url = `/Treasury/ReportCashAndChecks/GetCashTreasury/${branche.value}?userCode=${users.value}&safeCode=${safeCode.value}&fromReceipt=${fromReceipt.value}&toReceipt=${toReceipt.value}&treasuryOrBills=${treasuryOrBills.value}`;
        }
        var dataa = document.querySelector(".cash-table tbody");
        dataa.innerHTML = "";  // Empty data
        var indexx = 1;
        $.ajax({
            url: url,
            success: function (result) {
              //  console.log(result);
                var expenseSum = 0;
                var revenueSum = 0;
                for (let item of result) {
                    let docDate = new Date(item.docDate).toISOString().split('T')[0];
                    const data = document.createElement("tr");
                    data.innerHTML += `

                            <td class="align-middle">${indexx}</td>
                            <td class="align-middle">${item.expense}</td>
                            <td class="align-middle">${item.revenue}</td>
                            <td class="align-middle">${docDate}</td>
                            <td class="align-middle">${item.docNo}</td>
                            <td class="align-middle">${item.accTransNo}</td>
                            <td class="align-middle">${item.personName}</td>
                            <td class="align-middle">${item.commentt}</td>
                            <td class="align-middle">${item.cshOrdNum}</td>
                        `;
                    expenseSum += item.expense;
                    revenueSum += item.revenue;
                    indexx++;
                    dataa.appendChild(data);
                }
                const dataForSum = document.createElement("tr");
                dataForSum.style.backgroundColor = "#e6dfdf";
                var totalBalance = revenueSum - expenseSum;
                dataForSum.innerHTML =
                    `
                     <td text-align: center;>@localizer["The Sum"]</td>
                    <td>${expenseSum}</td>
                    <td>${revenueSum}</td>
                    <td colspan="6"> @localizer["Treasury Balance"] ==>  
                        <span id="numbers">${totalBalance}</span>
                        <span id="numberToWord" class="@(isRTL ? "me-4" : "ms-4")"></span>
                    </td>

                 `;
                dataa.appendChild(dataForSum);
                //calling fun number to word
                getNumbersWord();
            }
        });
    }

    //for repotrt Incoming Checks//
    function IncomingChecks(e) {

        if (!branche.value) {
            branche.focus();
            return;
        }
        // if (!users.value) {
        //     users.focus();
        //     return;
        // }
        if (filter.value == 1) {
            if (!fromPeriod.value) {
                fromPeriod.focus();
                return;
            }
            if (!toPeriod.value) {
                toPeriod.focus();
                return;
            }
        }
        else if (filter.value == 2) {
            if (!fromReceipt.value) {
                fromReceipt.focus();
                return;
            }
            if (!toReceipt.value) {
                toReceipt.focus();
                return;
            }
        }
        var headReport = document.querySelector(".report");

        let title;
        if (filter.value == 1) {
            title = "@localizer["Checks Wallet During Period from"] " + fromPeriod.value + " @localizer["To"] " + toPeriod.value;
        } else if (filter.value == 2) {
            title = "@localizer["Checks Wallet For Receipt from"] " + fromReceipt.value + " @localizer["To"] " + toReceipt.value;
        }
        headReport.innerHTML =
            `
                <div class="report-head d-flex justify-content-center align-items-center mt-4">
                     <h2 class="header">${title}</h2>
                       <button onclick="printReport()" class="btn btn-success" style="margin-inline-start: auto;">Print</button>
                </div>

                <div class="print-table p-0 mb-2 overflow-auto">

                    <table id="myTable" class="table table-bordered table-hover cash-table" style="width:100%">
                        <thead class="table-dark">
                            <tr>
                                <th class="align-middle text-center" rowspan="2">
                                     @localizer["Receipt No"]
                                </th>
                                <th class="align-middle text-center" rowspan="2" style="width:100px;">
                                     @localizer["Receipt date"]
                                </th>
                                <th class="align-middle text-center" rowspan="2">
                                     @localizer["Check Number"]
                                </th>
                                    <th class="align-middle text-center" rowspan="2" style="width:100px;">
                                     @localizer["Due Date"]
                                </th>
                                <th class="align-middle text-center" rowspan="2">
                                     @localizer["Currency"]
                                </th>
                                    <th class="align-middle text-center" rowspan="2">
                                    @localizer["Check Value"]
                                </th>
                                <th class="align-middle text-center" rowspan="2">
                                    @localizer["Check Status"]
                                </th>
                                <th class="align-middle text-center" rowspan="2">
                                    @localizer["Status Date"]
                                </th>
                                 <th class="align-middle text-center" rowspan="2" style="width:200px;">
                                    @localizer["Drawee Bank"]
                                </th>
                                <th class="align-middle text-center" rowspan="2">
                                    @localizer["Depositor"]
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                    `;

        let url;
        if (filter.value == 1) {
            url = `/Treasury/ReportCashAndChecks/GetIncomingChecks/${branche.value}?userCode=${users.value}&safeCode=${safeCode.value}&fromPeriod=${fromPeriod.value}&toPeriod=${toPeriod.value}&treasuryOrBills=${treasuryOrBills.value}`;
        } else if (filter.value == 2) {
            url = `/Treasury/ReportCashAndChecks/GetIncomingChecks/${branche.value}?userCode=${users.value}&safeCode=${safeCode.value}&fromReceipt=${fromReceipt.value}&toReceipt=${toReceipt.value}&treasuryOrBills=${treasuryOrBills.value}`;
        }
        var dataa = document.querySelector(".cash-table tbody");
        dataa.innerHTML = "";  // Empty data
        $.ajax({
            url: url,
            success: function (result) {
                //  console.log(result);
                var checkValueSum = 0;
                for (let item of result) {
                    let docDate = new Date(item.docDate).toISOString().split('T')[0];
                    let sattleDate = new Date(item.sattlDate).toISOString().split('T')[0];
                    let checkDate = item.chekDate == null ? " " : new Date(item.chekDate).toISOString().split('T')[0];
                    var currencyCode = item.currencyCode == 1 ? "جنية مصري" : " ";
                    var checkStatus = item.checkStatus == 1 ? "بالخزينة" : " ";
                    const data = document.createElement("tr");
                    data.innerHTML += `

                                    <td class="align-middle">${item.docNo}</td>
                                    <td class="align-middle">${docDate}</td>
                                    <td class="align-middle">${item.chekNo}</td>
                                    <td class="align-middle">${sattleDate}</td>
                                    <td class="align-middle">${currencyCode}</td>
                                    <td class="align-middle">${item.checkValue}</td>
                                    <td class="align-middle">${checkStatus}</td>
                                    <td class="align-middle">${checkDate}</td>
                                    <td class="align-middle">${item.personName}</td>
                                    <td class="align-middle">${item.accName}</td>
                                    `;
                    checkValueSum += item.checkValue;
                    dataa.appendChild(data);
                }
                const dataForSum = document.createElement("tr");
                //    dataForSum.style.backgroundColor = "#e6dfdf";
                dataForSum.innerHTML =
                    `
                            <td colspan="5"></td>
                            <td style="background-color: #e6dfdf;">${checkValueSum}</td>
                            <td colspan="4"></td>

                         `;
                dataa.appendChild(dataForSum);

            }
        });
    }

    //for repotrt Follow Checks//
    function FollowChecks(e) {

        if (!branche.value) {
            branche.focus();
            return;
        }
        // if (!users.value) {
        //     users.focus();
        //     return;
        // }
        if (filter.value == 1) {
            if (!fromPeriod.value) {
                fromPeriod.focus();
                return;
            }
            if (!toPeriod.value) {
                toPeriod.focus();
                return;
            }
        }
        else if (filter.value == 2) {
            if (!fromReceipt.value) {
                fromReceipt.focus();
                return;
            }
            if (!toReceipt.value) {
                toReceipt.focus();
                return;
            }
        }
        var headReport = document.querySelector(".report");

        let title;
        if (filter.value == 1) {
            title = "@localizer["Checks Wallet During Period from"] " + fromPeriod.value + " @localizer["To"] " + toPeriod.value;
        } else if (filter.value == 2) {
            title = "@localizer["Checks Wallet For Receipt from"] " + fromReceipt.value + " @localizer["To"] " + toReceipt.value;
        }
        headReport.innerHTML =
            `
            <div class="report-head d-flex justify-content-center align-items-center mt-4">
                 <h2 class="header">${title}</h2>
                   <button onclick="printReport()" class="btn btn-success" style="margin-inline-start: auto;">Print</button>
            </div>

            <div class="print-table p-0 mb-2 overflow-auto">

                <table id="myTable" class="table table-bordered table-hover cash-table" style="width:100%">
                    <thead class="table-dark">
                        <tr>
                            <th class="align-middle text-center" rowspan="2">
                                 @localizer["Receipt No"]
                            </th>
                            <th class="align-middle text-center" rowspan="2">
                                 @localizer["Receipt date"]
                            </th>
                            <th class="align-middle text-center" rowspan="2">
                                 @localizer["Check Number"]
                            </th>
                            <th class="align-middle text-center" rowspan="2">
                                 @localizer["Due Date"]
                            </th>
                             <th class="align-middle text-center" colspan="2">
                                @localizer["Check Value"]
                            </th>
                            <th class="align-middle text-center" rowspan="2">
                                 @localizer["Check Status"]
                            </th>
                            <th class="align-middle text-center" rowspan="2">
                                @localizer["Status Date"]
                            </th>
                            <th class="align-middle text-center" rowspan="2">
                                @localizer["Drawee Bank"]
                            </th>
                            <th class="align-middle text-center" rowspan="2">
                                @localizer["Note"]
                            </th>
                        </tr>
                              <tr>
                                <th class="align-middle text-center" >
                                      @localizer["Debit"]
                                </th>
                                <th class="align-middle text-center" >
                                      @localizer["Credit"]
                            </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

                `;

        let url;
        if (filter.value == 1) {
            url = `/Treasury/ReportCashAndChecks/GetFollowChecks/${branche.value}?userCode=${users.value}&safeCode=${safeCode.value}&fromPeriod=${fromPeriod.value}&toPeriod=${toPeriod.value}&treasuryOrBills=${treasuryOrBills.value}`;
        } else if (filter.value == 2) {
            url = `/Treasury/ReportCashAndChecks/GetFollowChecks/${branche.value}?userCode=${users.value}&safeCode=${safeCode.value}&fromReceipt=${fromReceipt.value}&toReceipt=${toReceipt.value}&treasuryOrBills=${treasuryOrBills.value}`;
        }
        var dataa = document.querySelector(".cash-table tbody");
        dataa.innerHTML = "";  // Empty data
        $.ajax({
            url: url,
            success: function (result) {
                //  console.log(result);
                var debitSum = 0;
                var creditSum = 0;
                for (let item of result) {
                    let docDate = new Date(item.docDate).toISOString().split('T')[0];
                    let sattleDate = new Date(item.sattlDate).toISOString().split('T')[0];
                    let checkDate = item.chekDate == null ? " " : new Date(item.chekDate).toISOString().split('T')[0];
                    var checkStatus = item.checkStatus == 1 ? "خزيمة المركز" : " ";
                    const data = document.createElement("tr");
                    data.innerHTML += `

                                <td class="align-middle">${item.docNo}</td>
                                <td class="align-middle">${docDate}</td>
                                <td class="align-middle">${item.chekNo}</td>
                                <td class="align-middle">${sattleDate}</td>
                                <td class="align-middle">${item.debit}</td>
                                <td class="align-middle">${item.credit}</td>
                                <td class="align-middle">${checkStatus}</td>
                                <td class="align-middle">${checkDate}</td>
                                <td class="align-middle">${item.personName}</td>
                                <td class="align-middle">${item.accName}</td>
                                `;
                    debitSum += item.debit;
                    creditSum += item.credit;
                    dataa.appendChild(data);
                }
                const dataForSum = document.createElement("tr");
            //    dataForSum.style.backgroundColor = "#e6dfdf";
                dataForSum.innerHTML =
                    `
                        <td class="align-middle" colspan="4"></td>
                        <td class="align-middle" style="background-color: #e6dfdf;">${debitSum}</td>
                            <td class="align-middle" style="background-color: #e6dfdf;">${creditSum}</td>
                        <td class="align-middle" colspan="4"></td>

                     `;
                dataa.appendChild(dataForSum);

            }
        });
    }

    function printReport() { 
        let head = document.querySelector(".report-head");
        let tableReport = document.querySelector(".print-table");
        let originalContent = document.body.innerHTML;//all body

        head.querySelector("button").style.display = "none";
        document.body.innerHTML = head.outerHTML + tableReport.outerHTML;
        window.print();
        document.body.innerHTML = originalContent;
    }


    function getNumbersWord() {
       
        let numbers = parseInt(document.getElementById("numbers").innerText);
       // console.log(numbersElement);

        $.ajax({
            url: `/Treasury/AccSafeCash/GetNumbersToWord/${numbers}`,
            success: function (result) {
                // console.log(result);
                let numberToWord = document.getElementById("numberToWord");
                numberToWord.innerText = result
            }
        });
    }

    //Filter
    function filtering(e) { 
        var filterBy = e.target.value;
       // console.log(filterBy);
        var periodElements = document.querySelectorAll(".period");
        var receiptElement = document.querySelector(".receipt-hide");

        if (filterBy == 2) {
            receiptElement.classList.remove("hide");
            periodElements.forEach(e => {
                e.classList.add("hide");
            });
        }
        else if (filterBy == 1) {
            receiptElement.classList.add("hide");
            periodElements.forEach(e => {
                e.classList.remove("hide");
            });
        }

    }
</script>