@model ReportCashAndChecksDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Follow up cash and checks";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");

    SelectList branches = new SelectList(Model.branchDTOs, "BranchId", "BranchDesc");
    SelectList users = new SelectList(Model.userDTOs, "UserCode", "UserName");

}
@inject IViewLocalizer localizer
@* <style>
    .image {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        z-index: -1;
    }
</style> *@
<div class="container pt-2 " style="min-height:90vh;">
    @* <img class="image" src="/background.jpg" style="position:absolute;" /> *@

    <div class="d-flex justify-content-between align-items-center mt-4">
        <h1 class="header">@localizer["Follow up cash and checks"]</h1>
        <div class="d-flex gap-2">
            <a asp-controller="AccSafeCash" asp-action="Add_PaymentReceipt" asp-route-docType="@ViewBag.docType" asp-route-safeCode="@ViewBag.safeCode" asp-route-fYear="@ViewBag.fYear" class="btn btn-sm btn-primary fs-6" style="width:120px">
                @localizer["Cash in Treasury"]
            </a>
            <a asp-controller="AccSafeCash" asp-action="Add_PaymentReceipt" asp-route-docType="@ViewBag.docType" asp-route-safeCode="@ViewBag.safeCode" asp-route-fYear="@ViewBag.fYear" class="btn btn-sm btn-primary fs-6" style="width:120px">
                @localizer["Incoming Checks"]
            </a>
            <a asp-controller="AccSafeCash" asp-action="Add_PaymentReceipt" asp-route-docType="@ViewBag.docType" asp-route-safeCode="@ViewBag.safeCode" asp-route-fYear="@ViewBag.fYear" class="btn btn-sm btn-primary fs-6" style="width:120px">
                @localizer["Follow up Checks"]
            </a>
        </div>
    </div>
    <div class="overflow-auto" style="max-height:calc(100vh - 145px)">
        <div class=" d-flex justify-content-between align-items-center flex-column flex-md-row gap-3 my-2">
            <div class="d-flex align-items-center flex-column flex-md-row w-100">
                <label for="branches" class="@(isRTL ? "ms-3" : "me-3") mb-1 mb-md-0">@localizer["Branches"]</label>
                <select id="branches" asp-items="branches" class="form-control text-center w-100" onchange="getUserPermissionsForStock(event)">
                    <option value="">-- Choose --</option>
                </select>
            </div>
            <div class="d-flex align-items-center flex-column flex-md-row w-100">
                <label for="safeName" class="@(isRTL ? "ms-3" : "me-3") mb-1 mb-md-0">@localizer["Treasury"]</label>
                <input id="safeName" value="@Model.SafeNames" disabled class="form-control text-center w-100" />
            </div>
            <div class="d-flex align-items-center flex-column flex-md-row w-100">
                <label for="users" class="@(isRTL ? "ms-3" : "me-3") mb-1 mb-md-0">@localizer["Users"]</label>
                <select id="users" asp-items="users" class="form-control text-center w-100" onchange="getPermissionsInStock(event)">
                    <option value="">-- Choose --</option>
                </select>
            </div>
        </div>
        <!---------------------------------------------------------->
        <div class=" d-flex  align-items-center flex-column flex-md-row gap-3 my-2">
            <div class="d-flex align-items-center flex-column flex-md-row" style="width:30% !important;">
                <label for="filter" class="@(isRTL ? "ms-3" : "me-3") mb-1 mb-md-0">@localizer["Filter By"]</label>
                <select id="filter"  class="form-control text-center">
                    <option value="1">@localizer["Receipt"]</option>
                    <option value="2">@localizer["Period"]</option>
                </select>
            </div>
            <div class="d-flex align-items-center flex-column flex-md-row gap-2" style="width:70% !important;">
                <div class="d-flex">
                    <label>@localizer["From Receipt No"]</label>
                    <input class="form-control text-center" />
                </div>
                <div class="d-flex">
                    <label>@localizer["To Receipt No"]</label>
                    <input class ="form-control text-center" />
                </div>
            </div>
        </div>
    </div>
</div>

