@model AccSafeCashEditAddDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Add Disbursement Permission";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList journals = new SelectList(Model.journalTypes, "JournalCode", "JournalName");
    SelectList gtables = new SelectList(Model.gTablels, "GCode", "GDesc");
    SelectList costCenters = new SelectList(Model.costCenters, "CostCode", "CostDesc");
    SelectList safeNames = new SelectList(Model.treasuryNames, "SafeCode", "SafeNames");
    SelectList accGlobalDef = new SelectList(Model.accGlobalDefs, "CodeNo", "CodeDesc");
    SelectList mainAccCodes = new SelectList(Model.accMainCodes, "MainCode", "MainName");
    // SelectList subAccCodes = new SelectList(Model.SubAccCodes, "SubCode", "SubName");

}
@inject IViewLocalizer localizer
@* <style>
    .image {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        z-index: -1;
    }
</style> *@
<div class="container pt-2" style="min-height:100vh;">
    @* <img class="image" src="/background.jpg" style="position:absolute;" /> *@

    <h1 class="mt-4">@localizer["Add Disbursement permission Cash"]</h1>
    <form method="post" asp-action="Add_DisbursementPermission" id="myForm">
        <div class="border p-3 mt-4">

            <div asp-validation-summary="ModelOnly"></div>
            @* hidden *@
            <input asp-for="DocNo" hidden value="@ViewBag.SerialID" />
            <input asp-for="DocType" hidden value="@ViewBag.docType" />
            <input asp-for="FYear" hidden value="@ViewBag.fYear" />
            <input asp-for="UserCode" hidden value="@ViewBag.userCode" />
            <input asp-for="BranchId" hidden value="@ViewBag.branchId" />

            <!------------------------------------------------------------------------------->

            <div class="parent d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="d-flex align-items-center justify-content-between mb-3" style="width: 100% !important;">
                    <label asp-for="Flag" style="width: 10% !important;"></label>
                    <select asp-for="Flag" class="form-control text-center">
                        <option value="1">@localizer["Posting of Invoices"]</option>
                        <option value="2">@localizer["Posting of Treasury"]</option>
                        <option value="3">@localizer["Posting of Pharmacy"]</option>
                    </select>
                    <span asp-validation-for="Flag" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-center gap-3" style="width: 100% !important;">
                    <div class="d-flex align-items-center justify-content-between mb-3" style="width: 60% !important;">
                        <label asp-for="AccTransType" style="width: 25% !important;"></label>
                        <select asp-for="AccTransType" asp-items="journals" class="form-control text-center">

                        </select>
                        <span asp-validation-for="AccTransType" class="text-danger"></span>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-3" style="width: 40% !important;">
                        <label asp-for="AccTransNo" style="width: 50% !important;"></label>
                        <input asp-for="AccTransNo" class="form-control" />
                        <span asp-validation-for="AccTransNo" class="text-danger"></span>
                    </div>

                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permission d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="mb-3" style="width: 100% !important;">
                    <label asp-for="EntryType"></label>
                    <select asp-for="EntryType" asp-items="gtables" class="form-control text-center">
                        <option value="">-- Choose --</option>
                    </select>
                    <span asp-validation-for="EntryType" class="text-danger"></span>
                </div>
                <div class="parent-permission d-flex justify-content-center gap-3" style="width: 100% !important;">
                    <div class="mb-3 " style="width: 20% !important;">
                        <label asp-for="SerId" class="ms-2">@localizer["SerialId"]</label>
                        <input asp-for="SerId" disabled value="1" class="form-control" />
                        <span asp-validation-for="SerId" class="text-danger"></span>
                    </div>
                    <div class="mb-3 " style="width: 80% !important;">
                        <label asp-for="CostCenterCode"></label>
                        <select asp-for="CostCenterCode" asp-items="costCenters" class="form-control text-center">
                            <option value="">-- Choose --</option>
                        </select>
                        <span asp-validation-for="CostCenterCode" class="text-danger"></span>
                    </div>

                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permission d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="parent-permission d-flex justify-content-center gap-3" style="width: 100% !important;">
                    <label asp-for="DocNo" style="width: 48% !important;"></label>
                    <div class="mb-3 " style="width: 60% !important;">
                        <input asp-for="DocNo" class="form-control text-center" disabled value="@ViewBag.SerialID" />
                        <span asp-validation-for="DocNo" class="text-danger"></span>
                    </div>
                    <div class="mb-3 " style="width: 40% !important;">
                        <input asp-for="FYear" disabled class="form-control text-center" />
                    </div>
                </div>
                <div class="mb-3" style="width: 100% !important;">
                    <label asp-for="AprovedFlag"></label>
                    <select asp-for="AprovedFlag" class="form-control text-center">
                        <option value="NO">@localizer["No"]</option>
                        <option value="APP">@localizer["Yes"]</option>
                    </select>
                    <span asp-validation-for="AprovedFlag" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permission d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="parent-permission d-flex justify-content-center gap-3" style="width: 100% !important;">
                    <div class="mb-3 " style="width: 100% !important;">
                        <label asp-for="SafeCode"></label>
                        <select asp-for="SafeCode" asp-items="safeNames" class="form-control text-center">
                        </select>
                        <span asp-validation-for="SafeCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3" style="width: 100% !important;">
                    <label asp-for="DocDate"></label>
                    <input asp-for="DocDate" class="form-control" />
                    <span asp-validation-for="DocDate" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permission d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="parent-permission d-flex justify-content-center gap-3" style="width: 100% !important;">
                    <label asp-for="CurCode" style="width: 48% !important;"></label>
                    <div class="mb-3 " style="width: 40% !important;">
                        <input asp-for="CurSer" class="form-control text-center" value="1" style="pointer-events:none; background-color:#e9ecef;" />
                    </div>
                    <div class="mb-3 " style="width: 60% !important;">
                        <select asp-for="CurCode" asp-items="accGlobalDef" onchange="Currency(event)" class="form-control text-center">
                        </select>
                        <span asp-validation-for="CurCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3" style="width: 100% !important;">
                    <label asp-for="Rate1"></label>
                    <input asp-for="Rate1" class="form-control text-center" disabled value="1" />
                    <span asp-validation-for="Rate1" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permission d-flex align-items-md-end justify-content-start  my-mobile gap-3 ">
                <div class="mb-3" style="width: 100% !important;">
                    <label asp-for="PersonName" style="width: 20% !important;">@localizer["Receiver Name"]</label>
                    <input asp-for="PersonName" class="form-control" />
                    <span asp-validation-for="PersonName" class="text-danger"></span>

                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permission d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="parent-permission d-flex justify-content-center gap-3" style="width: 100% !important;">
                    <label style="width: 48% !important;">@localizer["Financing Entity"]</label>
                    <div class="mb-3 " style="width: 50% !important;">
                        @* <label asp-for="MainCode"></label> *@
                        <select asp-for="MainCode" asp-items="mainAccCodes" class="form-control text-center" onchange="getSubCodes(event)">
                            <option value="">-- Choose --</option>
                        </select>
                        <span asp-validation-for="MainCode" class="text-danger"></span>
                    </div>
                    <div class="mb-3 " style="width: 50% !important;">
                        @* <label asp-for="SubCode"></label> *@
                        <select asp-for="SubCode" class="form-control text-center" onchange="getNameSub(event)">
                            <option value="">-- Choose --</option>
                        </select>
                        <span asp-validation-for="SubCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3" style="width: 100% !important;">
                    <input id="mainAndSub" class="form-control text-center" disabled />
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permission d-flex align-items-md-end justify-content-center  my-mobile gap-3 ">
                <div class="mb-3" style="width: 100% !important;">
                    <label asp-for="ValuePay"></label>
                    <input asp-for="ValuePay" type="number" class="form-control" onchange="getNumbersWord(event)" />
                    <span asp-validation-for="ValuePay" class="text-danger"></span>
                </div>
                <div class="mb-3" style="width: 100% !important;">
                    <input id="numberToWord" disabled class="form-control" />
                </div>
            </div>

            <!------------------------------------------------------------------------------->

            <div class="parent-permission d-flex align-items-md-end justify-content-start  my-mobile gap-3 ">
                <div class="mb-3" style="width: 100% !important;">
                    <label asp-for="Commentt" style="width: 20% !important;"></label>
                    <input asp-for="Commentt" class="form-control" />
                    <span asp-validation-for="Commentt" class="text-danger"></span>
                </div>
            </div>

            <!------------------------------------------------------------------------------->


            <div class="parent d-flex justify-content-md-center gap-2 ">
                <button type="submit" class="btn btn-primary" style="width:150px">
                    @localizer["Add Permission"]
                </button>
                <a asp-controller="DisbursementPermission" asp-action="Index" asp-route-docType="SFCOT" asp-route-flagType="oneANDtwo" class="btn btn-secondary" style="width:150px">
                    @localizer["Cancel"]
                </a>
            </div>
        </div>
    </form>
</div>
<script>
    function getNumbersWord(e) {
        let number = e.target.value;
        // console.log(number);

        $.ajax({
            url: `/Treasury/AccSafeCash/GetNumbersToWord/${number}`,
            success: function (result) {
                // console.log(result);
                let numberToWord = document.getElementById("numberToWord");
                numberToWord.value = result
            }
        });
    }
    function getSubCodes(e) {
        let mainElement = e.target;
        let subElement = document.getElementById("SubCode");

        let mainName = e.target.options[e.target.selectedIndex].text;
        // console.log(mainName)
        let mainAndSub = document.getElementById("mainAndSub");
        if (e.target.value) {
            mainAndSub.value = mainName;
        }
        else
            mainAndSub.value = "";

        subElement.innerHTML = `<option value="">-- Choose --</option>`;

        $.ajax({
            url: `/Treasury/AccSafeCash/GetSubCodesFromAcc/${mainElement.value}`,
            success: function (result) {
                // console.log(result);
                for (let item of result) {
                    subElement.innerHTML +=
                        `<option value="${item.subCode}">${item.subName}</option>`;
                }
            }
        });
    }
    function getNameSub(e) {

        let subName = e.target.options[e.target.selectedIndex].text;
        let mainAndSub = document.getElementById("mainAndSub");
        let oldValue = mainAndSub.value;
        if (e.target.value) {
            mainAndSub.value = oldValue + ' - ' + subName;
        }
        else
            mainAndSub.value = oldValue;

    }
    function Currency(e) {
        var value = e.target.value;
        var valueSer = document.getElementById("CurSer");
        valueSer.value = value;
    }
</script>