@model List<DoctorViewDTO>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Doctors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject IViewLocalizer localizer

<style>
    .active-row {
        background-color: #cdcdcd;
    }
    .image {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        z-index: -1;
    }
</style>

<div class="container pt-2" style=" min-height:100vh;">
    <img class="image" src="/background.jpg" style="position:absolute;" />

    <div class="d-flex justify-content-between align-items-center mt-4 ">
        <h1 class="header">@localizer["Doctors"]</h1>

        <a asp-controller="Doctor" asp-action="Add_Doctor" class="btn btn-sm btn-primary fs-6" style="width:150px">
            @localizer["Add Doctor"]
        </a>
    </div>
    <div class="overflow-auto"  style="height: 300px;">
        <table id="myTable" class="table table-bordered table-hover" style="width:100%;">
            <thead class="table-dark">
                <tr>
                    <th class="align-middle">
                        @localizer["Code"]
                    </th>
                    <th class="align-middle">
                        @localizer["Doctor Name"]
                    </th>
                    <th class="align-middle">
                        @localizer["Doctor Type"]
                    </th>
                    <th class="align-middle">
                        @localizer["Doctor Degree"]
                    </th> 
                    <th class="align-middle">
                        @localizer["Tax"]
                    </th> 
                    <th class="align-middle">
                        @localizer["Contributor"]
                    </th>
                    <th class="align-middle">
                        @localizer["Activation"]
                    </th>
                    <th class="align-middle">
                        @localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dr in Model)
                {
                    <tr onclick="GetDocSubDtl(event,@dr.DrId)" style="cursor:pointer;">
                        <td>
                            @dr.DrId
                        </td>
                        <td class="item-name">
                            @dr.DrDesc
                        </td>
                        <td>
                            @if(dr.DrType ==1)
                                @localizer["Internal"]
                            else if (dr.DrType == 2)
                                @localizer["External"]
                            else if (dr.DrType == 0)
                                @localizer["Without"]
                        </td>
                        <td>
                            @dr.DegreeDesc
                        </td>
                        <td>
                            @if (dr.Taxable == 1)
                                @localizer["Free Positions"]
                            else if (dr.Taxable == 2)
                                @localizer["Exempt"]
                            else if (dr.Taxable == 3)
                                @localizer["Gain Work"]
                            else if (dr.Taxable == 4)
                                @localizer["Gain Insurance work"]
                        </td>
                        <td>
                            @if (dr.Shareholder == 0)
                                @localizer["Non-Contributor"]
                            else if (dr.Shareholder == 1)
                                @localizer["Contributor"]
                        </td>
                        <td>
                            @if (dr.DrOnOff == 1)
                                @localizer["Yes"]
                            else if (dr.DrOnOff == 0)
                                @localizer["No"]

                        </td>
                        <td width="30%" class="text-center">
                            <a asp-controller="Doctor" asp-action="Edit_Doctor" asp-route-ID="@dr.DrId" class="btn btn-sm btn-success mb-1 fs-6" style="width:150px">
                                <i class="bi bi-pencil"></i> @localizer["Edit"]
                            </a>

                            <form asp-action="Delete_Doctor" method="post" class="d-inline">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@dr.DrId" />
                                <button type="submit" class="btn btn-sm btn-danger mb-1  fs-6" onclick="return confirm('Are you sure you want to delete this item ?');" style="width:150px">@localizer["Delete"] </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @* /////////////////////////////////////////////////////////////////// *@

    @* Table for DocSUbDtl *@

    <div class="DocSubDtl-table-head d-flex justify-content-between align-items-center mt-4">
        <h2 class="header DocSub-Dtl">@localizer["Specialties of Doctor"] :</h2>

        <a class="btn btn-sm btn-primary fs-6" style="width:150px">
            @localizer["Add Specialty"]
        </a>
        @* asp-controller="MedAnalysis" asp-action="Add_SubItemAnalysis" asp-route-ID="@ViewBag.item.MainCode" asp-route-itemAnalCode="" *@
    </div>

    <div class="border border-success p-0 mb-2 border-opacity-75 overflow-auto" style="max-height: 300px;">

        <table id="myTable" class="table table-bordered table-hover docSubDtl-table" style="width:100%">
            <thead class="table-dark">
                <tr>
                    <th class="align-middle">
                        @localizer["Department"]
                    </th>
                    <th class="align-middle">
                        @localizer["Specialty"]
                    </th>
                    <th class="align-middle">
                        @localizer["Activation"]
                    </th>
                    <th class="align-middle">
                        @localizer["Main Specialty"]
                    </th>
                    <th class="align-middle">
                        @localizer["Action"]
                    </th>

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

   @* /////////////////////////////////////////////////////////////////// *@

</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>


<script>
    @* Ajax for DocDTL *@
        function GetDocSubDtl(e, id) {
            var docSubDtls = document.querySelector(".docSubDtl-table tbody");
            // Handle active clic
            let allItemRows = e.target.parentElement.parentElement.querySelectorAll("tr");;

            allItemRows.forEach(row => {
                row.classList.remove("active-row");
            });

            let clickedTarget = e.target.parentElement
            clickedTarget.classList.add("active-row");
            ///////////////////////////////////////////////////////////////////

            // Catch header for Doctor sub dtl => doctor id and reset it
            let docSubDtlHead = document.querySelector(".DocSubDtl-table-head");

            let itemName = clickedTarget.querySelector(".item-name").innerText;
            //console.log(itemName)

            let docSubDtlHeader = docSubDtlHead.querySelector(".header.DocSub-Dtl"); // Display Header for doctor sub dtls
            docSubDtlHeader.innerHTML = "@localizer["Specialties of Doctor"] :" + itemName;

            let docSubDtlAddButton = docSubDtlHead.querySelector("a");
            docSubDtlAddButton.setAttribute("href", `/Medical/DoctorSpecialties/Add_DocSubDtl/${id}`);
            // console.log(docSubDtlAddButton);
            ///////////////////////////////////////////////////////////////////

            // Handle ajax call
            docSubDtls.innerHTML = "";  // Empty the body

            $.ajax({
                url: `/Medical/DoctorSpecialties/GetDocSubDtl/${id}`,
                success: function (result) {
                   // console.log(result);
                    // console.log(result.sort((a, b) => b.itemanalcode - a.itemanalcode));
                    //sortng
                    //result.sort((a, b) => b.counter - a.counter)

                    for (let item of result) {
                        const docDtl = document.createElement("tr");
                        docDtl.innerHTML +=

                            `
                                <td class="align-middle">${item.clinicDesc}</td>
                                <td class="align-middle">${item.sClinicDesc}</td>
                                    ${item.drOnOff == 1 ?
                                `<td class="align-middle">@localizer["Activate"]</td>`
                                : `<td class="align-middle">@localizer["UnActivate"]</td>`}
                                     ${item.docSubDef == 1 ?
                                `<td class="align-middle">@localizer["Main Specialty"]</td>`
                                : `<td class="align-middle">@localizer["Un-Main Specialty"]</td>`}

                                <td width="30%" class="text-center">
                                  <a href="/Medical/DoctorSpecialties/Edit_DocSubDtl/${item.docSubId}" class="btn btn-sm btn-success mb-1  fs-6" style="width:150px">
                                        <i class="bi bi-pencil"></i> @localizer["Edit"]
                                    </a>
                                <form action="/Medical/DoctorSpecialties/Delete_DocSubDtl" method="post" class="d-inline">
                            @Html.AntiForgeryToken()
                                        <input type="hidden" name="id" value="${item.docSubId}" />
                                        <input type="hidden" name="redirect" value="Invoices" />
                                    <button type="submit" class="btn btn-sm btn-danger mb-1  fs-6" onclick="return confirm('Are you sure you want to delete this item ?');" style="width:150px">@localizer["Delete"]</button>
                                    </form>
                                </td>
                                        `;
                        docSubDtls.appendChild(docDtl);
                    }
                }
            });
        }
</script>
